<%= render partial: 'layouts/header' %>
<%# ==================================== %>
<%# トップイメージ
<%# ==================================== %>
<section class="RecruitKeyVisual">
  <div class="L_key-visual">
    <div class="L_key-visual__inner">
      <div class="C_image__recruit"></div>
      <%#-- サブタイトル縦書き --%>
      <div class="P_Recruit__kv__title-box right">
        <h3 class="P_Recruit__kv__text">子どもたちの未来を</h3>
      </div>
      <div class="P_Recruit__kv__title-box left">
        <h3 class="P_Recruit__kv__text">一緒に育みましょう。</h3>
      </div>
      <%#-- 採用タイトル --%>
      <h1 class="P_Recruit__kv__main-title">RECRUITING</h1>
      <h2 class="P_Recruit__kv__sub-title">ー Let's Work Together ー</h2>
      <%#-- raindrop --%>
      <div class="P_Recruit__kv__rain">
        <div class="JS_raindrops_target"></div>
      </div>
      <%#-- シャボン玉左上 --%>
      <%=render'layouts/shabon',{x:16,y:13,cl:'P_Recruit__kv',size:'LLL',time:'3',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:27,y:28,cl:'P_Recruit__kv',size:'LLL',time:'2',ptn:'B',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:19,y:40,cl:'P_Recruit__kv',size:'L',time:'1',ptn:'A',dir:'right',jscl:''}%>
      <%#-- シャボン玉右上 --%>
      <%=render'layouts/shabon',{x:83,y:24,cl:'P_Recruit__kv',size:'S'  ,time:'2',ptn:'B',dir:'left',jscl:''}%>
      <%=render'layouts/shabon',{x:90,y:20,cl:'P_Recruit__kv',size:'SS' ,time:'3',ptn:'A',dir:'left',jscl:''}%>
      <%=render'layouts/shabon',{x:92,y:28,cl:'P_Recruit__kv',size:'SS' ,time:'2',ptn:'A',dir:'left',jscl:''}%>
      <%=render'layouts/shabon',{x:96,y:25,cl:'P_Recruit__kv',size:'SSS',time:'3',ptn:'B',dir:'left',jscl:''}%>
      <%=render'layouts/shabon',{x:86,y:16,cl:'P_Recruit__kv',size:'SSS',time:'3',ptn:'A',dir:'left',jscl:''}%>
      <%#-- シャボン玉左下 --%>
      <%=render'layouts/shabon',{x:4, y:76,cl:'P_Recruit__kv',size:'LLL',time:'3',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:10,y:87,cl:'P_Recruit__kv',size:'M'  ,time:'3',ptn:'B',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:7, y:92,cl:'P_Recruit__kv',size:'SSS',time:'1',ptn:'A',dir:'right',jscl:''}%>
      <%#-- シャボン玉右下 --%>
      <%=render'layouts/shabon',{x:86,y:82,cl:'P_Recruit__kv',size:'LLL',time:'2',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:92,y:90,cl:'P_Recruit__kv',size:'M'  ,time:'2',ptn:'B',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:86, y:94,cl:'P_Recruit__kv',size:'SSS',time:'1',ptn:'A',dir:'right',jscl:''}%>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# コンセプト
<%# ==================================== %>
<section class="RecruitConcept">
  <article class="P_Recruit__concept">
    <div class="C_wrap__1000">
      <%#-- タイトル --%>
      <h1 class="P_Recruit__concept__title">concept</h1>
      <%#-- コンセプトのコンテンツボックス --%>
      <div class="P_Recruit__concept__container">
        <div class="P_Recruit__concept__inner left">
          <%#-- テキストコンテント --%>
          <h2 class="P_Recruit__concept__inner-left title">子どもの「好き」を見つけませんか？
          </h2>
          <p class="P_Recruit__concept__inner-left sentense">　私たち保育教諭は、子どもの「はじめて」のいつもとなりにいます。その「はじめて」が「好き」になれば、子どもの可能性が無限に広がります。<br>
          　子どもは「できた」「楽しい」を私たちに投げかけます。その時、笑顔でその楽しさを共有できれば、それが子どもの「好き」に繋がります。私たちは一つでも多くの「好き」を見つけてあげたいと考えます。<br>
          　さぁ、わたしたちと一緒に、子どもたちの七彩(なないろ)の未来を育みませんか？</p>
        </div>
        <%#-- イメージコンテント --%>
        <div class="P_Recruit__concept__inner">
          <%= image_tag 'recruit/recruit2.jpg', class: 'P_Recruit__concept__image' %>
        </div>
      </div>
      <%#-- シャボン玉左上 --%>
      <%=render'layouts/shabon',{x:58,y:29,cl:'P_Recruit__concept',size:'SSS',time:'1',ptn:'B',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:54,y:29,cl:'P_Recruit__concept',size:'M'  ,time:'3',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:50, y:18,cl:'P_Recruit__concept',size:'LLL',time:'2',ptn:'B',dir:'right',jscl:''}%>
      <%#-- シャボン玉右下 --%>
      <%=render'layouts/shabon',{x:86,y:72,cl:'P_Recruit__concept',size:'S',time:'3',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:88,y:78,cl:'P_Recruit__concept',size:'S',time:'1',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:90,y:73,cl:'P_Recruit__concept',size:'SS'  ,time:'2',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:93, y:76,cl:'P_Recruit__concept',size:'SSS',time:'3',ptn:'A',dir:'right',jscl:''}%>
    </div>
  </article>
</section>
<%# ==================================== %>
<%# 職員紹介
<%# ==================================== %>
<section class="Staff">
  <%#-- イメージボックス --%>
  <div class="P_Recruit__staff">
    <%#-- バックイメージ --%>
    <div class="P_Recruit__staff__back">
      <%#-- バックイメージ1 --%>
      <div class="JS_hover_click_target_backImg A_isInvisible">
        <div class="C_image__recruit__staff1"></div>
        <div class="JS_click_close_target A_isNone">
          <%#-- 紹介文 --%>
          <%=render'layouts/staff_info',{ 
            name:'北野　沙織',
            name_en:'kitano saori',
            work_style:'正規・常勤',
            license:'栄養士・調理師',
            catch_copy:'美味しい給食で子どもたちに笑顔を',
            catch_sentense:'子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を',
            holiday:'たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている',
            favorite:'たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている'
          }%>
        </div>
      </div>
      <%#-- バックイメージ2 --%>
      <div class="JS_hover_click_target_backImg A_isInvisible">
        <div class="C_image__recruit__staff2"></div>
        <div class="JS_click_close_target A_isNone">
          <%#-- 紹介文 --%>
          <%=render'layouts/staff_info',{ 
            name:'北野　沙織',
            name_en:'kitano saori',
            work_style:'正規・常勤',
            license:'栄養士・調理師',
            catch_copy:'美味しい給食で子どもたちに笑顔を',
            catch_sentense:'子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を',
            holiday:'たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている',
            favorite:'たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている'
          }%>
        </div>
      </div>
      <%#-- バックイメージ3 --%>
      <div class="JS_hover_click_target_backImg A_isInvisible">
        <div class="C_image__recruit__staff3"></div>
        <div class="JS_click_close_target A_isNone">
          <%#-- 紹介文 --%>
          <%=render'layouts/staff_info',{ 
            name:'北野　沙織',
            name_en:'kitano saori',
            work_style:'正規・常勤',
            license:'栄養士・調理師',
            catch_copy:'美味しい給食で子どもたちに笑顔を',
            catch_sentense:'子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を',
            holiday:'たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている',
            favorite:'たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている'
          }%>
        </div>
      </div>
      <%#-- バックイメージ4 --%>
      <div class="JS_hover_click_target_backImg A_isInvisible">
        <%#-- イメージ --%>
        <div class="C_image__recruit__staff4"></div>
        <div class="JS_click_close_target A_isNone">
          <%#-- 紹介文 --%>
          <%=render'layouts/staff_info',{ 
            name:'北野　沙織',
            name_en:'kitano saori',
            work_style:'正規・常勤',
            license:'栄養士・調理師',
            catch_copy:'美味しい給食で子どもたちに笑顔を',
            catch_sentense:'子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を',
            holiday:'たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている',
            favorite:'たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている'
          }%>
        </div>
      </div>
    </div>
    <%#-- 閉じるボタン --%>
    <div class="JS_click_close_target A_isNone">
      <div class="P_Recruit__staff__btn">
        <div class="C_box--btn A_toRotate">
          <i class="far fa-times-circle A_toRotate__target"></i>
          <div class="JS_click_close_trigger"></div>
        </div>
      </div>
    </div>
    <%#-- フロントイメージ --%>
    <div class="P_Recruit__staff__front">
      <%#-- フロントイメージ１ --%>
      <div class="P_Recruit__staff__inner">
        <div class="JS_click_target">
          <div class="JS_hover_click_target_frontImg">
            <div class="P_Recruit__staff__front-image">
              <div class="C_image__recruit__staff1"></div>
            </div>
          </div>
          <div class="JS_hover_target_frontSdw A_isInvisible">
            <div class="C_cover--shadow-white"></div>
          </div>
          <div class="JS_hover_target_frontTxt">
            <h1 class="P_Recruit__staff__front-catch">仕事も家族も</h1>
          </div>
          <div class="JS_hover_click_trigger"></div>
        </div>
      </div>
      <%#-- フロントイメージ2 --%>
      <div class="P_Recruit__staff__inner">
        <div class="JS_click_target">
          <div class="JS_hover_click_target_frontImg">
            <div class="P_Recruit__staff__front-image">
              <div class="C_image__recruit__staff2"></div>
            </div>
          </div>
          <div class="JS_hover_target_frontSdw A_isInvisible">
            <div class="C_cover--shadow-white"></div>
          </div>
          <div class="JS_hover_target_frontTxt">
            <h1 class="P_Recruit__staff__front-catch">ひとりひとりの子どもを大切に</h1>
          </div>
          <div class="JS_hover_click_trigger"></div>
        </div>
      </div>
      <%#-- フロントイメージ3 --%>
      <div class="P_Recruit__staff__inner">
        <div class="JS_click_target">
          <div class="JS_hover_click_target_frontImg">
            <div class="P_Recruit__staff__front-image">
              <div class="C_image__recruit__staff3"></div>
            </div>
          </div>
          <div class="JS_hover_target_frontSdw A_isInvisible">
            <div class="C_cover--shadow-white"></div>
          </div>
          <div class="JS_hover_target_frontTxt">
            <h1 class="P_Recruit__staff__front-catch">言葉を手渡す</h1>
          </div>
          <div class="JS_hover_click_trigger"></div>
        </div>
      </div>
      <%#-- フロントイメージ4 --%>
      <div class="P_Recruit__staff__inner">
        <div class="JS_click_target">
          <div class="JS_hover_click_target_frontImg">
            <div class="P_Recruit__staff__front-image">
              <div class="C_image__recruit__staff4"></div>
            </div>
          </div>
          <div class="JS_hover_target_frontSdw A_isInvisible">
            <div class="C_cover--shadow-white"></div>
          </div>
          <div class="JS_hover_target_frontTxt">
            <h1 class="P_Recruit__staff__front-catch">優しさをもって</h1>
          </div>
          <div class="JS_hover_click_trigger"></div>
        </div>
      </div>
    <%#-- シャドウブラックカバー --%>
    <div class="JS_click_close_target">
      <div class="P_Recruit__staff__cover"></div>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# 就職情報カード
<%# ==================================== %>
<section class="jobInfo">
  <div class="P_Recruit__job-info JS_raindrops_target">
    <div class="C_wrap__600">
      <%#-- 就職情報カード --%>
      <ul class="P_Recruit__job-info__container">
        <%#-- カード1(給与) --%>
        <li class="P_Recruit__job-info__card A_toFadeIn1 JS_scroll_isFadeIn_target1">
          <div class="P_Recruit__job-info__title-box">
            <h1 class="P_Recruit__job-info__title">給料について</h1>
          </div>
          <h3 class="P_Recruit__job-info__sub-title">About Slaly</h3>
          <h4  class="P_Recruit__job-info__sub2-title">●正職員</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
          <h4  class="P_Recruit__job-info__sub2-title">●非常勤(フルタイム・パートタイム)</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </li>
        <%#-- カード2(勤務時間) --%>
        <li class="P_Recruit__job-info__card A_toFadeIn1 JS_scroll_isFadeIn_target1">
          <div class="P_Recruit__job-info__title-box">
            <h1 class="P_Recruit__job-info__title">勤務時間</h1>
          </div>
          <h3 class="P_Recruit__job-info__sub-title">Working Hours</h3>
          <h4  class="P_Recruit__job-info__sub2-title">●正職員</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
          <h4  class="P_Recruit__job-info__sub2-title">●非常勤(フルタイム・パートタイム)</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </li>
        <%#-- カード3(福利厚生) --%>
        <li class="P_Recruit__job-info__card A_toFadeIn1 JS_scroll_isFadeIn_target1">
          <div class="P_Recruit__job-info__title-box">
            <h1 class="P_Recruit__job-info__title">福利厚生</h1>
          </div>
          <h3 class="P_Recruit__job-info__sub-title">About welfare</h3>
          <h4  class="P_Recruit__job-info__sub2-title">●制服貸与</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
          <h4  class="P_Recruit__job-info__sub2-title">●研修</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </li>
      </ul>
    </div>
    <%#-- シャボン玉左下 --%>
    <div class="C_box__shabon_LLL U_abs-X5pct-Y67pct A_shabon-roll-3A">
      <span class="A_shabon-hori-3A"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-3A' %>
    </div>
    <div class="C_box__shabon_M U_abs-X10pct-Y78pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-2B' %>
    </div>
    <div class="C_box__shabon_SSS U_abs-X7pct-Y83pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-1A' %>
    </div>
    <%#-- シャボン玉右下 --%>
    <div class="C_box__shabon_LLL U_abs-X85pct-Y77pct A_shabon-roll-2A">
      <span class="A_shabon-hori-2A"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-2A' %>
    </div>
    <div class="C_box__shabon_M U_abs-X90pct-Y88pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-2B' %>
    </div>
    <div class="C_box__shabon_SSS U_abs-X87pct-Y93pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-1A' %>
    </div>
  </div>
</section>
<section>
 <div class="U_hy-100">
 </div>
</section>

<%= render partial: 'layouts/footer' %>

<%#-- scrolltriggerのcdn --%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
