<%= render partial: 'layouts/header' %>
<%# ==================================== %>
<%# トップイメージ                         %>
<%# ==================================== %>
<section class="TopImage">
  <div class="TopImage-box U_hy-100 U_relative JS_raindrops_target">
    <%#-- トップ画像 --%>
    <div class="C_image__recruit L_inner--full U_relative">
    </div>
    <%#-- サブタイトル縦書き --%>
    <div class="C_box--vertical U_abs-X20pct-Y15pct U_bgc--white U_rds--little U_border--tough">
      <h1 class="C_text__sentence2">子どもたちの未来を</h1>
    </div>
    <div class="C_box--vertical U_abs-X13pct-Y40pct U_bgc--white U_rds--little U_border--tough">
      <h1 class="C_text__sentence2">一緒に育みましょう。</h1>
    </div>
    <%#-- シャボン玉 --%>
    <div class="C_box--deco__shabon_M U_abs-X82pct-Y12pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-1A' %>
    </div>
    <div class="C_box--deco__shabon_S U_abs-X83pct-Y24pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-2B' %>
    </div>
    <div class="C_box--deco__shabon_SS U_abs-X90pct-Y20pct A_shabon-roll-3A">
      <span class="A_shabon-hori-3A"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-3A' %>
    </div>
    <div class="C_box--deco__shabon_SS U_abs-X92pct-Y28pct A_shabon-roll-1B">
      <span class="A_shabon-hori-2A"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-2A' %>
    </div>
    <div class="C_box--deco__shabon_SSS U_abs-X96pct-Y25pct A_shbaon-roll-3B">
      <span class="A_shabon-hori-3B"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-3B' %>
    </div>
    <div class="C_box--deco__shabon_SSS U_abs-X86pct-Y16pct A_shabon-roll-3A">
      <span class="A_shabon-hori-3A"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-3A' %>
    </div>
    <%#-- シャボン左下 --%>
    <div class="C_box--deco__shabon_LLL U_abs-X5pct-Y67pct A_shabon-roll-3A">
      <span class="A_shabon-hori-3A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-3A' %>
    </div>

    <div class="C_box--deco__shabon_M U_abs-X10pct-Y78pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-2B' %>
    </div>
    <div class="C_box--deco__shabon_SSS U_abs-X7pct-Y83pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-1A' %>
    </div>
    <%#-- シャボン右下 --%>
    <div class="C_box--deco__shabon_LLL U_abs-X85pct-Y77pct A_shabon-roll-2A">
      <span class="A_shabon-hori-2A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-2A' %>
    </div>
    <div class="C_box--deco__shabon_M U_abs-X90pct-Y88pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-2B' %>
    </div>
    <div class="C_box--deco__shabon_SSS U_abs-X87pct-Y93pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-1A' %>
    </div>
    <%#-- 採用タイトル --%>
    <h1 class="U_abs-X50pct-Y94pct C_text__recruit-title U_fnt-c--white">RECRUITING</h1>
    <h3 class="U_abs-X50pct-Y98pct C_text__recruit-subtitle U_fnt-c--white">ー Let's Work Together ー</h3>
  </div>
</section>
<%# ==================================== %>
<%# コンセプト                             %>
<%# ==================================== %>
<section class="Concept">
  <article class="U_hy-60 U_px-12pct U_py-100 U_my-120 U_relative U_bgc--white">
    <%#-- タイトル --%>
    <h1 class="C_text__recruit-content U_abs-X12pct-Y14pct">concept</h1>
    <%#-- シャボン玉左上 --%>
    <div class="C_box--deco__shabon_SSS U_abs-X53pct-Y22pct A_shabon-roll-1B">
      <span class="A_shabon-hori-1B"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-1B' %>
    </div>
    <div class="C_box--deco__shabon_M U_abs-X49pct-Y22pct A_shabon-roll-3A">
      <span class="A_shabon-hori-3A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-3A' %>
    </div>
    <div class="C_box--deco__shabon_LLL U_abs-X45pct-Y11pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-2B' %>
    </div>
    <%#-- シャボン玉右下 --%>
    <div class="C_box--deco__shabon_S U_abs-X83pct-Y80pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-1A' %>
    </div>
    <div class="C_box--deco__shabon_SS U_abs-X85pct-Y75pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-2B' %>
    </div>
    <div class="C_box--deco__shabon_SSS U_abs-X88pct-Y82pct A_shabon-roll-3A">
      <span class="A_shabon-hori-3A"></span>
      <%= image_tag '/images/deco/shabon/shabon-left.png', class: 'L_inner--full A_shabon-ver-3A' %>
    </div>
    <%#-- コンセプトのコンテンツボックス --%>
    <div class="L_inner--full L_flex--wrap-center">
      <div class="L_inner--half-X U_pr-30">
        <%#-- テキストコンテント --%>
        <div class="L_inner--X100pct-Y20pct  L_text-right U_pt-13"><span>..................................................</span>
        </div>
        <h2 class="L_inner--X100pct-Y15pct C_text__sentence2">子どもの「好き」を見つけませんか？
        </h1>
        <p class="L_inner--X100pct-Y65pct C_text__sentence U_pt-10">　私たち保育教諭は、子どもの「はじめて」に、いつもとなりにいます。その「はじめて」が「好き」になれば、子どもの可能性が無限に広がります。たとえ、その時できなくとでも、「好き」があれば今後も伸びる可能性があります。私たちは、一つでも多くの子どもの好きを見つけ、その子の将来の選択肢を増やしてあげることができます。<br>
        　「はじめて」の時、子どもたちは「できた」「楽しい」を私たちに投げかけます。その時に笑顔でその楽しさを共有できれば、それが子どもの「好き」に繋がります。<br>
        　さぁ、わたしたちと一緒に、子どもたちの七彩(なないろ)の未来を育みませんか？</p>
      </div>
      <%#-- イメージコンテント --%>
      <div class="L_inner--X50pct-Y100pct">
        <%= image_tag '/images/recruit/recruit2.jpg', class: 'L_inner--full U_rds--little U_border' %>
      </div>
    </div>
  </article>
</section>
<%# ==================================== %>
<%# 職員紹介                              %>
<%# ==================================== %>
<section class="Staff">
  <div class=" U_hy-85">
    <%#-- イメージボックス --%>
    <div class="panel_box L_inner--full L_flex--wrap U_relative">
      <%#-- シャドウブラックカバー --%>
      <div class="L_inner__cover-shadow U_abs-X50pct-Y50pct JS_click_hide_target"></div>
      <%#-- フロントイメージ1 --%>
      <div class="L_inner--quarter JS_hover_trigger JS_click_hide_target JS_click_open_trigger U_relative A_pointer">
        <div class="C_image__recruit__staff1 L_inner--full JS_hover_hide_target A_isVisible A_time-S"></div>
        <div class="L_inner__cover-shadow--white JS_hover_show_shadow_target JS_click_hide_target U_abs-X50pct-Y50pct A_isInvisible"></div>
        <h1 class="C_text__catch--L U_text-align U_abs-X50pct-Y50pct U_fnt-c--white JS_hover_clear_target">仕事も子育ても</h1>
      </div>
      <%#-- フロントイメージ2 --%>
      <div class="L_inner--quarter JS_hover_trigger JS_click_hide_target JS_click_open_trigger U_relative A_pointer">
        <div class="C_image__recruit__staff2 L_inner--full JS_hover_hide_target A_isVisible A_time-S"></div>
        <div class="L_inner__cover-shadow--white JS_hover_show_shadow_target JS_click_hide_target U_abs-X50pct-Y50pct A_isInvisible"></div>
        <h1 class="C_text__catch--L U_text-align U_abs-X50pct-Y50pct U_fnt-c--white JS_hover_clear_target">ひとりひとりの子どもを大切に</h1>
      </div>
      <%#-- フロントイメージ3 --%>
      <div class="L_inner--quarter JS_hover_trigger JS_click_hide_target JS_click_open_trigger U_relative A_pointer">
        <div class="C_image__recruit__staff3 L_inner--full JS_hover_hide_target A_isVisible A_time-S"></div>
        <div class="L_inner__cover-shadow--white JS_hover_show_shadow_target JS_click_hide_target U_abs-X50pct-Y50pct A_isInvisible"></div>
        <h1 class="C_text__catch--L U_text-align U_abs-X50pct-Y50pct U_fnt-c--white JS_hover_clear_target">言葉を手渡す</h1>
      </div>
      <%#-- フロントイメージ4 --%>
      <div class="L_inner--quarter JS_hover_trigger JS_click_hide_target JS_click_open_trigger U_relative A_pointer">
        <div class="C_image__recruit__staff4 L_inner--full JS_hover_hide_target A_isVisible A_time-S"></div>
        <div class="L_inner__cover-shadow--white JS_hover_show_shadow_target JS_click_hide_target U_abs-X50pct-Y50pct A_isInvisible"></div>
        <h1 class="C_text__catch--L U_text-align U_abs-X50pct-Y50pct U_fnt-c--white JS_hover_clear_target">優しさをもって</h1>
      </div>
      <%#-- 閉じるボタン --%>
      <div class="C_box--btn L_flex--center JS_click_show_target JS_click_close_trigger A_isNone U_abs-X100pct-Y0pct A_toRotate">
        <i class="far fa-times-circle A_toRotate__target"></i>
      </div>
      <%#-- バックイメージ1 --%>
      <div class="C_image__recruit__staff1 L_inner--full U_abs-X50pct-Y50pct JS_hover_show_target A_isInvisible A_time-S JS_click_hide_backImage_target">
        <div class="L_inner--half-X A_isInvisible">
        </div>
      </div>
      <%#-- バックイメージ2 --%>
      <div class="C_image__recruit__staff2 L_inner--full U_abs-X50pct-Y50pct JS_hover_show_target A_isInvisible A_time-S JS_click_hide_backImage_target">
        <div class="schedule">
        </div>
      </div>
      <%#-- バックイメージ3 --%>
      <div class="C_image__recruit__staff3 L_inner--full U_abs-X50pct-Y50pct JS_hover_show_target A_isInvisible A_time-S JS_click_hide_backImage_target">
        <div class="schedule">
        </div>
      </div>
      <%#-- バックイメージ4 --%>
      <div class="C_image__recruit__staff4 L_inner--full U_abs-X50pct-Y50pct JS_hover_show_target A_isInvisible A_time-S JS_click_hide_backImage_target U_py-40 U_pr-50pct U_pl-20">
        <%#-- 紹介文 --%>
        <article class="introduction A_toFlip JS_click_show_introduction_target JS_click_flip_trigger A_isNone L_inner--full">
          <%#-- フリップカードボックス --%>
          <div class="A_toFlip--front JS_click_flip_front_target U_box-shadow2 L_inner--full A_isClear U_rds--little U_bgc--white">
            <%#-- フリップカード表 --%>
            <div class="L_inner--X100pct-Y20pct L_flex">
              <div class="L_inner--half-X">
                <div class="L_inner--X100pct-Y30pct L_flex">
                  <div class="L_inner--X60pct-Y100pct">
                    <h1>北野　沙</h1>
                  </div>
                  <div class="L_inner--X40pct-Y100pct">
                    <h2>kitano saori</h2>
                  </div>
                </div>
              </div>
              <div class="L_inner--half-X">
                <div class="L_inner--X100pct-Y25pct">
                  <h3>・年齢　：　２６歳</h3>
                </div>
                <div class="L_inner--X100pct-Y25pct">
                  <h3>・配属　：　給食室・栄養士</h3>
                </div>
                <div class="L_inner--X100pct-Y25pct">
                  <h3>・勤務形態　：　正規常勤</h3>
                </div>
                <div class="L_inner--X100pct-Y25pct">
                  <h3>・所持資格等　：　栄養士・調理師免許</h3>
                </div>
              </div>
            </div>
            <div class="L_inner-X100pct-Y15pct">
              <h1>美味しい給食で子どもたちに笑顔を</h1>
            </div>
            <div class="L_inner-X100pct-Y25pct">
              <h4>　子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を</h4>
            </div>
            <div class="L_inner-X100pct-Y40pct L_flex">
              <div class="L_inner--half-X">
                <div class="L_inner--X100pct-Y20pct">
                  <h3>休日の過ごし方</h3>
                </div>
                <div class="L_inner--X100pct-Y80pct">
                  <h4>たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている</h4>
                </div>
              </div>
              <div class="L_inner--half-X">
                <div class="L_inner--X100pct-Y20pct">
                  <h3>職場の気に入っているところ</h3>
                </div>
                <div class="L_inner--X100pct-Y80pct">
                  <h4>たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている</h4>
                </div>
              </div>
            </div>
          </div>
          <%#-- フリップカード裏 --%>
          <div class="A_toFlip--back JS_click_flip_back_target U_box-shadow2 L_inner--full A_isClear U_rds--little U_bgc--white">
            <div>
              <h1>schedule</h1>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# 就職情報カード                         %>
<%# ==================================== %>
<section class="jobInfo">
  <div class="U_hy-100  U_px-12pct U_pt-50 U_pb-250 JS_raindrops_target U_relative">
    <%#-- 就職情報カード --%>
    <ul class="L_flex--wrap L_inner--full">
      <%#-- カード1(給与) --%>
      <li class="L_inner--triple-X U_bgc--white U_rds--little U_box-shadow U_relative U_py-4pct U_px-3pct A_toFadeIn1 JS_scroll_isFadeIn_target1">
        <div class="L_innerX100pct-Y10pct L_flex--center">
          <div class="C_box U_rds--little U_bgc__title-box1">
            <h2 class="C_text__inBox--L U_fnt-c--white">給料について</h2>
          </div>
        </div>
        <div class="L_innerX100pct-Y5pct U_mb-10">
          <h3 class="U_text-align">About Slaly</h3>
        </div>
        <div class="L_innerX100pct-Y5pct">
          <h4>●正職員</h4>
        </div>
        <div class="L_innerX100pct-Y30pct  U_mb-10">
          <h5>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </div>
        <div class="L_innerX100pct-Y5pct">
          <h4>●非常勤(フルタイム・パートタイム)</h4>
        </div>
        <div class="L_innerX100pct-Y45pct">
          <h5>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </div>
      </li>
      <%#-- カード2(勤務時間) --%>
      <li class="L_inner--triple-X U_bgc--white U_rds--little U_box-shadow U_relative U_py-4pct U_px-3pct A_toFadeIn2 JS_scroll_isFadeIn_target2">
        <div class="L_innerX100pct-Y10pct L_flex--center">
          <div class="C_box U_rds--little U_bgc__title-box1">
            <h2 class="C_text__inBox--L U_fnt-c--white">勤務時間</h2>
          </div>
        </div>
        <div class="L_innerX100pct-Y5pct U_mb-10">
          <h3 class="U_text-align">Working hours</h3>
        </div>
        <div class="L_innerX100pct-Y5pct">
          <h4>●正職員</h4>
        </div>
        <div class="L_innerX100pct-Y30pct  U_mb-10">
          <h5>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </div>
        <div class="L_innerX100pct-Y5pct">
          <h4>●非常勤(フルタイム・パートタイム)</h4>
        </div>
        <div class="L_innerX100pct-Y45pct">
          <h5>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </div>
      </li>
      <%#-- カード3(福利厚生) --%>
      <li class="L_inner--triple-X U_bgc--white U_rds--little U_box-shadow U_relative U_py-4pct U_px-3pct A_toFadeIn3 JS_scroll_isFadeIn_target3">
        <div class="L_innerX100pct-Y10pct L_flex--center">
          <div class="C_box U_rds--little U_bgc__title-box1">
            <h2 class="C_text__inBox--L U_fnt-c--white">福利厚生</h2>
          </div>
        </div>
        <div class="L_innerX100pct-Y5pct U_mb-10">
          <h3 class="U_text-align">About welfare</h3>
        </div>
        <div class="L_innerX100pct-Y5pct">
          <h4>●制服貸与</h4>
        </div>
        <div class="L_innerX100pct-Y30pct  U_mb-10">
          <h5>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </div>
        <div class="L_innerX100pct-Y5pct">
          <h4>●研修</h4>
        </div>
        <div class="L_innerX100pct-Y45pct">
          <h5>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </div>
      </li>
    </ul>
    <%#-- シャボン玉左下 --%>
    <div class="C_box--deco__shabon_LLL U_abs-X5pct-Y67pct A_shabon-roll-3A">
      <span class="A_shabon-hori-3A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-3A' %>
    </div>
    <div class="C_box--deco__shabon_M U_abs-X10pct-Y78pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-2B' %>
    </div>
    <div class="C_box--deco__shabon_SSS U_abs-X7pct-Y83pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-1A' %>
    </div>
    <%#-- シャボン玉右下 --%>
    <div class="C_box--deco__shabon_LLL U_abs-X85pct-Y77pct A_shabon-roll-2A">
      <span class="A_shabon-hori-2A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-2A' %>
    </div>
    <div class="C_box--deco__shabon_M U_abs-X90pct-Y88pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-2B' %>
    </div>
    <div class="C_box--deco__shabon_SSS U_abs-X87pct-Y93pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag '/images/deco/shabon/shabon-right.png', class: 'L_inner--full A_shabon-ver-1A' %>
    </div>
  </div>
</section>
<section>
 <div class="U_hy-100">
 </div>
</section>

<%= render partial: 'layouts/footer' %>

<%#-- scrolltriggerのcdn --%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
