<%= render partial: 'layouts/header' %>
<%# ==================================== %>
<%# トップイメージ
<%# ==================================== %>
<section class="RecruitKeyVisual">
  <div class="L_key-visual JS_raindrops_target">
    <div class="L_key-visual_inner C_image__recruit">
      <%#-- サブタイトル縦書き --%>
      <div class="P_Recruit__kv__title-box right">
        <h3 class="P_Recruit__kv__text">子どもたちの未来を</h3>
      </div>
      <div class="P_Recruit__kv__title-box left">
        <h3 class="P_Recruit__kv__text">一緒に育みましょう。</h3>
      </div>
      <%#-- シャボン玉左上 --%>
      <%=render'layouts/shabon',{x:83,y:24,cl:'P_Recruit',size:'S'  ,time:'2',ptn:'B',dir:'left',jscl:''}%>
      <%=render'layouts/shabon',{x:90,y:20,cl:'P_Recruit',size:'SS' ,time:'3',ptn:'A',dir:'left',jscl:''}%>
      <%=render'layouts/shabon',{x:92,y:28,cl:'P_Recruit',size:'SS' ,time:'2',ptn:'A',dir:'left',jscl:''}%>
      <%=render'layouts/shabon',{x:96,y:25,cl:'P_Recruit',size:'SSS',time:'3',ptn:'B',dir:'left',jscl:''}%>
      <%=render'layouts/shabon',{x:86,y:16,cl:'P_Recruit',size:'SSS',time:'3',ptn:'A',dir:'left',jscl:''}%>
      <%#-- シャボン左下 --%>
      <%=render'layouts/shabon',{x:5, y:67,cl:'P_Recruit',size:'LLL',time:'3',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:10,y:78,cl:'P_Recruit',size:'M'  ,time:'3',ptn:'B',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:7, y:83,cl:'P_Recruit',size:'SSS',time:'1',ptn:'A',dir:'right',jscl:''}%>
      <%#-- シャボン右下 --%>
      <%=render'layouts/shabon',{x:85,y:77,cl:'P_Recruit',size:'LLL',time:'2',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:90,y:88,cl:'P_Recruit',size:'M'  ,time:'2',ptn:'B',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:87, y:93,cl:'P_Recruit',size:'SSS',time:'1',ptn:'A',dir:'right',jscl:''}%>
      <%#-- 採用タイトル --%>
      <h1 class="P_Recruit__kv__main-title">RECRUITING</h1>
      <h2 class="P_Recruit__kv__sub-title">ー Let's Work Together ー</h2>
    </div>
    </div>
</section>
<%# ==================================== %>
<%# コンセプト
<%# ==================================== %>
<section class="RecruitConcept">
  <article class="P_Recruit__concept">
    <div class="C_wrap__600">
      <%#-- タイトル --%>
      <h1 class="P_Recruit__concept__title">concept</h1>
      <%#-- シャボン玉左上 --%>
      <%=render'layouts/shabon',{x:53,y:22,cl:'P_Recruit__concept',size:'SSS',time:'1',ptn:'B',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:49,y:22,cl:'P_Recruit__concept',size:'M'  ,time:'3',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:45, y:11,cl:'P_Recruit__concept',size:'LLL',time:'2',ptn:'B',dir:'right',jscl:''}%>
      <%#-- シャボン玉右下 --%>
      <%=render'layouts/shabon',{x:83,y:80,cl:'P_Recruit__concept',size:'S',time:'1',ptn:'A',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:85,y:75,cl:'P_Recruit__concept',size:'SS'  ,time:'2',ptn:'B',dir:'right',jscl:''}%>
      <%=render'layouts/shabon',{x:88, y:82,cl:'P_Recruit__concept',size:'SSS',time:'3',ptn:'A',dir:'right',jscl:''}%>
      <%#-- コンセプトのコンテンツボックス --%>
      <div class="P_Recruit__concept__container">
        <div class="P_Recruit__concept__inner left">
          <%#-- テキストコンテント --%>
          <h2 class="P_Recruit__concept__inner-left title">子どもの「好き」を見つけませんか？
          </h2>
          <p class="P_Recruit__concept__inner-left sentense">　私たち保育教諭は、子どもの「はじめて」に、いつもとなりにいます。その「はじめて」が「好き」になれば、子どもの可能性が無限に広がります。たとえ、その時できなくとでも、「好き」があれば今後も伸びる可能性があります。私たちは、一つでも多くの子どもの好きを見つけ、その子の将来の選択肢を増やしてあげることができます。<br>
          　「はじめて」の時、子どもたちは「できた」「楽しい」を私たちに投げかけます。その時に笑顔でその楽しさを共有できれば、それが子どもの「好き」に繋がります。<br>
          　さぁ、わたしたちと一緒に、子どもたちの七彩(なないろ)の未来を育みませんか？</p>
        </div>
        <%#-- イメージコンテント --%>
        <div class="P_Recruit__cencept__inner">
          <%= image_tag 'recruit/recruit2.jpg', class: 'P_Recruit__concept__image' %>
        </div>
      </div>
    </div>
  </article>
</section>
<%# ==================================== %>
<%# 職員紹介
<%# ==================================== %>
<section class="Staff">
  <div class="P_Recruit__staff">
    <%#-- イメージボックス --%>
    <div class="panel-box">
      <%#-- シャドウブラックカバー --%>
      <div class="P_Recruit__staff__cover C_cover--shadow JS_click_hide_target"></div>
      <%#-- フロントイメージ1 --%>
      <div class="P_Recruit__inner JS_hover_trigger JS_click_hide_target JS_click_open_trigger">
        <div class="P_Recruit__staff__front-image C_image__recruit__staff1 JS_hover_hide_target A_isVisible"></div>
        <div class="C_cover--shadow-white JS_hover_show_shadow_target JS_click_hide_target A_isInvisible"></div>
        <h1 class="P_Recruit__staff__front-cath JS_hover_clear_target">仕事も子育ても</h1>
      </div>
      <%#-- フロントイメージ2 --%>
      <div class="P_Recruit__inner JS_hover_trigger JS_click_hide_target JS_click_open_trigger">
        <div class="P_Recruit__staff__front-image C_image__recruit__staff2 JS_hover_hide_target A_isVisible"></div>
        <div class="C_cover--shadow-white JS_hover_show_shadow_target JS_click_hide_target A_isInvisible"></div>
        <h1 class="P_Recruit__staff__front-cath JS_hover_clear_target">ひとりひとりの子どもを大切に</h1>
      </div>
      <%#-- フロントイメージ3 --%>
      <div class="P_Recruit__inner JS_hover_trigger JS_click_hide_target JS_click_open_trigger">
        <div class="P_Recruit__staff__front-image C_image__recruit__staff3 JS_hover_hide_target A_isVisible"></div>
        <div class="C_cover--shadow-white JS_hover_show_shadow_target JS_click_hide_target A_isInvisible"></div>
        <h1 class="P_Recruit__staff__front-cath JS_hover_clear_target">言葉を手渡す</h1>
      </div>
      <%#-- フロントイメージ4 --%>
      <div class="P_Recruit__inner JS_hover_trigger JS_click_hide_target JS_click_open_trigger">
        <div class="P_Recruit__staff__front-image C_image__recruit__staff4 JS_hover_hide_target A_isVisible"></div>
        <div class="C_cover--shadow--white JS_hover_show_shadow_target JS_click_hide_target A_isInvisible"></div>
        <h1 class="P_Recruit__staff__front-cath JS_hover_clear_target">優しさをもって</h1>
      </div>
      <%#-- 閉じるボタン --%>
      <div class="P_Recruit__staff__btn C_box--btn JS_click_show_target JS_click_close_trigger A_isNone A_toRotate">
        <i class="far fa-times-circle A_toRotate__target"></i>
      </div>
      <%#-- バックイメージ1 --%>
      <div class="P_Recruit__staff__back-image C_image__recruit__staff1 JS_hover_show_target A_isInvisible JS_click_hide_backImage_target">
        <div class="L_inner--half-X A_isInvisible">
        </div>
      </div>
      <%#-- バックイメージ2 --%>
      <div class="P_Recruit__staff__back-image C_image__recruit__staff2 JS_hover_show_target A_isInvisible JS_click_hide_backImage_target">
        <div class="schedule">
        </div>
      </div>
      <%#-- バックイメージ3 --%>
      <div class="P_Recruit__staff__back-image C_image__recruit__staff3 JS_hover_show_target A_isInvisible JS_click_hide_backImage_target">
        <div class="schedule">
        </div>
      </div>
      <%#-- バックイメージ4 --%>
      <div class="P_Recruit__staff__back-image C_image__recruit__staff4 JS_hover_show_target A_isInvisible JS_click_hide_backImage_target">
        <%#-- 紹介文 --%>
        <article class="P_Recruit__staff__intro A_toFlip JS_click_show_introduction_target JS_click_flip_trigger A_isNone">
          <%#-- フリップカード表 --%>
          <div class="P_Recruit__staff__flip-front A_toFlip--front JS_click_flip_front_target">
            <%#-- 紹介文 --%>
            <div class="L_container__top">
              <div class="L_container__name">
                <h1>北野　沙</h1>
                <h2>kitano saori</h2>
              </div>
              <ul class="L_container__info">
                <li>・年齢　：　２６歳</li>
                <li>・配属　：　給食室・栄養士</li>
                <li>・勤務形態　：　正規常勤</li>
                <li>・所持資格等　：　栄養士・調理師免許</li>
              </ul>
            </div>
            <div class="L_container__catch">
              <h1>美味しい給食で子どもたちに笑顔を</h1>
            </div>
            <div class="L_container__catch-sentense">
              <h4>　子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を子どもたちにおいしい給食を</h4>
            </div>
            <div class="L_container__bottom">
              <div class="L_container__holiday">
                <h3>休日の過ごし方</h3>
                <h4>たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている</h4>
              </div>
              <div class="L_container__favorite">
                <h3>職場の気に入っているところ</h3>
                <h4>たのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしているたのしく過ごしている</h4>
              </div>
            </div>
          </div>
          <%#-- フリップカード裏 --%>
          <div class="P_Recruit__concept__flip-back  A_toFlip--back JS_click_flip_back_target">
            <h1>schedule</h1>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# 就職情報カード
<%# ==================================== %>
<section class="jobInfo">
  <div class="P_Recruit__job-info JS_raindrops_target">
    <div class="C_wrap__600">
      <%#-- 就職情報カード --%>
      <ul class="P_Recruit__job-info__container">
        <%#-- カード1(給与) --%>
        <li class="P_Recruit__job-info__card A_toFadeIn1 JS_scroll_isFadeIn_target1">
          <div class="P_Recruit__job-info__title-box">
            <h1 class="P_Recruit__job-info__title">給料について</h1>
          </div>
          <h3 class="P_Recruit__job-info__sub-title">About Slaly</h3>
          <h4  class="P_Recruit__job-info__sub2-title">●正職員</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
          <h4  class="P_Recruit__job-info__sub2-title">●非常勤(フルタイム・パートタイム)</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </li>
        <%#-- カード2(勤務時間) --%>
        <li class="P_Recruit__job-info__card A_toFadeIn1 JS_scroll_isFadeIn_target1">
          <div class="P_Recruit__job-info__title-box">
            <h1 class="P_Recruit__job-info__title">勤務時間</h1>
          </div>
          <h3 class="P_Recruit__job-info__sub-title">Working Hours</h3>
          <h4  class="P_Recruit__job-info__sub2-title">●正職員</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
          <h4  class="P_Recruit__job-info__sub2-title">●非常勤(フルタイム・パートタイム)</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </li>
        <%#-- カード3(福利厚生) --%>
        <li class="P_Recruit__job-info__card A_toFadeIn1 JS_scroll_isFadeIn_target1">
          <div class="P_Recruit__job-info__title-box">
            <h1 class="P_Recruit__job-info__title">福利厚生</h1>
          </div>
          <h3 class="P_Recruit__job-info__sub-title">About welfare</h3>
          <h4  class="P_Recruit__job-info__sub2-title">●制服貸与</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
          <h4  class="P_Recruit__job-info__sub2-title">●研修</h4>
          <h5 class="P_Recruit__job-info__sub2-text">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h5>
        </li>
      </ul>
    </div>
    <%#-- シャボン玉左下 --%>
    <div class="C_box__shabon_LLL U_abs-X5pct-Y67pct A_shabon-roll-3A">
      <span class="A_shabon-hori-3A"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-3A' %>
    </div>
    <div class="C_box__shabon_M U_abs-X10pct-Y78pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-2B' %>
    </div>
    <div class="C_box__shabon_SSS U_abs-X7pct-Y83pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-1A' %>
    </div>
    <%#-- シャボン玉右下 --%>
    <div class="C_box__shabon_LLL U_abs-X85pct-Y77pct A_shabon-roll-2A">
      <span class="A_shabon-hori-2A"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-2A' %>
    </div>
    <div class="C_box__shabon_M U_abs-X90pct-Y88pct A_shabon-roll-2B">
      <span class="A_shabon-hori-2B"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-2B' %>
    </div>
    <div class="C_box__shabon_SSS U_abs-X87pct-Y93pct A_shabon-roll-1A">
      <span class="A_shabon-hori-1A"></span>
      <%= image_tag 'deco/shabon/shabon-right.png', class: 'L_full A_shabon-ver-1A' %>
    </div>
  </div>
</section>
<section>
 <div class="U_hy-100">
 </div>
</section>

<%= render partial: 'layouts/footer' %>

<%#-- scrolltriggerのcdn --%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
