<section class="P_admission__intro">
  <div class="sp-only" id="JS_side-nav_hide-trigger-0" style="position:absolute;height:100%;"></div>
  <div id="JS_smoothScroll_target-0"></div>
  <div id="JS_smoothScroll_target-1"></div>
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;height:100vh;"></div>
  <div class="P_admission__common__wrap top">
    <h1 class="P_admission__intro__page-title-en">
      WELCOME!
    </h1>
    <h1 class="P_admission__intro__page-title-ja">
      入園をお考えの方へ
    </h1>
    <svg class="P_admission__intro__section-line" x="0px" y="0px" >
      <line x1="50%" y1="5%" x2="50%" y2="100%"/>
    </svg>
    <p class="P_admission__intro__text">
      保育園や幼稚園、認定こども園は、子どもにとって、<br class="pc-tab-only">人生で初めての集団生活の場になります。<br class="pc-tab-only">そこで出来た友達や仲間が、その後の人生を大きく変えるかもしれません。<br>
      新しく入園をお考えの方は、この時期に出来るだけ多くの施設をご自身の目で見学されることをお勧めします。<br>
      子どもにあった保育環境や玩具、カリキュラム、保育者の質を、是非ともご自身の目や耳でお感じください。<br>
      また、今後の小学校への連携や、お仕事の通勤環境などのお悩みについても<br>
      当園にお越しの場合は、遠慮なく何でもご質問ください。<br>
      当園にかかわらず、子どもにとって相応しい、保育環境を選ぶお手伝いをさせて頂きます。
    </p>
    <div class="P_admission__intro__container">
      <div class="P_admission__intro__btn">
        入園に向け<span class="C_text__braces">て</span>（MOVIE<span class="C_text__braces">）</span>
        <%= link_to "",'/' + name[:en] + '/for-admission#movie', class:"U_link"%>
      </div>
      <div class="P_admission__intro__btn right">
        <%= admission_pdf[:title] %>
        <% if admission_pdf.present? &&  admission_pdf.image.attached? %>
          <%= link_to '', admission_pdf.image, class:"U_link", target: :_blank %>
        <% end %>
      </div>
    </div>
    <div id="JS_smoothScroll_target-2"></div>
  </div>
</section>
<section class="P_admission__one-day">
  <div class="P_admission__common__wrap">
    <h1 class="P_admission__common__title-en">ONE DAY</h1>
    <h1 class="P_admission__common__title-ja">
      園の一日
      <div class="P_admission__common__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_admission__common__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_admission__common__deco-line line1" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <table class="P_admission__common__table width-S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head" colspan="3">保育園部　月～土</th>
        <th class="P_admission__common__head" colspan="1">幼稚園部　月～金</th>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data first pink">乳児<br class="tab-sp-only">（０・１・２歳児）</td>
        <td class="P_admission__common__data first white">時間</td>
        <td class="P_admission__common__data first orange" colspan="2">幼児（３・４・５歳児）</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data" rowspan="2">早朝保育</td>
        <td class="P_admission__common__data">7:01~7:30</td>
        <td class="P_admission__common__data" rowspan="2">早朝保育</td>
        <td class="P_admission__common__data" colspan="1">ー</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">7:31~8:30</td>
        <td class="P_admission__common__data" rowspan="1" colspan="1">早朝保育</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data" rowspan="1">おはよう<br class="sp-only">タイム</td>
        <td class="P_admission__common__data">8:31~9:30</td>
        <td class="P_admission__common__data" rowspan="1">おはよう<br class="sp-only">タイム</td>
        <td class="P_admission__common__data" rowspan="1">おはよう<br class="sp-only">タイム</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">自由遊び</td>
        <td class="P_admission__common__data">9:31~11:30</td>
        <td class="P_admission__common__data" colspan="2">クラス活動 朝の集まり・歌 体操</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data" rowspan="2">すやすや<br class="sp-only">タイム</td>
        <td class="P_admission__common__data">11:31~12:00</td>
        <td class="P_admission__common__data" colspan="2">ランチタイム</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">12:01~14:30</td>
        <td class="P_admission__common__data" colspan="2" rowspan="1">クラス活動<br class="tab-sp-only">（3歳まですやすやタイム）</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">おやつタイム<br class="tab-sp-only"><span class="pc-only"> </span>自由あそび</td>
        <td class="P_admission__common__data">14:31~15:30</td>
        <td class="P_admission__common__data">おやつ<br class="sp-only">タイム<br class="tab-sp-only"><span class="pc-only"> </span>自由あそび</td>
        <td class="P_admission__common__data">おやつ<br class="sp-only">タイム<br class="tab-sp-only"><span class="pc-only"> </span>自由あそび<br class="tab-sp-only"><span class="pc-only"> </span>降園準備</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data" rowspan="2">ゆうやけ<br class="sp-only">タイム<br class="tab-sp-only"><span class="pc-only"> </span>順次降園</td>
        <td class="P_admission__common__data">15:31~16:30</td>
        <td class="P_admission__common__data" rowspan="2">ゆうやけ<br class="sp-only">タイム<br class="tab-sp-only"><span class="pc-only"> </span>順次降園</td>
        <td class="P_admission__common__data" colspan="1">順次降園</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">16:31~18:00</td>
        <td class="P_admission__common__data" rowspan="2" colspan="1">幼稚園部<br class="tab-sp-only"><span class="pc-only"> </span>延長保育</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">保育園部<br class="tab-sp-only"><span class="pc-only"> </span>延長保育</td>
        <td class="P_admission__common__data">18:01~19:00</td>
        <td class="P_admission__common__data">保育園部<br class="tab-sp-only"><span class="pc-only"> </span>延長保育</td>
      </tr>
    </table>
    <div class="P_admission__one-day__btn">
      <span class="P_admission__one-day__ja-text">園の一日を時間軸で</span>
      <span class="P_admission__one-day__en-text">
        Check!
      </span>
      <span class="P_admission__one-day__icon pc-tab-only">
        <span class="C_icon__arrow-right">
          <span class="C_icon__arrow-right__material1 white"></span>
          <span class="C_icon__arrow-right__material2 white"></span>
          <span class="C_icon__arrow-right__material3 white"></span>
          <span class="C_icon__arrow-right__material4 white"></span>
        </span>
      </span>
      <%= link_to "",'/' + name[:en] + '/one-day', class:"U_link"%>
    </div>
    <div id="JS_smoothScroll_target-3"></div>
  </div>
</section>
<section class="P_admission__about">
  <div class="P_admission__common__wrap">
    <h1 class="P_admission__common__title-en">ABOUT</h1>
    <h1 class="P_admission__common__title-ja">
      認定こども園とは
      <div class="P_admission__common__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_admission__common__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_admission__common__deco-line line1" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <p class="P_admission__about__text">
      認定こども園とは、保育園と幼稚園の機能を併せ持った施設です。<br>
      幼稚園と保育園の違いは今でこそ差がありませんが、本来幼稚園は小学校に入る前の教育機関であり、保育園は働いている保護者の就労支援から、子どもを預かるだけの施設でした。<br>
      当園でも、始まりは戦後の農繁期に、子どもを預かる寺子屋から保育園となり出発しています。しかしながら、当法人を含め多くの保育園は、生活の場と密接に関係した幼児教育を実践し、その長年の研鑽の結果、幼稚園と変わらないカリキュラムを築いてきました。また、幼稚園も預かり保育を実施するようになり、幼稚園と保育園の違いはほとんどなくなりました。<br>
      とはいえ、幼稚園と保育園では保護者の就労状況によって、入園や保育時間が異なる問題がありました。そこで、認定こども園という制度が新たにできました。<br>
      保護者の就労の有無に関わらず、子どもにとって等しく適切な保育環境を提供することができます。当法人も、さまざまな就労状況であっても、柔軟に子どもを受け入れることができる認定こども園に移行しました。<br>
      幼稚園、保育園の隔たりなく、すべての子どもに、新たな可能性と発見を見出す園であり続けたいと願っています。
    </p>
    <table class="P_admission__common__table width-2S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head">区分</th>
        <th class="P_admission__common__head">従来の幼稚園</th>
        <th class="P_admission__common__head">従来の保育園</th>
        <th class="P_admission__common__head">認定こども園</th>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data purple1 first">1号</td>
        <td class="P_admission__common__data first">◯</td>
        <td class="P_admission__common__data first">-</td>
        <td class="P_admission__common__data first">◯</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data purple2">2号</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">◯</td>
        <td class="P_admission__common__data">◯</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data purple3">3号</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">◯</td>
        <td class="P_admission__common__data">◯</td>
      </tr>
    </table>
    <h2 class="P_admission__common__content-title">認定について</h2>
    <table class="P_admission__common__table width-2S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head">年齢</th>
        <th class="P_admission__common__head">0,1,2歳児</th>
        <th class="P_admission__common__head">3,4,5歳児</th>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data first">保育を必要としない</td>
        <td class="P_admission__common__data first">-</td>
        <td class="P_admission__common__data first">1号認定　幼稚園部</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">保育を必要とする</td>
        <td class="P_admission__common__data">3号認定　幼稚園部</td>
        <td class="P_admission__common__data">2号認定　保育園部</td>
      </tr>
    </table>
    <h2 class="P_admission__common__content-title">「2号・3号認定」を受けるには？</h2>
    <p class="P_admission__about__reason-text">下記の「保育を必要とする事由」のいずれかに該当する必要があります</p>
    <p class="P_admission__about__reason-title">保育の必要な事由</p>
    <ul class="P_admission__about__reason-container">
      <li class="P_admission__about__reason-list">就労（月64時間以上）</li>
      <li class="P_admission__about__reason-list">妊娠・出産</li>
      <li class="P_admission__about__reason-list">保護者の疾病・障害</li>
      <li class="P_admission__about__reason-list">親族の介護・看護</li>
      <li class="P_admission__about__reason-list">災害復旧</li>
      <li class="P_admission__about__reason-list">求職活動</li>
      <li class="P_admission__about__reason-list last">就学</li>
    </ul>
  </div>
</section>
<section class="P_admission__chart">
  <div class="P_admission__chart__sheet">
    <div class="P_admission__chart__title-en">Quick Chart</div>
    <div class="P_admission__chart__title-ja">早わかりチャート</div>
    <div class="P_admission__chart__sub-title">〈保護者の就労を例にした場合〉</div>
    <div class="P_admission__chart__container">
      <div class="P_admission__chart__content-container center">
        <div class="P_admission__chart__content-box">
          <div class="P_admission__chart__content-question">お子さんの年齢は？</div>
          <div class="P_admission__chart__content-answer">
            <span class="P_admission__chart__number">3～5</span>
            <span class="P_admission__chart__string">歳</span>
          </div>
          <div class="P_admission__chart__content-answer">
            <span class="P_admission__chart__number">0～2</span>
            <span class="P_admission__chart__string">歳</span>
          </div>
        </div>
      </div>
      <div class="P_admission__chart__section-container">
        <svg class="P_admission__chart__line left" x="0px" y="0px" >
          <line x1="50%" y1="2%" x2="50%" y2="100%"/>
        </svg>
        <svg class="P_admission__chart__line right" x="0px" y="0px" >
          <line x1="50%" y1="2%" x2="50%" y2="100%"/>
        </svg>
      </div>
      <div class="P_admission__chart__content-container">
        <div class="P_admission__chart__content-box">
          <div class="P_admission__chart__content-question">働き方は？</div>
          <div class="P_admission__chart__content-answer font-S">両親どちらかが<br class="pc-only">就労している</div>
          <div class="P_admission__chart__content-answer font-S">両親がともに就労いている<br class="pc-only">または<br class="pc-only">ひとり家族</div>
        </div>
        <div class="P_admission__chart__content-box">
          <div class="P_admission__chart__content-question">働き方は？</div>
          <div class="P_admission__chart__content-answer font-S">両親がともに就労いている<br class="pc-only">または<br class="pc-only">ひとり家族</div>
          <div class="P_admission__chart__content-answer font-S">両親どちらかが<br class="pc-only">就労している</div>
        </div>
        <div class="P_admission__chart__section-container isIn">
          <svg class="P_admission__chart__line-ver line1" x="0px" y="0px" >
            <line x1="50%" y1="2%" x2="50%" y2="100%"/>
          </svg>
          <svg class="P_admission__chart__line-ver line2" x="0px" y="0px" >
            <line x1="50%" y1="2%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_admission__chart__section-container">
            <svg class="P_admission__chart__line-ver line3" x="0px" y="0px" >
              <line x1="50%" y1="2%" x2="50%" y2="100%"/>
            </svg>
            <svg class="P_admission__chart__line-ver line4" x="0px" y="0px" >
              <line x1="50%" y1="2%" x2="50%" y2="100%"/>
            </svg>
          </div>
          <div class="P_admission__chart__content-container isIn">
            <div class="P_admission__chart__content-box isIn">
              <div class="P_admission__chart__content-question isIn">1ヶ月の就労時間は？</div>
              <div class="P_admission__chart__content-answer">
                <span class="P_admission__chart__number isIn">64</span>
                <span class="P_admission__chart__string isIn">時間以上</span>
              </div>
              <div class="P_admission__chart__content-answer">
                <span class="P_admission__chart__number isIn">64</span>
                <span class="P_admission__chart__string isIn">時間未満</span>
              </div>
            </div>
            <div class="P_admission__chart__content-box isIn">
              <div class="P_admission__chart__content-question isIn">1ヶ月の就労時間は？</div>
              <div class="P_admission__chart__content-answer">
                <span class="P_admission__chart__number isIn">64</span>
                <span class="P_admission__chart__string isIn">時間以上</span>
              </div>
              <div class="P_admission__chart__content-answer">
                <span class="P_admission__chart__number isIn">64</span>
                <span class="P_admission__chart__string isIn">時間未満</span>
              </div>
            </div>
          </div>
          <div class="P_admission__chart__section-container isBottom">
            <div class="P_admission__chart__content-select">
              選択<span class="sp-only">可</span><span class="pc-tab-only">できます</span>
              <svg class="P_admission__chart__line-ver line9" x="0px" y="0px" >
                <line x1="50%" y1="2%" x2="50%" y2="100%"/>
              </svg>
            </div>
            <svg class="P_admission__chart__line-ver line5" x="0px" y="0px" >
              <line x1="50%" y1="2%" x2="50%" y2="100%"/>
            </svg>
            <svg class="P_admission__chart__line-ver line6" x="0px" y="0px" >
              <line x1="50%" y1="2%" x2="50%" y2="100%"/>
            </svg>
            <svg class="P_admission__chart__line-ver line7" x="0px" y="0px" >
              <line x1="50%" y1="2%" x2="50%" y2="100%"/>
            </svg>
            <svg class="P_admission__chart__line-ver line8" x="0px" y="0px" >
              <line x1="50%" y1="2%" x2="50%" y2="100%"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="P_admission__chart__result-container">
        <div class="P_admission__chart__result-box box1">
          <div class="P_admission__chart__result-issue-text">1号認定</div>
          <div class="P_admission__chart__result-department-text">幼稚園部</div>
        </div>
        <div class="P_admission__chart__result-box box2">
          <div class="P_admission__chart__result-issue-text">2号認定</div>
          <div class="P_admission__chart__result-department-text">保育園部</div>
        </div>
        <div class="P_admission__chart__result-box box3">
          <div class="P_admission__chart__result-issue-text">3号認定</div>
          <div class="P_admission__chart__result-department-text">保育園部</div>
        </div>
        <div class="P_admission__chart__result-box box4">
          <div class="P_admission__chart__result-text">
            未就園児は<br>ピアニィ道教寺で<br class="pc-tab-only">一時保育を利用できます。
          </div>
        </div>
      </div>
      <div class="P_admission__chart__class-container">
        <div class="P_admission__chart__toddler">幼児クラス</div>
        <div class="P_admission__chart__infant">乳児クラス</div>
      </div>
    </div>
  </div>
</section>
<div id="JS_smoothScroll_target-4"></div>
<section class="P_admission__flow">
  <div class="P_admission__common__wrap first">
    <h1 class="P_admission__common__title-en">FLOW</h1>
    <h1 class="P_admission__common__title-ja">
      入園の流れ
      <div class="P_admission__common__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_admission__common__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_admission__common__deco-line line1" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <div class="P_admission__flow__container">
      <table class="P_admission__flow__table">
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data left-first">幼稚園部</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data left">願書・事前記入表提出（願書配布期間9月中）</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data left">面接</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data left">園より内定通知書が届き次第<br class="tab-only">市役所に1号の認定申請をする</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data left">制服販売、用品購入、園にて内科検診</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data left-last">ご入園 年度途中の場合は月の1日入園</td>
        </tr>
      </table>
      <table class="P_admission__flow__table">
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data right-first">保育園部</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data right">市役所に認定申請と利用申し込みをする</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data right">市役所にて保育要件に応じて利用調整</td>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data right">市役所より入園決定通知書が届き次第<br class="tab-only">入園手続きを行う</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data right">面談・制服販売、用品購入、園にて内科検診</td>
        </tr>
        <tr class="P_admission__flow__row">
          <td class="P_admission__flow__data right-last">ご入園 年度途中の場合は月の1日か16日入園</td>
        </tr>
      </table>
    </div>
    <p class="P_admission__flow__text">年度途中の入園をご希望の方は、園の定員の空きがあれば、保育園部、幼稚園部でも随時受け付けております。<br class="sp-only">まずは、一度見学を兼ねてご相談ください。</p>
    <table class="P_admission__common__table margin-S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head padding-0">学年</th>
        <th class="P_admission__common__head padding-0">0歳児</th>
        <th class="P_admission__common__head padding-0">1歳児</th>
        <th class="P_admission__common__head padding-0">2歳児</th>
        <th class="P_admission__common__head padding-0">3歳児</th>
        <th class="P_admission__common__head padding-0">4歳児</th>
        <th class="P_admission__common__head padding-0">5歳児</th>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data first padding-0">クラス</td>
        <td class="P_admission__common__data first padding-0">たんぽぽ</td>
        <td class="P_admission__common__data first padding-0">つくし<br class="sp-only"><span class="pc-tab-only">・</span>れんげ</td>
        <td class="P_admission__common__data first padding-0">もも<br class="sp-only"><span class="pc-tab-only">・</span>すみれ</td>
        <td class="P_admission__common__data first padding-0">すずらん<br class="sp-only"><span class="pc-tab-only">・</span>さくら</td>
        <td class="P_admission__common__data first padding-0">ひまわり<br class="sp-only"><span class="pc-tab-only">・</span>あじさい</td>
        <td class="P_admission__common__data first padding-0">ゆり<br class="sp-only"><span class="pc-tab-only">・</span>ばら</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data padding-0">保育園部定員</td>
        <td class="P_admission__common__data padding-0"><%= items[:nursery][0] %>名</td>
        <td class="P_admission__common__data padding-0"><%= items[:nursery][1] %>名</td>
        <td class="P_admission__common__data padding-0"><%= items[:nursery][2] %>名</td>
        <td class="P_admission__common__data padding-0"><%= items[:nursery][3] %>名</td>
        <td class="P_admission__common__data padding-0"><%= items[:nursery][4] %>名</td>
        <td class="P_admission__common__data padding-0"><%= items[:nursery][5] %>名</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data padding-0">幼稚園部定員</td>
        <td class="P_admission__common__data padding-0"><%= items[:kindergarten][0] %></td>
        <td class="P_admission__common__data padding-0"><%= items[:kindergarten][1] %></td>
        <td class="P_admission__common__data padding-0"><%= items[:kindergarten][2] %></td>
        <td class="P_admission__common__data padding-0"><%= items[:kindergarten][3] %>名</td>
        <td class="P_admission__common__data padding-0"><%= items[:kindergarten][4] %>名</td>
        <td class="P_admission__common__data padding-0"><%= items[:kindergarten][5] %>名</td>
      </tr>
    </table>
    <div id="JS_smoothScroll_target-5"></div>
  </div>
</section>
<section class="P_admission__cost">
  <div class="P_admission__common__wrap">
    <h1 class="P_admission__common__title-en">COST</h1>
    <h1 class="P_admission__common__title-ja">
      費用
      <div class="P_admission__common__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_admission__common__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_admission__common__deco-line line1" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <div class="P_admission__cost__img-container">
      <div class="P_admission__cost__img">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-summer_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-summer_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-summer_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-summer_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-summer_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-summer_alt.jpg" alt="制服夏服" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_admission__cost__img">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-winter_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-winter_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-winter_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-winter_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-winter_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/admission/<%= name[:en]%>_uniform-winter_alt.jpg" alt="制服冬服" class="C_image lazyload"/>
        </picture>
      </div>
    </div>
    <h2 class="P_admission__common__table-title">制服代（<%= cost_uniforms.first.updated_at.year %>年度実績）</h2>
    <table class="P_admission__common__table width-4S margin-S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head">制服</th>
        <th class="P_admission__common__head width-S">価格</th>
      </tr>
      <% cost_uniforms.each do |cost_uniform| %>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data"><%= cost_uniform.name %></td>
        <td class="P_admission__common__data"><%= cost_uniform.cost.to_s(:delimited) %>円</td>
      </tr>
      <% end %>
    </table>
    <h2 class="P_admission__common__table-title">月々にかかる費用</h2>
    <p class="P_admission__cost__text first">
      <span class="P_admission__common__blue-title">保育料　</span>
      お住まいの市町村に準じます。 貝塚市　保育料について このページの『貝塚市利用者負担額（保育料）表』で確認できます。 貝塚市利用者負担額（保育料）表 【2号・3号認定】がいわゆる保育園部で、 貝塚市利用者負担額（保育料）表 【1号認定】がいわゆる幼稚園部の保育料となっています。
    </p> 
    <p class="P_admission__cost__text">
      <span class="P_admission__common__blue-title">給食費　</span>
      当園では、給食費については徴収しておりません。
    </p> 
    <p class="P_admission__cost__text">
      <span class="P_admission__common__blue-title">副食費　</span>
      3号「０〜２歳児」及び一部世帯は免除　保育園部 4,500円　幼稚園部 3,500円
    </p> 
    <p class="P_admission__cost__text">
      <span class="P_admission__common__blue-title">教育基本費・保育教育付加費(保育園部)</span>
    </p> 
    <table class="P_admission__common__table margin-S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head">学年</th>
        <th class="P_admission__common__head">0歳児</th>
        <th class="P_admission__common__head">1歳児</th>
        <th class="P_admission__common__head">2歳児</th>
        <th class="P_admission__common__head">3歳児</th>
        <th class="P_admission__common__head">4歳児</th>
        <th class="P_admission__common__head">5歳児</th>
      </tr>
      <% 
        age_0_sum = 0
        age_1_sum = 0
        age_2_sum = 0
        age_3_sum = 0
        age_4_sum = 0
        age_5_sum = 0
      %>
      <% cost_ages_2.each do |cost_age| %>
        <% 
        age_0_sum = age_0_sum + cost_age.cost_age_0
        age_1_sum = age_1_sum + cost_age.cost_age_1
        age_2_sum = age_2_sum + cost_age.cost_age_2
        age_3_sum = age_3_sum + cost_age.cost_age_3
        age_4_sum = age_4_sum + cost_age.cost_age_4
        age_5_sum = age_5_sum + cost_age.cost_age_5
        %>
        <tr class="P_admission__common__row">
          <td class="P_admission__common__data first padding-0"><%= cost_age.name %></td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_0.to_s(:delimited) %>円</td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_1.to_s(:delimited) %>円</td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_2.to_s(:delimited) %>円</td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_3.to_s(:delimited) %>円</td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_4.to_s(:delimited) %>円</td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_5.to_s(:delimited) %>円</td>
        </tr>
      <% end %>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data padding-0 L-blue">合計</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_0_sum.to_s(:delimited) %>円</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_1_sum.to_s(:delimited) %>円</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_2_sum.to_s(:delimited) %>円</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_3_sum.to_s(:delimited) %>円</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_4_sum.to_s(:delimited) %>円</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_5_sum.to_s(:delimited) %>円</td>
      </tr>
    </table>
    <p class="P_admission__cost__text">
      <span class="P_admission__common__blue-title">教育基本費・保育教育付加費(幼稚園部)</span>
    </p> 
    <table class="P_admission__common__table margin-S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head">学年</th>
        <th class="P_admission__common__head">3歳児</th>
        <th class="P_admission__common__head">4歳児</th>
        <th class="P_admission__common__head">5歳児</th>
      </tr>
      <% 
        age_3_sum = 0
        age_4_sum = 0
        age_5_sum = 0
      %>
      <% cost_ages_1.each do |cost_age| %>
        <% 
        age_3_sum = age_3_sum + cost_age.cost_age_3
        age_4_sum = age_4_sum + cost_age.cost_age_4
        age_5_sum = age_5_sum + cost_age.cost_age_5
        %>
        <tr class="P_admission__common__row">
          <td class="P_admission__common__data first padding-0"><%= cost_age.name %></td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_3.to_s(:delimited) %>円</td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_4.to_s(:delimited) %>円</td>
          <td class="P_admission__common__data first padding-0"><%= cost_age.cost_age_5.to_s(:delimited) %>円</td>
        </tr>
      <% end %>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data padding-0 L-blue">合計</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_3_sum.to_s(:delimited) %>円</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_4_sum.to_s(:delimited) %>円</td>
        <td class="P_admission__common__data padding-0 L-blue"><%= age_5_sum.to_s(:delimited) %>円</td>
      </tr>
    </table>
    <h2 class="P_admission__common__table-title">その他</h2>
    <p class="P_admission__cost__text">
      <span class="P_admission__common__blue-title">保護者会費　</span>
      6,000円/年 ※２人目からは3,600円/年
    </p> 
    <p class="P_admission__cost__text">
      <span class="P_admission__common__blue-title">安全保険代　</span>
      150円/入園時のみ
    </p> 
    <div id="JS_smoothScroll_target-6"></div>
  </div>
</section>
<section class="P_admission__extension">
  <div class="P_admission__common__wrap">
    <h1 class="P_admission__common__title-en">EXTENSION FEE</h1>
    <h1 class="P_admission__common__title-ja">
      延長保育<br class="sp-only"><span class="pc-tab-only">と</span>一時預かりについて
      <div class="P_admission__common__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_admission__common__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_admission__common__deco-line line1" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <h2 class="P_admission__common__table-title">延長料金一覧</h2>
    <table class="P_admission__common__table margin-S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head" rowspan="2">時間</th>
        <th class="P_admission__common__head" rowspan="2"></th>
        <th class="P_admission__common__head" colspan="2">幼稚園部</th>
        <th class="P_admission__common__head" colspan="2">保育園部</th>
      </tr>
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head">一日</th>
        <th class="P_admission__common__head">月極</th>
        <th class="P_admission__common__head">標準</th>
        <th class="P_admission__common__head">短時間</th>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data first">7:31~8:30</td>
        <td class="P_admission__common__data first">早朝保育</td>
        <td class="P_admission__common__data first">400円</td>
        <td class="P_admission__common__data first">6,000円</td>
        <td class="P_admission__common__data first">-</td>
        <td class="P_admission__common__data first">-</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">8:31~16:30</td>
        <td class="P_admission__common__data">通常保育</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">-</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">16:31~17:00</td>
        <td class="P_admission__common__data" rowspan='5'>延長保育</td>
        <td class="P_admission__common__data">200円</td>
        <td class="P_admission__common__data">3,000円</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">-</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">17:01~17:30</td>
        <td class="P_admission__common__data">300円</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">150円/一回</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">17:31~18:00</td>
        <td class="P_admission__common__data">300円</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data">150円/一回</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">18:01~18:30</td>
        <td class="P_admission__common__data">300円</td>
        <td class="P_admission__common__data">-</td>
        <td class="P_admission__common__data" rowspan='2'>300円/一回<br>(月最大3,000円)</td>
        <td class="P_admission__common__data" rowspan='2'>300円/一回</td>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data">18:31~19:00</td>
        <td class="P_admission__common__data">300円</td>
        <td class="P_admission__common__data">-</td>
      </tr>
    </table>
    <p class="P_admission__extension__text2">
      ※幼稚園部の方で恒久的に延長が発生する場合月極での申し込みをお勧めします。 申し込み後は、翌月初日より申し込まれた延長時間を利用できます。 解約される際も、解約後の翌月初日より適用されます。
    </p>
    <h2 class="P_admission__common__table-title">幼稚園部の<br class="sp-only">長期休暇中の一時預かり</h2>
    <table class="P_admission__common__table margin-S width-3S">
      <tr class="P_admission__common__row">
        <th class="P_admission__common__head">時間</th>
        <th class="P_admission__common__head">一日</th>
      </tr>
      <tr class="P_admission__common__row">
        <td class="P_admission__common__data first">9:00~16:30</td>
        <td class="P_admission__common__data first">2,000円</td>
      </tr>
    </table>
  </div>
</section>
<ul class="C_Btn__side-nav blue isHide" id="JS_side-nav_target-nav">
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-0">入園をお考えの方へ</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-1">園の一日</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-2">認定こども園とは</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-3">入園の流れ</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-4">費用</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-5">延長・一時預かり</li>
  <li class="C_Btn__side-nav-list icon" id="JS_side-nav_close-trigger">
    <i class="fa fa-angle-double-down icon sp-only" aria-hidden="true"></i>
  </li>
  <p class="C_Btn__side-nav-title" id="JS_side-nav_title">nav</p>
  <div class="C_Btn__side-nav-btn" id="JS_side-nav_open-tirgger"></div>
</ul>
<%= render 'shared/side-bar_noBack',{ color: '' }%>
