<section class="P_belong__kv" id="JS_smoothScroll_target-0">
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;height:100%;"></div>
  <div class="P_belong__kv__panel-img1">
    <picture>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_0_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_0_alt.jpg" alt="在園の方へ トップ画像1" class="C_image"/>
    </picture>
  </div>
  <div class="P_belong__kv__panel-img2">
    <picture>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_1_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_1_alt.jpg" alt="在園の方へ トップ画像2" class="C_image"/>
    </picture>
  </div>
  <div class="P_belong__kv__panel-img3">
    <picture>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_2_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_2_alt.jpg" alt="在園の方へ トップ画像3" class="C_image"/>
    </picture>
  </div>
  <div class="P_belong__kv__panel-img4">
    <picture>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_3_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_3_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_3_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_3_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_3_alt.jpg" alt="在園の方へ トップ画像4" class="C_image"/>
    </picture>
  </div>
  <div class="P_belong__kv__panel-img5">
    <picture>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_4_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_4_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_4_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_4_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/<%= name_items[:name_en]%>_kv_4_alt.jpg" alt="在園の方へ トップ画像5" class="C_image"/>
    </picture>
  </div>
  <h1 class="P_belong__kv__title">在園の方へ</h1>
  <div class="P_belong__kv__mouse pc-only">
    <div class="C_icon-mouse isMoveTop" id="JS_scroll-change_target">
      <span class="C_icon-mouse__material"></span>
    </div>
  </div>
</section>
<section class="P_belong__info__wrap">
  <table class="P_belong__info__table">
    <tr class="P_belong__info__row">
      <td class="P_belong__info__title">2020年1月6日(月)</td>
      <td class="P_belong__info__text">『パルティ通信1月号』 『1月献立表』を掲載しました</td>
    </tr>
    <tr class="P_belong__info__row">
      <td class="P_belong__info__title">2020年1月6日(月)</td>
      <td class="P_belong__info__text">『パルティ通信1月号』 『1月献立表』を掲載しました</td>
    </tr>
    <tr class="P_belong__info__row">
      <td class="P_belong__info__title">2020年1月6日(月)</td>
      <td class="P_belong__info__text">『パルティ通信1月号』 『1月献立表』を掲載しました</td>
    </tr>
    <tr class="P_belong__info__row">
      <td class="P_belong__info__title">2020年1月6日(月)</td>
      <td class="P_belong__info__text">『パルティ通信1月号』 『1月献立表』を掲載しました</td>
    </tr>
    <tr class="P_belong__info__row">
      <td class="P_belong__info__title">2020年1月6日(月)</td>
      <td class="P_belong__info__text">『パルティ通信1月号』 『1月献立表』を掲載しました</td>
    </tr>
  </table>
  <div class="P_belong__info__more-info">
    <div class="P_belong__info__more-info-text">
      過去のお知らせ一覧はこちら
    </div>
  </div>
</section>
<section class="P_belong__menu__wrap">
  <div class="P_belong__menu__title-box">
    <div class="P_belong__menu__title-en">MENU</div>
    <div class="P_belong__menu__title-ja">在園の方へのメニュー</div>
  </div>
  <div class="P_belong__menu__container">
    <div class="P_belong__menu__box">
      <div class="P_belong__menu__number">
        1.
        <div class="P_belong__menu__number-back-img">
          <div class="C_deco__paint"></div>
        </div>
      </div>
      <div class="P_belong__menu__img">
        <picture>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_cheese_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_cheese_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_cheese_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_cheese_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_cheese_alt.jpg" alt="はいチーズ バナー画像" class="C_image"/>
        </picture>
        <div class="P_belong__menu__img-click-line"></div>
        <div class="P_belong__menu__img-click-text">click</div>
      </div>
      <div class="P_belong__menu__content-triangle">
        ▲
      </div>
      <div class="P_belong__menu__content-title">
        はいチーズ
      </div>
      <div class="P_belong__menu__content-text">
        園内で撮った写真を<br>
        閲覧購入できます<br>
        【別ウィンドウで開きます】
      </div>
    </div>
    <div class="P_belong__menu__box">
      <div class="P_belong__menu__number">
        2.
        <div class="P_belong__menu__number-back-img">
          <div class="C_deco__paint"></div>
        </div>
      </div>
      <div class="P_belong__menu__img">
        <picture>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_movie_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_movie_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_movie_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_movie_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_movie_alt.jpg" alt="行事ムービー バナー画像" class="C_image"/>
        </picture>
        <div class="P_belong__menu__img-click-line"></div>
        <div class="P_belong__menu__img-click-text">click</div>
      </div>
      <div class="P_belong__menu__content-triangle">
        ▲
      </div>
      <div class="P_belong__menu__content-title">
        行事ムービー
      </div>
      <div class="P_belong__menu__content-text">
        さまざまな行事をムービーでご覧いただけます<br>
        【要パスワード】
      </div>
    </div>
    <div class="P_belong__menu__box under">
      <div class="P_belong__menu__number">
        3.
        <div class="P_belong__menu__number-back-img">
          <div class="C_deco__paint"></div>
        </div>
      </div>
      <div class="P_belong__menu__img">
        <picture>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_letter_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_letter_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_letter_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_letter_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_letter_alt.jpg" alt="おたより バナー画像" class="C_image"/>
        </picture>
        <div class="P_belong__menu__img-click-line"></div>
        <div class="P_belong__menu__img-click-text">click</div>
      </div>
      <div class="P_belong__menu__content-triangle">
        ▲
      </div>
      <div class="P_belong__menu__content-title">
        おたより
      </div>
      <div class="P_belong__menu__content-text">
        園が発行しているおたよりをご覧いただけます<br>
        【要パスワード】
      </div>
    </div>
    <div class="P_belong__menu__box under">
      <div class="P_belong__menu__number">
        4.
        <div class="P_belong__menu__number-back-img">
          <div class="C_deco__paint"></div>
        </div>
      </div>
      <div class="P_belong__menu__img">
        <picture>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_print_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_print_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_print_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_print_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_print_alt.jpg" alt="届出書類 バナー画像" class="C_image"/>
        </picture>
        <div class="P_belong__menu__img-click-line"></div>
        <div class="P_belong__menu__img-click-text">click</div>
      </div>
      <div class="P_belong__menu__content-triangle">
        ▲
      </div>
      <div class="P_belong__menu__content-title">
        各種届け出用書類
      </div>
      <div class="P_belong__menu__content-text">
        園に提出するための様式こちらから
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
