<section class="P_eat-education__kv" id="JS_smoothScroll_target-0">
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;height:100%;"></div>
  <div id="JS_side-nav_hide-trigger-0" style="position:absolute;height:100%;"></div>
  <div class="P_eat-education__kv__img">
    <picture>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/kv_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/kv_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/kv_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/kv_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/kv_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/kv_alt.jpg" alt="食育 トップ画像" class="C_image lazyload"/>
    </picture>
  </div>
  <div class="P_eat-education__kv__text-box">
    <h1 class="P_eat-education__kv__title pc-only"><%= name[:en_L] %></h1>
    <h2 class="P_eat-education__kv__sub-title pc-only">DOKYOJI</h2>
  </div>
  <h2 class="P_eat-education__kv__sub-text">
    いただきます。<br>
    ごちそうさまでした。
    <span class="P_eat-education__kv__deco-line left"></span>
    <span class="P_eat-education__kv__deco-line right"></span>
    <span class="P_eat-education__kv__deco-text" id="JS_arctext__target">Good taste yammy</span>
  </h2>
</section>
<div id="JS_smoothScroll_target-1"></div>
<section class="P_eat-education__intro">
  <div class="P_eat-education__intro__title-wrap">
    <div class="P_eat-education__intro__title-box">
      <h1 class="P_eat-education__intro__title-text">
        うれしい！<br>
        たのしい！<br>
        おいしい！
      </h1>
    </div>
  </div>
  <div class="P_eat-education__intro__content-wrap">
    <div class="P_eat-education__intro__content-box">
      <div class="P_eat-education__intro__content-number">1</div>
      <div class="P_eat-education__intro__content-title">
        子どもの笑顔を育む<br>
        「うれしい食事！」
        <svg class="P_eat-education__intro__deco-line" x="0px" y="0px" >
          <line x1="2%" y1="50%" x2="100%" y2="50%"/>
        </svg>
      </div>
      <div class="P_eat-education__intro__content-text">
        当園では子どもの健やかな体と心の成長に<br>
        「食」が大切な役割を担っていると考えています。<br>
        「食」を通して心身ともに<br>
        健やかな成長と笑顔ををはぐくみます。
      </div>
    </div>
    <div class="P_eat-education__intro__content-box">
      <div class="P_eat-education__intro__content-number">2</div>
      <div class="P_eat-education__intro__content-title">
        食材や料理に興味がもてる<br>
        「たのしい食事！」
        <svg class="P_eat-education__intro__deco-line" x="0px" y="0px" >
          <line x1="2%" y1="50%" x2="100%" y2="50%"/>
        </svg>
      </div>
      <div class="P_eat-education__intro__content-text">
        自分が育てた野菜を頂くことで<br>
        命のありがたみも知ることができます。<br>
        また楽しい調理体験や<br>
        バイキング給食などの行事もあります。
      </div>
    </div>
    <div class="P_eat-education__intro__content-box">
      <div class="P_eat-education__intro__content-number">3</div>
      <div class="P_eat-education__intro__content-title">
        いつも安心して食べられる<br>
        「おいしい食事！」
        <svg class="P_eat-education__intro__deco-line" x="0px" y="0px" >
          <line x1="2%" y1="50%" x2="100%" y2="50%"/>
        </svg>
      </div>
      <div class="P_eat-education__intro__content-text">
        アレルギーをお持ちのお子様にも、<br>
        責任をもって個別に対応し<br>
        旬の食材を専門の知識を持った<br>
        栄養士・調理師が手間暇と愛情を注いでいます。
      </div>
    </div>
  </div>
</section>
<div id="JS_smoothScroll_target-2"></div>
<section class="P_eat-education__recipe">
  <div id="JS_scroll-to-top_trigger-1" style="position:absolute;height:100%;"></div>
  <div id="JS_side-nav_hide-trigger-1" style="position:absolute;height:100%;"></div>
  <h1 class="P_eat-education__recipe__title-en">RECIPE</h1>
  <h2 class="P_eat-education__common__title-ja">給食レシピ</h2>
  <h3 class="P_eat-education__common__sub-title multiple">子どもの発達に応じた<br class="sp-only">給食レシピ動画を<br class="sp-only">Youtubeで紹介</h3>
  <%= render partial: 'shared/img-slider', locals:{ slider: slider, name: name}%>
</section>
<div id="JS_smoothScroll_target-3"></div>
<section class="P_eat-education__instagram">
  <div class="P_eat-education__common__wrap">
    <div class="P_eat-education__common__title-ja">毎日の給食</div>
    <div class="P_eat-education__common__sub-title">出来立ての給食をインスタグラムで配信</div>
    <div class="P_eat-education__instagram__icon-box">
      <div class="P_eat-education__instagram__icon">
        <div class="C_deco__instagram"></div>
      </div>
      <div class="P_eat-education__instagram__icon-title">
        instagram
      </div>
    </div>
    <div class="P_eat-education__instagram__img-wrap">
      <div class="P_eat-education__instagram__img">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_0_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_0_alt.jpg" alt="instagramサムネイル1" class="C_image lazyload"/>
        </picture>
        <p class="P_eat-education__instagram__img-text">
          Instagramで確認
        </p>
        <%= link_to "", 'https://www.instagram.com/7c_' + name[:en], class:"U_link", target: :_blank%>
      </div>
      <div class="P_eat-education__instagram__img">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_1_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_1_alt.jpg" alt="instagramサムネイル2" class="C_image lazyload"/>
        </picture>
        <p class="P_eat-education__instagram__img-text">
          Instagramで確認
        </p>
        <%= link_to "", 'https://www.instagram.com/7c_' + name[:en], class:"U_link", target: :_blank%>
      </div>
      <div class="P_eat-education__instagram__img">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_2_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_2_alt.jpg" alt="instagramサムネイル3" class="C_image lazyload"/>
        </picture>
        <p class="P_eat-education__instagram__img-text">
          Instagramで確認
        </p>
        <%= link_to "", 'https://www.instagram.com/7c_' + name[:en], class:"U_link", target: :_blank%>
      </div>
      <div class="P_eat-education__instagram__img pc-only">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_3_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_3_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_3_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_3_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_3_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_3_alt.jpg" alt="instagramサムネイル4" class="C_image lazyload"/>
        </picture>
        <p class="P_eat-education__instagram__img-text">
          Instagramで確認
        </p>
        <%= link_to "", 'https://www.instagram.com/7c_' + name[:en], class:"U_link", target: :_blank%>
      </div>
      <div class="P_eat-education__instagram__img pc-tab-only">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_4_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_4_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_4_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_4_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_4_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/insta_4_alt.jpg" alt="instagramサムネイル5" class="C_image lazyload"/>
        </picture>
        <p class="P_eat-education__instagram__img-text">
          Instagramで確認
        </p>
        <%= link_to "", 'https://www.instagram.com/7c_' + name[:en], class:"U_link", target: :_blank%>
      </div>
    </div>
  </div>
</section>
<section class="P_eat-education__event">
  <div class="P_eat-education__common__wrap">
    <div id="JS_smoothScroll_target-4" style="position:absolute;top:0;"></div>
    <div class="P_eat-education__common__back-skew"></div>
    <h1 class="P_eat-education__common__title-ja">食育イベント</h1>
    <div class="P_eat-education__common__title-section"></div>
    <h2 class="P_eat-education__common__title-en">DIETARY EDUCATION</h2>
    <div class="P_eat-education__common__content-wrap first">
      <div class="P_eat-education__common__content-number">01</div>
      <h3 class="P_eat-education__common__content-title">四季折々</h3>
      <h4 class="P_eat-education__common__content-sub-title">
        季節を感じて
      </h4>
      <div class="P_eat-education__event__content-img-container">
        <div class="P_eat-education__event__content-img-half">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_0_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_0_alt.jpg" alt="四季折々1" class="C_image lazyload"/>
        </picture>
        </div>
        <div class="P_eat-education__event__content-img-half">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_1_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/feel_1_alt.jpg" alt="四季折々2" class="C_image lazyload"/>
        </picture>
        </div>
      </div>
      <svg class="P_eat-education__common__deco-line line1" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </div>
    <div class="P_eat-education__common__content-wrap">
      <div class="P_eat-education__common__content-number">02</div>
      <h3 class="P_eat-education__common__content-title">バイキング</h3>
      <h4 class="P_eat-education__common__content-sub-title">
        みんなと楽しく、自由に食事を
      </h4>
      <div class="P_eat-education__event__content-img-container">
        <div class="P_eat-education__event__content-img-box ver-twin">
          <div class="P_eat-education__event__content-img-box top">
            <div class="P_eat-education__event__content-img-triple-L">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_0_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_0_alt.jpg" alt="バイキング1" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
          <div class="P_eat-education__event__content-img-box bottom left">
            <div class="P_eat-education__event__content-img-triple-S">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_1_alt.jpg" alt="バイキング2" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <div class="P_eat-education__event__content-img-box ver-single">
          <div class="P_eat-education__event__content-img-triple-M">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_2_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/viking_2_alt.jpg" alt="バイキング3" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
      </div>
      <svg class="P_eat-education__common__deco-line line2" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </div>
    <div class="P_eat-education__common__content-wrap">
      <div class="P_eat-education__common__content-number">03</div>
      <h3 class="P_eat-education__common__content-title">クッキング</h3>
      <h4 class="P_eat-education__common__content-sub-title">
        自分で作る体験を大切に、<br class="sp-only">
        食に興味をもって
      </h4>
      <div class="P_eat-education__event__content-img-container">
        <div class="P_eat-education__event__content-img-box ver-single">
          <div class="P_eat-education__event__content-img-triple-M">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_0_alt.jpg" alt="クッキング1" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
        <div class="P_eat-education__event__content-img-box ver-twin">
          <div class="P_eat-education__event__content-img-box top">
            <div class="P_eat-education__event__content-img-triple-L">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_1_alt.jpg" alt="クッキング2" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
          <div class="P_eat-education__event__content-img-box bottom right">
            <div class="P_eat-education__event__content-img-triple-S">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cooking_2_alt.jpg" alt="クッキング3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
      </div>
      <svg class="P_eat-education__common__deco-line line3" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </div>
    <div class="P_eat-education__common__content-wrap">
      <div class="P_eat-education__common__content-number">04</div>
      <h3 class="P_eat-education__common__content-title">芋掘り</h3>
      <h4 class="P_eat-education__common__content-sub-title">
        もぐもぐ！ほかほか！<br class="sp-only">
        五感で感じる秋
      </h4>
      <div class="P_eat-education__event__content-img-container">
        <div class="P_eat-education__event__content-img-box ver-twin">
          <div class="P_eat-education__event__content-img-box top">
            <div class="P_eat-education__event__content-img-triple-L">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_0_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_0_alt.jpg" alt="芋掘り1" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
          <div class="P_eat-education__event__content-img-box bottom left">
            <div class="P_eat-education__event__content-img-triple-S">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_1_alt.jpg" alt="芋掘り2" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <div class="P_eat-education__event__content-img-box ver-single">
          <div class="P_eat-education__event__content-img-triple-M">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_2_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/harvest_2_alt.jpg" alt="芋掘り3" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
      </div>
      <svg class="P_eat-education__common__deco-line line4" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </div>
    <div class="P_eat-education__common__content-wrap">
      <div class="P_eat-education__common__content-number">05</div>
      <h3 class="P_eat-education__common__content-title">野菜栽培</h3>
      <h4 class="P_eat-education__common__content-sub-title">
        自分で植え、<br class="sp-only">
        毎日水をやり、育てる
      </h4>
      <div class="P_eat-education__event__content-img-container">
        <div class="P_eat-education__event__content-img-banner">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cultivation_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cultivation_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cultivation_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cultivation_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cultivation_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/cultivation_alt.jpg" alt="野菜栽培" class="C_image lazyload"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="P_eat-education__foodstuff">
  <div class="P_eat-education__common__wrap">
    <div id="JS_smoothScroll_target-5" style="position:absolute;top:0;"></div>
    <div class="P_eat-education__common__back-skew"></div>
    <h1 class="P_eat-education__common__title-ja">地域の食材</h1>
    <div class="P_eat-education__common__title-section"></div>
    <h2 class="P_eat-education__common__title-en">FOODSTUFF</h2>
    <div class="P_eat-education__common__sub-title">安心の食材をお届けしてくれています</div>
    <% food_staff.each_with_index do |staff, i| %>
      <div class="P_eat-education__common__content-wrap <%= "first" if i === 0 %>">
        <h3 class="P_eat-education__foodstuff__shop-name"><%= staff[:shop_name] %></h3>
        <div class="P_eat-education__foodstuff__container <%= "reverse" if i.odd? %>">
          <div class="P_eat-education__foodstuff__img">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/<%= name[:en] %>_food_staff_<%= i %>_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/<%= name[:en] %>_food_staff_<%= i %>_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/<%= name[:en] %>_food_staff_<%= i %>_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/<%= name[:en] %>_food_staff_<%= i %>_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/<%= name[:en] %>_food_staff_<%= i %>_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/<%= name[:en] %>_food_staff_<%= i %>_alt.jpg" alt="食品配送業者<%= i + 1 %>" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_eat-education__foodstuff__text-box">
            <h4>代表者</h4>
            <h5 class="P_eat-education__foodstuff__representative"><%= staff[:representative] %></h5>
            <h5 class="P_eat-education__foodstuff__text-section"><%= staff[:text] %></h5>
            <h4 class="P_eat-education__foodstuff__text-section">主な納品先</h4>
            <h5 class="P_eat-education__foodstuff__text-content"><%= staff[:delively].html_safe %></h5>
            <h4 class="P_eat-education__foodstuff__text-section">所在地</h4>
            <h5 class="P_eat-education__foodstuff__text-content"><%= staff[:postal_code] %></h5>
            <h5 class="P_eat-education__foodstuff__text-content"><%= staff[:address] %></h5>
            <h4 class="P_eat-education__foodstuff__text-section">連絡先</h4>
            <h5 class="P_eat-education__foodstuff__text-content"><%= staff[:tel] %></h5>
          </div>
        </div>
        <svg class="P_eat-education__common__deco-line line1" x="0px" y="0px" >
          <line x1="2%" y1="50%" x2="100%" y2="50%"/>
        </svg>
      </div>
    <% end %>
  </div>
</section>
<ul class="C_Btn__side-nav isHide" id="JS_side-nav_target-nav">
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-0">コンセプト</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-1">給食レシピ</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-2">毎日の給食</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-3">食育イベント</li>
  <li class="C_Btn__side-nav-list" id="JS_side-nav_target-4">地域の食材</li>
  <li class="C_Btn__side-nav-list icon" id="JS_side-nav_close-trigger">
    <i class="fa fa-angle-double-down icon sp-only" aria-hidden="true"></i>
  </li>
  <p class="C_Btn__side-nav-title" id="JS_side-nav_title">nav</p>
  <div class="C_Btn__side-nav-btn" id="JS_side-nav_open-tirgger"></div>
</ul>
<%= render 'shared/side-bar_noBack',{color: ''}%>
