<div id="JS_smoothScroll_target-0" style="position:absolute;top:0;"></div>
<div id="JS_scroll-to-top_trigger-0" style="position:absolute;height:100vh;top:0;"></div>
<section class="P_features__nav pc-tab-only">
  <div class="P_features__nav__title">MY FEATURES</div>
  <ul class="P_features__nav__container">
    <div class="P_features__nav__deco jagged">
      <div class="C_deco__jagged1"></div>
    </div>
    <div class="P_features__nav__deco babble">
      <div class="C_deco__babble1"></div>
    </div>
    <div class="P_features__nav__deco triangle">
      <div class="C_deco__triangle1"></div>
    </div>
    <div class="P_features__nav__deco dots">
      <div class="C_deco__dots1"></div>
    </div>
    <li class="P_features__nav__box play isPlay" id='JS_tabChange_pc_triggers-0'>
      <div class="P_features__nav__nav-img isActive" id="JS_tabChange_img-0">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_alt.jpg" alt="特色(遊び)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_features__nav__nav-title">遊び・学び</div>
      <div class="P_features__nav__nav-title-en">PLAY・LEARN</div>
    </li>
    <li class="P_features__nav__box courstesy isPlay" id='JS_tabChange_pc_triggers-1'>
      <div class="P_features__nav__nav-img" id="JS_tabChange_img-1">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_alt.jpg" alt="特色(礼儀)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_features__nav__nav-title">礼儀</div>
      <div class="P_features__nav__nav-title-en">COURTESY</div>
    </li>
    <li class="P_features__nav__box environment isPlay" id='JS_tabChange_pc_triggers-2'>
      <div class="P_features__nav__nav-img" id="JS_tabChange_img-2">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_alt.jpg" alt="特色(環境)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_features__nav__nav-title">環境</div>
      <div class="P_features__nav__nav-title-en">ENVIRONMENT</div>
    </li>
    <li class="P_features__nav__box expression isPlay" id='JS_tabChange_pc_triggers-3'>
      <div class="P_features__nav__nav-img" id="JS_tabChange_img-3">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_alt.jpg" alt="特色(表現)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_features__nav__nav-title">表現</div>
      <div class="P_features__nav__nav-title-en">EXPRESSION</div>
    </li>
    <li class="P_features__nav__box together isPlay" id='JS_tabChange_pc_triggers-4'>
      <div class="P_features__nav__nav-img" id="JS_tabChange_img-4">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_alt.jpg" alt="特色(一緒に)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_features__nav__nav-title">一緒に</div>
      <div class="P_features__nav__nav-title-en">TOGETHER</div>
    </li>
  </ul>
</section>
<section class="sp-only">
  <div class="P_features__sp-nav__title">MY FEATURES</div>
  <ul class="P_features__sp-nav__lists">
    <li class="P_features__sp-nav__list play isPlay" id='JS_tabChange_sp_triggers-0'>
      <div class="P_features__sp-nav__content-title">遊び<br>学び</div>
    </li>
    <li class="P_features__sp-nav__list courtesy isPlay" id='JS_tabChange_sp_triggers-1'>
      <div class="P_features__sp-nav__content-title">礼儀</div>
    </li>
    <li class="P_features__sp-nav__list environment isPlay" id='JS_tabChange_sp_triggers-2'>
      <div class="P_features__sp-nav__content-title">環境</div>
    </li>
    <li class="P_features__sp-nav__list expression isPlay" id='JS_tabChange_sp_triggers-3'>
      <div class="P_features__sp-nav__content-title">表現</div>
    </li>
    <li class="P_features__sp-nav__list together isPlay" id='JS_tabChange_sp_triggers-4'>
      <div class="P_features__sp-nav__content-title">一緒に</div>
    </li>
  </ul>
</section>
<section class="P_features__articles" id='JS_tabChange_trimer'>
  <article class="P_features__article isPlay play" id='JS_tabChange_targets-0'>
    <div class="P_features__article__wave-trim pc-tab-only">
      <svg viewBox="0 0 1500 50" class="P_features__article__wave play">
        <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z"></path>
      </svg>
    </div>
    <div class="P_features__article__color play">
      <div class="P_features__article__title">遊び・学び</div>
      <div class="P_features__article__section-line-ver"></div>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          PLAY・LEARN
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          感性を豊かに
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__play-1-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__play-1-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-single">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_0_alt.jpg" alt="特色(遊び)画像1" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
        <p class="P_features__article__text-title">
          感動体験が心を育てる
        </p>
        <p class="P_features__article__text">
          子どもたちの感動や驚き、発見の体験が、心や感性を育みます。だからこそ、一つ一つの体験を大切にして、子どもたちの笑顔が溢れる保育を日常に取り入れています。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          PLAY・LEARN
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          好奇心豊かに
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__play-2-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__play-2-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-0_alt.jpg" alt="特色(遊び)画像2-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-1_alt.jpg" alt="特色(遊び)画像2-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_1-2_alt.jpg" alt="特色(遊び)画像2-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          感触 手触り 五感で感じる
        </p>
        <p class="P_features__article__text">
          乳児期の子どもたちは興味がいっぱいです。 手にするものすべてが初めてのものばかりです。子どもたちは手触りや感触を確かめながら、物に触ったり、投げたり、押し込んだり、はめたりします。そんな何気ない遊びを通して身体の五感を高めていきます。 私たちの園では乳児が安心して、何気ない遊びが存分に出来るように、保育教諭の温かな見守りと興味や関心を惹く木の温かみが感じられる木の玩具を用意しています。<br>
          幼児期の子どもは創造性豊かです。私たち園では、子どもたちが遊びを連続して続けていける、『コーナー遊び』を導入しています。園生活では、遊びを中断しないといけない場面がたくさんありますが、遊びの続きができるように、作りかけの玩具をそのままにおいて置けるコーナーを設けることで、子どもの遊びが連続し、私たちを驚かせる名作を作り上げるのです。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          PLAY・LEARN
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          学び豊かに
          <div class="P_features__article__title-logo left size-L">
            <div class="C_deco__features__play-3-L"></div>
          </div>
          <div class="P_features__article__title-logo right size-L">
            <div class="C_deco__features__play-3-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-0_alt.jpg" alt="特色(遊び)画像3-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-1_alt.jpg" alt="特色(遊び)画像3-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_2-2_alt.jpg" alt="特色(遊び)画像3-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text">
          ここを卒園すると子どもたちは、次に小学校に入学します。今までの『遊びの中の学び』から、『机の上の学び』に変わっていきます。その学びの変化に対応できるように、当園では5歳児からは一人机を使い、徐々に小学校での学びの準備を行います。時にはみんなで楽しく遊び、時には一人一人が集中して先生の話を聞く。そんなメリハリを小学校入学に向けて、5歳児から日常に取り入れています。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          PLAY・LEARN
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          表情豊かに
          <div class="P_features__article__title-logo left  size-L">
            <div class="C_deco__features__play-4-L"></div>
          </div>
          <div class="P_features__article__title-logo right  size-L">
            <div class="C_deco__features__play-4-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-0_alt.jpg" alt="特色(遊び)画像4-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-1_alt.jpg" alt="特色(遊び)画像4-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_play_3-2_alt.jpg" alt="特色(遊び)画像4-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text">
          いろんなことを体験し、豊かな笑顔を絶やしません。私たちの園では、英会話、体育指導、キッズダンス、スイミング、お茶作法など、子どもの興味や関心を育む体験をたくさん用意しています。しかし、子どもたちの専門分野の習得を私たちは目的としていません。子どもたちがたくさんの体験を笑顔で楽しむ。その笑顔が子どもの興味関心が持続する原動力になります。私たちは子どもにそんな笑顔の溢れる体験をたくさん提供することで、子どもの可能性を広げていきます。
        </p>
      </div>
    </div>
  </article>
  <article class="P_features__article isPlay courtesy" id='JS_tabChange_targets-1'>
    <div class="P_features__article__wave-trim pc-tab-only">
      <svg viewBox="0 0 1500 50" class="P_features__article__wave courtesy">
        <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z"></path>
      </svg>
    </div>
    <div class="P_features__article__color courtesy">
      <div class="P_features__article__title">礼儀</div>
      <div class="P_features__article__section-line-ver"></div>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          COURTESY
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          礼を通じて学ぶこと
          <div class="P_features__article__title-logo right size-S">
            <div class="C_deco__features__courtesy-1-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-0_alt.jpg" alt="特色(礼儀)画像1-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-1_alt.jpg" alt="特色(礼儀)画像1-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_0-2_alt.jpg" alt="特色(礼儀)画像1-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text">
          お茶作法や日々の挨拶などやマナーなどから、その場にあった礼儀や作法を大切にする心を育みます。礼儀を大切にすることで、誠実な気持ちを持ち、自分以外の人に対して、理解や尊敬の心を持って関われるように、育ってくれることを願っています。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          COURTESY
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          掃除を通じて学ぶこと
          <div class="P_features__article__title-logo left size-S">
            <div class="C_deco__features__courtesy-2-L"></div>
          </div>
          <div class="P_features__article__title-logo right size-S">
            <div class="C_deco__features__courtesy-2-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-0_alt.jpg" alt="特色(礼儀)画像2-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_1-1_alt.jpg" alt="特色(礼儀)画像2-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_alt.jpg" alt="特色(礼儀)画像2-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          心のゆとりを育む
        </p>
        <p class="P_features__article__text">
          自分たちの生活する場を掃除することで、気がついたら身の回りを整頓し、綺麗な環境を保つ習慣をもち、大人になっても日々の生活の場を、まずは整えていく心のゆとりを持つことができます。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          COURTESY
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          「やってみる」<br class="sp-only">から学ぶこと
          <div class="P_features__article__title-logo left size-tab-S tab-narrow">
            <div class="C_deco__features__courtesy-3-L"></div>
          </div>
          <div class="P_features__article__title-logo right size-tab-S tab-narrow">
            <div class="C_deco__features__courtesy-3-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-0_alt.jpg" alt="特色(礼儀)画像3-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-1_alt.jpg" alt="特色(礼儀)画像3-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_2-2_alt.jpg" alt="特色(礼儀)画像3-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          自分で出来ることの大切さを知る
        </p>
        <p class="P_features__article__text">
          子どもたちは私たちが思っている以上に、出来ることがたくさんあります。ついつい、心配で先回りして手助けしてしまいがちですが、私たちは子どもたちの「やってみる」を大切にしています。そうすることで、子どもたちが自分で出来たことに、素直に喜び、意欲を高め、衣服の着脱や整頓、掃除など、日常の何気ない行動を丁寧に習慣づけていくことができます。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          COURTESY
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          感謝の言葉<br class="sp-only">から学ぶこと
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__courtesy-4-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__courtesy-4-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-single">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_3_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_3_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_3_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_3_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_3_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_courtesy_3_alt.jpg" alt="特色(礼儀)画像4" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
        <p class="P_features__article__text-title">
          ３つの感謝の言葉を大切に
        </p>
        <p class="P_features__article__text">
          「ありがとう」、「いただきます」、「ごちそうさま」たくさんの言葉がある中で、私たちはこの3つの感謝の言葉を大切にしています。大きくなるにつれ、子どもたちはたくさん言葉を身に付けます。いろんな言葉を自由使って、楽しむのは大切です。しかしこの3つの感謝の言葉を、誰に対しても丁寧に心を込めて使ってくれる、子どもたちに育ってほしいと願っています。
        </p>
      </div>
    </div>
  </article>
  <article class="P_features__article isPlay environment" id='JS_tabChange_targets-2'>
    <div class="P_features__article__wave-trim pc-tab-only">
      <svg viewBox="0 0 1500 50" class="P_features__article__wave environment">
        <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z"></path>
      </svg>
    </div>
    <div class="P_features__article__color environment">
      <div class="P_features__article__title">環境</div>
      <div class="P_features__article__section-line-ver"></div>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          ENVIRONMENT
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          思いっきり遊べる環境
          <div class="P_features__article__title-logo left size-S">
            <div class="C_deco__features__environment-1-L"></div>
          </div>
          <div class="P_features__article__title-logo right size-S">
            <div class="C_deco__features__environment-1-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-single">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_0_alt.jpg" alt="特色(環境)画像1" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          ENVIRONMENT
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          安心して遊べる環境
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__environment-2-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__environment-2-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-0_alt.jpg" alt="特色(環境)画像2-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-1_alt.jpg" alt="特色(環境)画像2-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_1-2_alt.jpg" alt="特色(環境)画像2-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          無邪気な笑顔のために
        </p>
        <p class="P_features__article__text">
          子どもたちは無邪気です。園庭を駆け回ったり、ボールや遊具で遊んだりします。私たちの園では、そんな無邪気さを守るために、子どもがぶつかりそうな壁の角にクッションをつけたり、飛散防止のLEDを設置したり、いつも危険な箇所が無いか目を光らせ、安心して子どもたちが存分に、力いっぱい遊べる環境づくりに努めています。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          ENVIRONMENT
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          自然を感じる環境
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__environment-3-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__environment-3-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-double left">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-0_alt.jpg" alt="特色(環境)画像3-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-double right">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-1_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_2-1_alt.jpg" alt="特色(環境)画像3-2" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
        <p class="P_features__article__text-title">
          自分で育てる
        </p>
        <p class="P_features__article__text">
          園内にある畑で、子どもたちは自分で四季折々の草花の種をまき、野菜や果物の苗を育て、その作物を収穫することで、自分で育てる喜びを感じます。いつもは食べられない野菜も、自分が育てたものだと自然に、嬉しそうに食べています。子どもたちは、自然と身近に感じられる環境で、優しさや物を大切にする感性が磨かれていきます。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          ENVIRONMENT
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          快適に生活できる環境
          <div class="P_features__article__title-logo left size-S">
            <div class="C_deco__features__environment-4-L"></div>
          </div>
          <div class="P_features__article__title-logo right size-S">
            <div class="C_deco__features__environment-4-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-0_alt.jpg" alt="特色(環境)画像4-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-1_alt.jpg" alt="特色(環境)画像4-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_3-2_alt.jpg" alt="特色(環境)画像4-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          存分に活動できる快適な生活を
        </p>
        <p class="P_features__article__text">
          私たちの園では、たくさんの子どもたちが快適に生活できるツールを用意しています。例えば乳児期の午睡（昼寝）の時の専用ハンモックベッド、衛生面に配慮した玩具用の殺菌庫、一人で集中できる個人机。私たちはそれらのツールを、最大限に活用して、快適な環境づくりをしています。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          ENVIRONMENT
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          楽しく食事ができる環境
          <div class="P_features__article__title-logo left size-2S narrow">
            <div class="C_deco__features__environment-5-L"></div>
          </div>
          <div class="P_features__article__title-logo right size-2S narrow">
            <div class="C_deco__features__environment-5-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-0_alt.jpg" alt="特色(環境)画像5-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-1_alt.jpg" alt="特色(環境)画像5-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_environment_4-2_alt.jpg" alt="特色(環境)画像5-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          家庭の食卓のようなぬくもりを
        </p>
        <p class="P_features__article__text">
          私たちの給食では、扱いの簡単な樹脂製の食器ではなく陶器の食器を使い、出来るだけ家庭の食卓と同じ環境づくりをしています。また乳児が自分で食べやすいように、ワンプレート使って、子どもが意欲的に食事をできる環境づくりをしています。
        </p>
      </div>
    </div>
  </article>
  <article class="P_features__article isPlay expression" id='JS_tabChange_targets-3'>
    <div class="P_features__article__wave-trim pc-tab-only">
      <svg viewBox="0 0 1500 50" class="P_features__article__wave expression">
        <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z"></path>
      </svg>
    </div>
    <div class="P_features__article__color expression">
      <div class="P_features__article__title">表現</div>
      <div class="P_features__article__section-line-ver"></div>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          EXPRESSION
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          心をつないで
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__expression-1-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__expression-1-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-single">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_0_alt.jpg" alt="特色(表現)画像1" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          EXPRESSION
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          感動をつないで
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__expression-2-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__expression-2-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-twin left">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-0_alt.jpg" alt="特色(表現)画像2-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-twin right">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-1_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_1-1_alt.jpg" alt="特色(表現)画像2-2" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
        <p class="P_features__article__text-title">
          精一杯のプレゼント
        </p>
        <p class="P_features__article__text">
          子どもたちは「出来た！これ見て！」と、満面の笑みで私たちの方を振り返ります。子どもたちは出来るようになったという喜びを、親や周りの人に共感して欲しいのです。発表会という行事は「これ見て！」がたくさん詰め込まれています。発表とは英語でプレゼンといいます。舞台の上で演じる子どもたちの姿は、子どもたちからの精一杯のプレゼントです。その感動に、たくさんの拍手をもって受けっとってください。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          EXPRESSION
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          想いをつないで
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__expression-3-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__expression-3-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-0_alt.jpg" alt="特色(表現)画像3-1" class="C_image lazyload"/>
      </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-1_alt.jpg" alt="特色(表現)画像3-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_2-2_alt.jpg" alt="特色(表現)画像3-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          一人一人にライトをあてて
        </p>
        <p class="P_features__article__text">
          演目から衣装、舞台まで、職員一丸となり、子どもたちの一人一人の頑張りが、それぞれに輝けるように、舞台袖からの応援というライトをあてれば、観客席からの盛大な拍手がおこる。そこにはいつも感動があります。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          EXPRESSION
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          情熱をつないで
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__expression-4-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-box-row top">
            <div class="P_features__article__img-triple-row-sub left">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-0_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-0_alt.jpg" alt="特色(表現)画像4-1" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-row-sub right">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-1_alt.jpg" alt="特色(表現)画像4-2" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
          <div class="P_features__article__img-box-row bottom">
            <div class="P_features__article__img-triple-row-main">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_expression_3-2_alt.jpg" alt="特色(表現)画像4-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          好奇心を育む
        </p>
        <p class="P_features__article__text">
          子どもたちのやってみたい、こうしたい、そんな好奇心や意欲を大切に、子どもたちの興味や関心を日々の保育に取り入れながら、その後のイベントなどへ繋げていくことで、子どもたちの興味が意欲となり、意欲が情熱となります。
        </p>
      </div>
    </div>
  </article>
  <article class="P_features__article isPlay together" id='JS_tabChange_targets-4'>
    <div class="P_features__article__wave-trim pc-tab-only">
      <svg viewBox="0 0 1500 50" class="P_features__article__wave together">
        <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z"></path>
      </svg>
    </div>
    <div class="P_features__article__color together">
      <div class="P_features__article__title">一緒に</div>
      <div class="P_features__article__section-line-ver"></div>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          TOGETHER
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          一緒に喜ぶ
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__together-1-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__together-1-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-single">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_0_alt.jpg" alt="特色(一緒に)画像1" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          TOGETHER
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          一緒に楽しむ
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__together-2-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__together-2-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-twin left">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-0_alt.jpg" alt="特色(一緒に)画像2-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-twin right">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-1_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_1-1_alt.jpg" alt="特色(一緒に)画像2-2" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
        <p class="P_features__article__text-title">
          イベントは親子で一緒に
        </p>
        <p class="P_features__article__text">
          子どもはやっぱり親が好きです。いつも先生！大好き！って言ってくれる子でも、一番好きなのはお母さん、お父さんです。だから私たちの園では親子で食事をとれる『親子バイキング』、一緒に料理を作る『親子クッキング』、夏の『夕涼み会』など、親子で楽しめるイベントを企画しています。親子で一緒に活動する時の笑顔は、普段私たちに見せてくれる笑顔よりも、一層と輝いて見えます。そんな親子の笑顔があふれるイベントをたくさん用意しています。
        </p>
      </div>
      <svg class="P_features__article__section-line" x="0px" y="0px" width="100%" height="5%">
        <line x1="1%" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <div class="P_features__article__content-box">
        <div class="P_features__article__content-title">
          TOGETHER
        </div>
        <div class="P_features__article__under-arrow">
          <div class="C_deco__under-arrow"></div>
        </div>
        <div class="P_features__article__content-sub-title">
          一緒に育てる
          <div class="P_features__article__title-logo left">
            <div class="C_deco__features__together-3-L"></div>
          </div>
          <div class="P_features__article__title-logo right">
            <div class="C_deco__features__together-3-R"></div>
          </div>
          <svg class="P_features__article__under-line" x="0px" y="0px" width="100%" height="5%">
            <line x1="1%" y1="50%" x2="100%" y2="50%"/>
          </svg>
        </div>
        <div class="P_features__article__img-box">
          <div class="P_features__article__img-triple-col-main">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-0_alt.jpg" alt="特色(一緒に)画像3-1" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_features__article__img-box-col">
            <div class="P_features__article__img-triple-col-sub top">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-1_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-1_alt.jpg" alt="特色(一緒に)画像3-2" class="C_image lazyload"/>
              </picture>
            </div>
            <div class="P_features__article__img-triple-col-sub bottom">
              <picture>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-2_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/<%= name_items[:name_en]%>_together_2-2_alt.jpg" alt="特色(一緒に)画像3-3" class="C_image lazyload"/>
              </picture>
            </div>
          </div>
        </div>
        <p class="P_features__article__text-title">
          子どもと一緒に成長する
        </p>
        <p class="P_features__article__text">
          お母さん、お父さんにとっては、子育てにたくさん不安や、苦労があると思います。私たちはそんな子育て家庭を少しでも支援できるよう心掛けています。私たちも日々の子どもの様子HPやお手紙などを使い、たくさんお知らせします。子どもの様子を共有して、一緒に子育てしていきましょう。
        </p>
      </div>
    </div>
  </article>
</section>
<%= render 'shared/side-bar_noBack_SP',{color: ''}%>
