<footer>
  <div class="L_footer">
    <div class="L_footer__inner">
      <h1 class="L_footer__logo">
        <div class="L_footer__logo-box">
          <div class="C_image__logo-parti"></div>
        </div>
      </h1>
      <nav class="L_footer__nav-inner">
        <ul class="L_footer__list">
          <li class="L_footer__list-item ">
            <%= link_to '七彩学舎', root_path, class: 'L_footer__list-link' %>
          </li>
          <li class="L_footer__list-item">
            <%= link_to 'ピアニィ道教寺', piani_index_path, class: 'L_footer__list-link' %>
          </li>
          <li class="L_footer__list-item">
            <%= link_to 'お問い合わせ', contact_home_index_path, class: 'L_footer__list-link' %>
          </li>
          <li class="L_footer__list-item">
            <%= link_to '個人情報保護', privacy_home_index_path, class: 'L_footer__list-link' %>
          </li>
          <li class="L_footer__list-item">
            <%= link_to 'サイトポリシー', policy_home_index_path, class: 'L_footer__list-link' %>
          </li>
        </ul>
      </nav>
      <div class="L_footer__bottom" >
        <p class="L_footer__text">
          〒597-0033　大阪府貝塚市半田1-3-6<br class="tab-sp-only">
          <span class="pc-only">　</span>
          TEL 072-493-1330 FAX 072-493-1331
        </p>
        <p class="L_footer__text">
          <small>Copyright © Nanairo Gakusya<br class="tab-sp-only">
          <span class="pc-only"> </span>
          Partners Inc. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</footer>
