<div class="C_img-slider__wrap">
  <% if slider_items[:back] then %>
    <svg class="pc-only" width="100%" height="100%" viewBox="0 0 1500 700" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
      <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
        <path d="M-123.273,482.486C-78.046,413.042 -27.143,342.926 37.823,290.466C145.174,203.78 287.13,163.849 423.524,161.249C438.355,160.966 453.197,161.235 468.02,161.769C522.456,163.733 580.32,172.459 628.892,198.515C671.824,221.544 705.664,258.748 714.193,307.855C717.432,326.5 717.922,341.314 716.032,360.14C707.937,440.816 620.305,481.59 547.093,473.583C493.436,467.715 446.702,435.466 423.445,386.255C416.369,371.283 410.63,353.922 410.711,337.069C410.888,300.651 421.081,266.151 438.805,234.408C476.496,166.905 549.689,134.516 620.812,113.065C714.295,84.87 815.758,79.418 911.216,101.04C952.829,110.466 991.569,127.917 1030.3,145.431C1070.05,163.408 1107.8,186.253 1141.25,214.337" style="fill:none;stroke:white;stroke-width:117.52px;"/>
      </g>
    </svg>
    <svg class="tab-only" width="100%" height="100%" viewBox="0 0 1025 700" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
      <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
        <path d="M-119.37,528.882C56.257,160.08 331.977,240.111 398.927,335.437C457.469,418.791 391.121,515.514 313.845,507.65C238.963,500.03 218.419,424.708 227.202,373.182C240.471,295.332 294.331,148.283 557.382,153.787C642.535,155.569 732.229,177.378 800.138,240.287" style="fill:none;stroke:white;stroke-width:100px;"/>
      </g>
    </svg>
    <svg class="sp-only" width="100%" height="100%" viewBox="0 0 600 700" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
      <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
        <path d="M-118.589,437.664C-66.291,123.906 192.814,226.893 263.108,299.264C334.14,372.396 290.428,478.555 212.371,491.923C146.799,503.153 82.016,452.605 77.333,377.9C69.671,255.689 156.17,106.606 274.816,95.597C346.596,88.936 412.196,108.965 440.297,173.446" style="fill:none;stroke:white;stroke-width:100px;"/>
      </g>
    </svg>
  <% end %>
  <% if slider_items[:inner_title] then %>
    <h1 class="C_img-slider__title"><%= slider_items[:title] %></h1>
  <% end %>
  <% if slider_items[:back] then %>
    <div class="C_img-slider__deco-container pc-tab-only">
      <div class="C_img-slider__deco-box left"></div>
      <div class="C_img-slider__deco-box-text left">PLAY</div>
      <div class="C_img-slider__deco-box right"></div>
      <div class="C_img-slider__deco-box-text right">LEARN</div>
    </div>
  <% end %>
  <div class="C_img-slider__img-slider <%= "content_title" if slider_items[:content_title] %>">
    <ul class="C_img-slider__slide-group">
      <% slider_items[:items].each_with_index do |item, i|%>
        <% if slider_items[:content_title] then %>
          <li class="C_img-slider__content-box">
            <div class="C_img-slider__img-circle">
              <picture>
                <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.jpg 600w, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.jpg 600w, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.jpg 600w, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.jpg 600w, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.jpg 600w, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_alt.jpg" alt="<%= slider_items[:title] %> <%= i + 1%>" class="C_image"/>
              </picture>
              <%= link_to "", item[:link], class:"U_link circle"%>
            </div>
            <div class="C_img-slider__content-title">
              <%= item[:title]%>
            </div>
          </li>
        <% else %>
          <li class="C_img-slider__img-circle">
            <picture>
              <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_alt.jpg" alt="<%= slider_items[:title] %> <%= i + 1%>" class="C_image"/>
            </picture>
            <%= link_to "", slider_items[:link], class:"U_link circle"%>
          </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="C_img-slider__slide-group">
      <% slider_items[:items].each_with_index do |item, i|%>
        <% if slider_items[:content_title] then %>
          <li class="C_img-slider__content-box">
            <div class="C_img-slider__img-circle">
              <picture>
                <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
                <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
                <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp2.webp 2x" type="image/webp" class="C_image"/>
                <img src="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_alt.jpg" alt="<%= slider_items[:title] %> <%= i + 1%>" class="C_image"/>
              </picture>
              <%= link_to "", item[:link], class:"U_link circle"%>
            </div>
            <div class="C_img-slider__content-title">
              <%= item[:title]%>
            </div>
          </li>
        <% else %>
          <li class="C_img-slider__img-circle">
            <picture>
              <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/<%= slider_items[:img_source] %>_<%= i %>_alt.jpg" alt="<%= slider_items[:title] %> <%= i + 1%>" class="C_image"/>
            </picture>
            <%= link_to "", item[:link], class:"U_link circle"%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="C_img-slider__btn">
    <div class="C_img-slider__btn-text">VIEW MORE</div>
    <%= link_to "", slider_items[:link], class:"U_link"%>
  </div>
</div>
