<section class="Contents">
  <ul class="C_index__contents__wrap">
    <li class="C_index__contents__item-box">
      <div class="C_index__contents__number pc-tab-only">1.</div>
      <div id="JS_scroll-action-5_trigger">
        <div class="C_index__contents__img-box" id="JS_scroll-action-5_target-0">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/about/<%= name_items[:name_en]%>_banner_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/about/<%= name_items[:name_en]%>_banner_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/about/<%= name_items[:name_en]%>_banner_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/about/<%= name_items[:name_en]%>_banner_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/about/<%= name_items[:name_en]%>_banner_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/about/<%= name_items[:name_en]%>_banner_alt.jpg" alt="概要 バナー画像" class="C_image lazyload"/>
          </picture>
          <h1 class="C_index__contents__title-en">ABOUT</h1>
          <svg class="C_index__contents__deco-line" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="C_index__contents__title-box">
            <h1 class="C_index__contents__title-ja">当園について</h1>
          </div>
          <%= link_to "", links[:about], class:"U_link"%>
        </div>
      </div>
      <div class="C_index__contents__text-box">
        <p class="C_index__contents__text">
          園<span class="C_text__braces">名</span>「<%= name_items[:name_ja] %><span class="C_text__braces">」</span>に込められた思い
        </p>
      </div>
    </li>
    <li class="C_index__contents__item-box">
      <div class="C_index__contents__number pc-tab-only">2.</div>
      <div id="JS_scroll-action-6_trigger">
        <div class="C_index__contents__img-box" id="JS_scroll-action-6_target-0">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/event/<%= name_items[:name_en]%>_banner_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/event/<%= name_items[:name_en]%>_banner_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/event/<%= name_items[:name_en]%>_banner_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/event/<%= name_items[:name_en]%>_banner_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/event/<%= name_items[:name_en]%>_banner_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/event/<%= name_items[:name_en]%>_banner_alt.jpg" alt="年間行事 バナー画像" class="C_image lazyload"/>
          </picture>
          <h1 class="C_index__contents__title-en">EVENT</h1>
          <svg class="C_index__contents__deco-line" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="C_index__contents__title-box">
            <h1 class="C_index__contents__title-ja">年間行事</h1>
          </div>
          <%= link_to "", links[:event], class:"U_link"%>
        </div>
      </div>
      <div class="C_index__contents__text-box">
        <p class="C_index__contents__text">
          遠足や運動会のほかに、<br>
          日本文化を楽しむ行事が満載
        </p>
      </div>
    </li>
    <li class="C_index__contents__item-box">
      <div class="C_index__contents__number pc-tab-only">3.</div>
      <div id="JS_scroll-action-7_trigger">
        <div class="C_index__contents__img-box" id="JS_scroll-action-7_target-0">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/banner_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/banner_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/banner_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/eat-education/banner_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/banner_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/eat-education/banner_alt.jpg" alt="食育 バナー画像" class="C_image lazyload"/>
          </picture>
          <h1 class="C_index__contents__title-en">FOOD<br>EDUCATION</h1>
          <svg class="C_index__contents__deco-line" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="C_index__contents__title-box">
            <h1 class="C_index__contents__title-ja">食育</h1>
          </div>
          <%= link_to "", links[:eat_education], class:"U_link"%>
        </div>
      </div>
      <div class="C_index__contents__text-box">
        <p class="C_index__contents__text">
          毎日の「おいしいね」を大切に
        </p>
      </div>
    </li>
    <li class="C_index__contents__item-box">
      <div class="C_index__contents__number pc-tab-only">4.</div>
      <div id="JS_scroll-action-8_trigger">
        <div class="C_index__contents__img-box" id="JS_scroll-action-8_target-0">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/philosophy/banner_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/philosophy/banner_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/philosophy/banner_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/philosophy/banner_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/philosophy/banner_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/philosophy/banner_alt.jpg" alt="理念 バナー画像" class="C_image lazyload"/>
          </picture>
          <h1 class="C_index__contents__title-en">PHILOSOPHY</h1>
          <svg class="C_index__contents__deco-line" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="C_index__contents__title-box">
          <h1 class="C_index__contents__title-ja">理念</h1>
          </div>
          <%= link_to "", links[:vision], class:"U_link"%>
        </div>
      </div>
      <div class="C_index__contents__text-box">
        <p class="C_index__contents__text">
          「友・遊・優」大事にしたい3つの心
        </p>
      </div>
    </li>
  </ul>
</section>
<div class="C_index__section__wrap">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1500 50" preserveAspectRatio="none" class="C_index__section__wave-reverse">
    <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
  </svg>
</div>
<section class="photoGallery" id="JS_scroll-to-top_trigger-1">
  <%= render partial: 'shared/img-slider', locals:{slider_items: slider_items}%>
</section>
<div class="C_index__section__wrap">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1500 50" preserveAspectRatio="none" class="C_index__section__wave">
    <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
  </svg>
</div>
<section class="Nav">
  <div class="C_index__nav__wrap">
    <div class="C_index__nav__top-wrap">
      <div class="C_index__nav__belong-box" id="JS_scroll-action-9_trigger">
        <div class="C_index__nav__rain">
          <div class="C_deco__rain"></div>
        </div>
        <div class="C_index__nav__title-box left">
          <div class="C_index__nav__title-ja">在園の方へ
            <svg class="C_index__nav__deco-under-line" width="110" height="12" id="JS_scroll-action-9_target-0">
              <polyline points="1,10 95,10 90,5" fill="transparent"/>
            </svg>
          </div>
          <div class="C_index__nav__read">READ MORE</div>
          <%= link_to "",  links[:belong], class:"U_link"%>
        </div>
        <div class="C_index__nav__img-box">
          <div class="C_index__nav__trim-img">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/belong/banner_alt.jpg" alt="在園の方へ バナー画像" class="C_image lazyload"/>
          </picture>
          </div>
          <div class="C_index__nav__deco-top-left"></div>
          <div class="C_index__nav__deco-top-right"></div>
          <div class="C_index__nav__deco-bottom-left"></div>
          <div class="C_index__nav__deco-bottom-right"></div>
        </div>
      </div>
      <svg class="C_index__nav__deco-line-ver pc-tab-only" x="0px" y="0px" width="1px" height="120%">
        <line x1="0" y1="0.5" x2="1" y2="100%"/>
      </svg>
      <div class="C_index__nav__admission-box" id="JS_scroll-action-10_trigger">
        <div class="C_index__nav__birds">
          <div class="C_deco__birds"></div>
        </div>
        <div class="C_index__nav__title-box right">
          <div class="C_index__nav__title-ja">入園希望の方へ
            <svg class="C_index__nav__deco-under-line right" width="110" height="12" id="JS_scroll-action-10_target-0">
              <polyline points="1,10 95,10 90,5" fill="transparent"/>
            </svg>
          </div>
          <div class="C_index__nav__read">READ MORE</div>
          <%= link_to "", links[:admission], class:"U_link"%>
        </div>
        <div class="C_index__nav__img-box admission">
          <div class="C_index__nav__trim-img">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/banner_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/banner_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/admission/banner_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/admission/banner_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/admission/banner_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/admission/banner_alt.jpg" alt="入園をお考えの方へ バナー画像" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="C_index__nav__deco-top-left"></div>
          <div class="C_index__nav__deco-top-right"></div>
          <div class="C_index__nav__deco-bottom-left"></div>
          <div class="C_index__nav__deco-bottom-right"></div>
        </div>
      </div>
    </div>
    <div class="C_index__nav__under-wrap">
      <div class="C_index__nav__access-title-box" id="JS_scroll-action-11_target-0">
        <div id="JS_scroll-action-11_trigger" style="height:100%;">
          <div class="C_index__nav__under-title-en">ACCESS</div>
          <div class="C_index__nav__under-title-ja">アクセス</div>
          <%= link_to "", links[:access], class:"U_link"%>
        </div>
      </div>
      <div class="C_index__nav__map-title-box" id="JS_scroll-action-12_target-0">
        <div id="JS_scroll-action-12_trigger" style="height:100%;">
          <div class="C_index__nav__under-title-en">MAP</div>
          <div class="C_index__nav__under-title-ja">マップ</div>
          <%= link_to "", links[:map], class:"U_link"%>
        </div>
      </div>
      <div class="C_index__nav__info-title-box" id="JS_scroll-action-13_target-0">
        <div id="JS_scroll-action-13_trigger" style="height:100%;">
          <div class="C_index__nav__under-title-en">INFOMATION</div>
          <div class="C_index__nav__under-title-ja">インフォメーション</div>
          <%= link_to "", links[:info], class:"U_link"%>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Recruit"  id="JS_scroll-to-top_trigger-2">
  <div id="JS_scroll-action-14_trigger">
    <div class="C_index__recruit">
      <svg class="C_index__recruit__deco-line" x="0px" y="0px" width="100%" height="100%">
        <line class="C_index__recruit__deco-line-1" x1="0" y1="2%" x2="100%" y2="2%"/>
        <line class="C_index__recruit__deco-line-2" x1="0" y1="4%" x2="100%" y2="4%"/>
        <line class="C_index__recruit__deco-line-1" x1="0" y1="6%" x2="100%" y2="6%"/>
        <line class="C_index__recruit__deco-line-1" x1="0" y1="94%" x2="100%" y2="94%"/>
        <line class="C_index__recruit__deco-line-2" x1="0" y1="96%" x2="100%" y2="96%"/>
        <line class="C_index__recruit__deco-line-1" x1="0" y1="98%" x2="100%" y2="98%"/>
      </svg>
      <div class="C_index__recruit__back left"></div>
      <div class="C_index__recruit__back right"></div>
      <div class="C_index__recruit__title-ja">就職希望の方へ</div>
      <div class="C_index__recruit__title-en">RECRUITING</div>
      <div class="C_index__recruit__sub-title-en">Let's work together!</div>
      <div class="C_index__recruit__read">
        READ MORE
        <svg class="C_index__recruit__deco-line-read" x="0px" y="0px" width="250" height="110">
          <polyline class="C_index__recruit__deco-line-read-1" points="200,50 200,1 1,1 1,60" fill="transparent" id="JS_scroll-action-14_target-0"/>
          <polyline class="C_index__recruit__deco-line-read-2" points="1,60 220,60 220,55 230,60 220,65 220,60" fill="transparent" id="JS_scroll-action-14_target-1"/>
        </svg>
        <%= link_to "", links[:recruit], class:"U_link"%>
      </div>
      <div class="C_index__recruit__text pc-only">
        子ども達を中心として<br>
        子ども達の未来を考えてゆく<br>
        仲間を探しています。
        <svg class="C_index__recruit__deco-line-ver pc-tab-only" x="0px" y="0px" width="170%" height="120%">
          <path fill="none" d="M 10,3 Q 20,13 10, 23 t 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20" />
          <path fill="none" d="M 180,3 Q 190,13 180, 23 t 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20" />
        </svg>
      </div>
      <div class="C_index__recruit__img-frame-M pc-only">
        <div class="C_index__recruit__img-box-M">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-main_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-main_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-main_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-main_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-main_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-main_alt.jpg" alt="就職をお考えの方へ バナー画像メイン" class="C_image lazyload"/>
          </picture>
        </div>
      </div>
      <div class="C_index__recruit__img-frame-S pc-only">
        <div class="C_index__recruit__img-box-S">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-sub_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-sub_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-sub_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-sub_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-sub_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/recruit/photo-sub_alt.jpg" alt="就職をお考えの方へ バナー画像サブ" class="C_image lazyload"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Others">
  <div class="C_index__others__wrap">
    <div class="C_index__others__inner left">
      <div class="C_index__others__title-en">SUPPORT</div>
      <div id="JS_scroll-action-15_trigger">
        <div class="C_index__others__img-frame">
          <div class="C_index__others__img-box" id="JS_scroll-action-15_target-0">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/support/banner_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/support/banner_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/support/banner_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/support/banner_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/support/banner_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/support/banner_alt.jpg" alt="子育て支援 バナー画像" class="C_image lazyload"/>
            </picture>
            <div class="C_index__others__title-ja">子育て支援</div>
            <%= link_to "", links[:support], class:"U_link"%>
          </div>
        </div>
      </div>
    </div>
    <div class="C_index__others__inner right">
      <div class="C_index__others__title-en">PREPARATION</div>
      <div id="JS_scroll-action-16_trigger">
        <div class="C_index__others__img-frame">
          <div class="C_index__others__img-box" id="JS_scroll-action-16_target-0">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/for-admission/<%= name_items[:name_en]%>_banner_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/for-admission/<%= name_items[:name_en]%>_banner_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/for-admission/<%= name_items[:name_en]%>_banner_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/for-admission/<%= name_items[:name_en]%>_banner_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/for-admission/<%= name_items[:name_en]%>_banner_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/for-admission/<%= name_items[:name_en]%>_banner_alt.jpg" alt="入園にむけて バナー画像" class="C_image lazyload"/>
            </picture>
            <div class="C_index__others__title-ja">入園に向けて</div>
            <%= link_to "", links[:for_admission], class:"U_link"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
