<%#-- 就職情報カード --%>
<div class="C_Card__job-info">
  <div class="C_Card__job-info__title-box">
    <h1 class="C_Card__job-info__title"><%= job_info[:title] %></h1>
  </div>
  <h3 class="C_Card__job-info__title-en"><%= job_info[:title_en] %></h3>
  <h4  class="C_Card__job-info__content-title"><%= job_info[:content1_title] %></h4>
  <h5 class="C_Card__job-info__content-text"><%= job_info[:content1_text] %></h5>
  <h4  class="C_Card__job-info__content-title"><%= job_info[:content2_title] %></h4>
  <h5 class="C_Card__job-info__content-text"><%= job_info[:content2_text] %></h5>
</div>
