<section class="PageTitle" id="JS_smoothScroll_target-0">
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;height:100%;"></div>
  <div class="L_pageTitle__headding">
    <div class="box">
      <h3 class="C_text__title-en">
        PhotoGallery
      </h3>
      <h1 class="C_text__title-ja">
        園の日常
      </h1>
    </div>
  </div>
  <div class="P_photo-gallery__kv">
    <div class="C_image__photo-gallery__kv"></div>
    <div class="P_photo-gallery__kv__text-box">
      <h1 class="P_photo-gallery__kv__title">
        PHOTO<br>
        GALLERY
        <div class="P_photo-gallery__deco text-shine1">
          <div class="C_deco__text-shine1"></div>
        </div>
      </h1>
      <h2 class="P_photo-gallery__kv__sub-title">Growth Story</h2>
    </div>
  </div>
</section>
<ul class="P_photo-gallery__nav">
  <div class="P_photo-gallery__nav-list-btn sp-only event" id="JS_nav-open-0"><span>open</span></div>
  <div class="P_photo-gallery__nav-list-btn sp-only inside" id="JS_nav-open-1"><span>open</span></div>
  <div class="P_photo-gallery__nav-list-btn sp-only eat-education" id="JS_nav-open-2"><span>open</span></div>
  <div class="P_photo-gallery__nav-list-btn sp-only art" id="JS_nav-open-3"><span>open</span></div>
  <li class="P_photo-gallery__nav-list event isOpen" id="JS_smoothScroll_trigger-1">
    <span>イ</span>
    <span>ベ</span>
    <span>ン</span>
    <span>ト</span>
  </li>
  <li class="P_photo-gallery__nav-list inside isOpen" id="JS_smoothScroll_trigger-2">
    <span>園</span>
    <span>内</span>
  </li>
  <li class="P_photo-gallery__nav-list eat-education isOpen" id="JS_smoothScroll_trigger-3">
    <span>食</span>
    <span>育</span>
  </li>
  <li class="P_photo-gallery__nav-list art isOpen" id="JS_smoothScroll_trigger-4">
    <span>作</span>
    <span>品</span>
  </li>
</ul>
<section class="P_photo-gallery__wrap" id="JS_smoothScroll_target-1">
  <div class="P_photo-gallery__title-en">PHOTO GALLERY</div>
  <div class="P_photo-gallery__icon-camera"></div>
  <div class="P_photo-gallery__title-ja">イベント
    <svg class="P_photo-gallery__deco-line3" x="0px" y="0px" width="20%" height="100%">
      <line x1="2%" y1="50%" x2="100%" y2="50%"/>
    </svg>
  </div>
  <div class="P_photo-gallery__contents-wrap">
    <div class="P_photo-gallery__layout__double">
      <div class="P_photo-gallery__img__double-main">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_0'></div>
        <div class="P_photo-gallery__deco dots1">
          <div class="C_deco__dots1"></div>
        </div>
      </div>
      <div class="P_photo-gallery__img__double-sub-back tab-sp-only">
      </div>
      <div class="P_photo-gallery__img__double-sub">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_1'></div>
        <div class="P_photo-gallery__deco jagged1">
          <div class="C_deco__jagged1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__center-hor">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_2'></div>
        <div class="P_photo-gallery__deco triangles1">
          <div class="C_deco__triangle1"></div>
        </div>
        <h3 class="P_photo-gallery__deco-text friend">
          Friend
          <div class="P_photo-gallery__deco text-shine2">
            <div class="C_deco__text-shine2"></div>
          </div>
        </h3>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__quarter-up first">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_3'></div>
      </div>
      <div class="P_photo-gallery__img__quarter-down first">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_4'></div>
      </div>
      <div class="P_photo-gallery__img__quarter-up second">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_5'></div>
      </div>
      <div class="P_photo-gallery__img__quarter-down second">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_6'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__left">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_7'></div>
        <div class="P_photo-gallery__deco babble1">
          <div class="C_deco__babble1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_8'></div>
        <div class="P_photo-gallery__deco jagged2">
          <div class="C_deco__jagged1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__section-text-box">
      <h3 class="P_photo-gallery__section-text-main"><%= name_items[:name_en_L]%></h3>
      <h3 class="P_photo-gallery__section-text-sub">DOKYOJI</h3>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__quarter first">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_9'></div>
      </div>
      <div class="P_photo-gallery__img__quarter right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_10'></div>
      </div>
      <div class="P_photo-gallery__img__quarter under">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_11'></div>
      </div>
      <div class="P_photo-gallery__img__quarter right under">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_12'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__center-hor">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_13'></div>
        <svg class="P_photo-gallery__deco-line2 line1" x="0px" y="0px" width="100%" height="100%">
          <line x1="3" y1="50%" x2="100%" y2="50%"/>
        </svg>
        <svg class="P_photo-gallery__deco-line2 line2" x="0px" y="0px" width="100%" height="100%">
          <line x1="3" y1="50%" x2="100%" y2="50%"/>
        </svg>
      </div>
    </div>
    <div class="P_photo-gallery__layout__over-ray">
      <div class="P_photo-gallery__img__over-ray-under">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_14'></div>
        <h3 class="P_photo-gallery__deco-text cooking">
          Cooking
          <div class="P_photo-gallery__deco text-shine3">
            <div class="C_deco__text-shine2"></div>
          </div>
        </h3>
        <div class="P_photo-gallery__deco dots2">
          <div class="C_deco__dots1"></div>
        </div>
        <div class="P_photo-gallery__img__over-ray-over-back"></div>
        <div class="P_photo-gallery__img__over-ray-over">
          <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_15'></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco triangles2">
        <div class="C_deco__triangle1"></div>
      </div>
      <div class="P_photo-gallery__img__center-hor">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_16'></div>
      </div>
      <div class="P_photo-gallery__img__sub-frame frame1">
        <div class="P_photo-gallery__img__sub">
          <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_17'></div>
        </div>
      </div>
      <h3 class="P_photo-gallery__side-text show">KAITAI SHOW!!!!</h3>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco triangles3">
        <div class="C_deco__triangle1"></div>
      </div>
      <div class="P_photo-gallery__img__left">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_18'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_19'></div>
        <div class="P_photo-gallery__deco babble2">
          <div class="C_deco__babble1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__double-main-right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_20'></div>
        <div class="P_photo-gallery__side-text camp">CAMP! CAMP! CAMP!</div>
      </div>
      <div class="P_photo-gallery__img__sub-frame frame2">
        <div class="P_photo-gallery__img__sub">
          <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__event_21'></div>
        </div>
      </div>
    </div>
  </div>
  <div class="P_photo-gallery__layout__section-line">
    <svg class="P_photo-gallery__deco-line" x="0px" y="0px" width="100%" height="100%">
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="90%" x2="100%" y2="90%"/>
      <line class="P_photo-gallery__deco-line-2" x1="1" y1="94%" x2="100%" y2="94%"/>
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="98%" x2="100%" y2="98%"/>
    </svg>
  </div>
</section>
<section class="P_photo-gallery__wrap" id="JS_smoothScroll_target-2">
  <div class="P_photo-gallery__title-en">PHOTO GALLERY</div>
  <div class="P_photo-gallery__icon-camera"></div>
  <div class="P_photo-gallery__title-ja">園内</div>
  <div class="P_photo-gallery__contents-wrap">
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco babble3">
        <div class="C_deco__babble1"></div>
      </div>
      <div class="P_photo-gallery__img__left">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_0'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco jagged3">
        <div class="C_deco__jagged1"></div>
      </div>
      <div class="P_photo-gallery__img__right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_1'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco-container">
        <div class="P_photo-gallery__deco-box left"></div>
        <div class="P_photo-gallery__deco-box-text left">PLAY</div>
        <div class="P_photo-gallery__deco-box right"></div>
        <div class="P_photo-gallery__deco-box-text right">LEARN</div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__quarter first">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_2'></div>
      </div>
      <div class="P_photo-gallery__img__quarter right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_3'></div>
      </div>
      <div class="P_photo-gallery__img__quarter under">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_4'></div>
      </div>
      <div class="P_photo-gallery__img__quarter right under">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_5'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco dots3">
        <div class="C_deco__dots1"></div>
      </div>
      <svg class="P_photo-gallery__deco-line2 line3" x="0px" y="0px" width="100%" height="100%">
        <line x1="3" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <svg class="P_photo-gallery__deco-line2 line4" x="0px" y="0px" width="100%" height="100%">
        <line x1="3" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <h3 class="P_photo-gallery__deco-text study">Study!</h3>
      <div class="P_photo-gallery__img__center-ver">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_6'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__half left">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_7'></div>
      </div>
      <div class="P_photo-gallery__img__half right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_8'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco triangles4">
        <div class="C_deco__triangle1"></div>
      </div>
      <div class="P_photo-gallery__deco triangles5">
        <div class="C_deco__triangle1"></div>
      </div>
      <div class="P_photo-gallery__img__center-hor">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__inside_9'></div>
        <h3 class="P_photo-gallery__side-text contact">contact<br>with<br>nature</h3>
      </div>
    </div>
  </div>
  <div class="P_photo-gallery__layout__section-line">
    <svg class="P_photo-gallery__deco-line" x="0px" y="0px" width="100%" height="100%">
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="90%" x2="100%" y2="90%"/>
      <line class="P_photo-gallery__deco-line-2" x1="1" y1="94%" x2="100%" y2="94%"/>
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="98%" x2="100%" y2="98%"/>
    </svg>
  </div>
</section>
<section class="P_photo-gallery__wrap" id="JS_smoothScroll_target-3">
  <div class="P_photo-gallery__title-en">PHOTO GALLERY</div>
  <div class="P_photo-gallery__icon-camera"></div>
  <div class="P_photo-gallery__title-ja">食育</div>
  <div class="P_photo-gallery__contents-wrap">
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco triangles6">
        <div class="C_deco__triangle1"></div>
      </div>
      <h3 class="P_photo-gallery__deco-text eat">
        Mogu mogu
        <div class="P_photo-gallery__deco text-shine4">
          <div class="C_deco__text-shine2"></div>
        </div>
      </h3>
      <div class="P_photo-gallery__img__center-hor">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__eat-education_0'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco babble4">
        <div class="C_deco__babble1"></div>
      </div>
      <div class="P_photo-gallery__img__left">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__eat-education_1'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__eat-education_2'></div>
      </div>
    </div>
    <div class="P_photo-gallery__layout__twin">
      <div class="P_photo-gallery__img__twin">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__eat-education_3'></div>
      <div class="P_photo-gallery__side-text best-smile">
        BEST<br>
        SMILE!
        <div class="P_photo-gallery__deco wave-line1">
          <div class="C_deco__wave-line1"></div>
        </div>
        <div class="P_photo-gallery__deco wave-line2">
          <div class="C_deco__wave-line2"></div>
        </div>
      </div>
      <div class="P_photo-gallery__deco jagged4">
        <div class="C_deco__jagged1"></div>
      </div>
      </div>
      <div class="P_photo-gallery__img__twin right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__eat-education_4'></div>
        <div class="P_photo-gallery__deco triangles7">
          <div class="C_deco__triangle1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="P_photo-gallery__layout__section-line">
    <svg class="P_photo-gallery__deco-line" x="0px" y="0px" width="100%" height="100%">
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="90%" x2="100%" y2="90%"/>
      <line class="P_photo-gallery__deco-line-2" x1="1" y1="94%" x2="100%" y2="94%"/>
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="98%" x2="100%" y2="98%"/>
    </svg>
  </div>
</section>
<section class="P_photo-gallery__wrap last" id="JS_smoothScroll_target-4">
  <div class="P_photo-gallery__title-en">PHOTO GALLERY</div>
  <div class="P_photo-gallery__icon-camera"></div>
  <div class="P_photo-gallery__title-ja">作品展</div>
  <div class="P_photo-gallery__contents-wrap">
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__center-hor">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_0'></div>
        <div class="P_photo-gallery__deco dots4">
        <div class="C_deco__dots1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__right">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_1'></div>
        <h3 class="P_photo-gallery__deco-text great">
          Great
          <div class="P_photo-gallery__deco text-shine5">
            <div class="C_deco__text-shine2"></div>
          </div>
        </h3>
        <div class="P_photo-gallery__deco babble5">
          <div class="C_deco__babble1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__left">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_2'></div>
        <div class="P_photo-gallery__deco jagged5">
          <div class="C_deco__jagged1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout__panel">
      <div class="P_photo-gallery__img__panel left top">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_3'></div>
      </div>
      <div class="P_photo-gallery__img__panel top">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_4'></div>
      </div>
      <div class="P_photo-gallery__img__panel left">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_5'></div>
      </div>
      <div class="P_photo-gallery__img__panel">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_6'></div>
      </div>
      <div class="P_photo-gallery__img__panel left">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_7'></div>
      </div>
      <div class="P_photo-gallery__img__panel">
        <div class='C_image__photo-gallery__<%= name_items[:name_en]%>__art_8'></div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
