<section class="PageTitle" id="JS_smoothScroll_target-0">
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;height:100%;"></div>
  <div class="L_pageTitle__headding">
    <div class="box">
      <h3 class="C_text__title-en">
        PhotoGallery
      </h3>
      <h1 class="C_text__title-ja">
        園の日常
      </h1>
    </div>
  </div>
  <div class="P_photo-gallery__kv">
    <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/kv_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/kv_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/kv_pc.jpg" alt="フォトギャラリー トップ画像" class="C_image">
    <div class="P_photo-gallery__kv__text-box">
      <h1 class="P_photo-gallery__kv__title">
        PHOTO<br>
        GALLERY
        <div class="P_photo-gallery__deco text-shine1">
          <div class="C_deco__text-shine1"></div>
        </div>
      </h1>
      <h2 class="P_photo-gallery__kv__sub-title">Growth Story</h2>
    </div>
  </div>
</section>
<ul class="P_photo-gallery__nav">
  <div class="P_photo-gallery__nav-list-btn sp-only event" id="JS_nav-open-0"><span>open</span></div>
  <div class="P_photo-gallery__nav-list-btn sp-only inside" id="JS_nav-open-1"><span>open</span></div>
  <div class="P_photo-gallery__nav-list-btn sp-only eat-education" id="JS_nav-open-2"><span>open</span></div>
  <div class="P_photo-gallery__nav-list-btn sp-only art" id="JS_nav-open-3"><span>open</span></div>
  <li class="P_photo-gallery__nav-list event isOpen" id="JS_smoothScroll_trigger-1">
    <span>イ</span>
    <span>ベ</span>
    <span>ン</span>
    <span>ト</span>
  </li>
  <li class="P_photo-gallery__nav-list inside isOpen" id="JS_smoothScroll_trigger-2">
    <span>園</span>
    <span>内</span>
  </li>
  <li class="P_photo-gallery__nav-list eat-education isOpen" id="JS_smoothScroll_trigger-3">
    <span>食</span>
    <span>育</span>
  </li>
  <li class="P_photo-gallery__nav-list art isOpen" id="JS_smoothScroll_trigger-4">
    <span>作</span>
    <span>品</span>
  </li>
</ul>
<section class="P_photo-gallery__wrap" id="JS_smoothScroll_target-1">
  <div class="P_photo-gallery__title-en">PHOTO GALLERY</div>
  <div class="P_photo-gallery__icon-camera"></div>
  <div class="P_photo-gallery__title-ja">イベント
    <svg class="P_photo-gallery__deco-line3" x="0px" y="0px" width="20%" height="100%">
      <line x1="2%" y1="50%" x2="100%" y2="50%"/>
    </svg>
  </div>
  <div class="P_photo-gallery__contents-wrap">
    <div class="P_photo-gallery__layout__double">
      <div class="P_photo-gallery__img__double-main">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_0_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_0_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_0_pc.jpg" alt="イベント1" class="C_image">
        <div class="P_photo-gallery__deco dots1">
          <div class="C_deco__dots1"></div>
        </div>
      </div>
      <div class="P_photo-gallery__img__double-sub-back tab-sp-only">
      </div>
      <div class="P_photo-gallery__img__double-sub">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_1_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_1_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_1_pc.jpg" alt="イベント2" class="C_image">
        <div class="P_photo-gallery__deco jagged1">
          <div class="C_deco__jagged1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__center-hor">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_2_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_2_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_2_pc.jpg" alt="イベント3" class="C_image">
        <div class="P_photo-gallery__deco triangles1">
          <div class="C_deco__triangle1"></div>
        </div>
        <h3 class="P_photo-gallery__deco-text friend">
          Friend
          <div class="P_photo-gallery__deco text-shine2">
            <div class="C_deco__text-shine2"></div>
          </div>
        </h3>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__quarter-up first">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_3_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_3_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_3_pc.jpg" alt="イベント4" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter-down first">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_4_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_4_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_4_pc.jpg" alt="イベント5" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter-up second">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_5_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_5_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_5_pc.jpg" alt="イベント6" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter-down second">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_6_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_6_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_6_pc.jpg" alt="イベント7" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__left">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_7_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_7_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_7_pc.jpg" alt="イベント8" class="C_image">
        <div class="P_photo-gallery__deco babble1">
          <div class="C_deco__babble1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_8_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_8_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_8_pc.jpg" alt="イベント9" class="C_image">
        <div class="P_photo-gallery__deco jagged2">
          <div class="C_deco__jagged1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__section-text-box">
      <h3 class="P_photo-gallery__section-text-main"><%= name_items[:name_en_L]%></h3>
      <h3 class="P_photo-gallery__section-text-sub">DOKYOJI</h3>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__quarter first">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_9_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_9_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_9_pc.jpg" alt="イベント10" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_10_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_10_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_10_pc.jpg" alt="イベント11" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter under">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_11_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_11_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_11_pc.jpg" alt="イベント12" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter right under">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_12_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_12_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_12_pc.jpg" alt="イベント13" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__center-hor">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_13_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_13_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_13_pc.jpg" alt="イベント14" class="C_image">
        <svg class="P_photo-gallery__deco-line2 line1" x="0px" y="0px" width="100%" height="100%">
          <line x1="3" y1="50%" x2="100%" y2="50%"/>
        </svg>
        <svg class="P_photo-gallery__deco-line2 line2" x="0px" y="0px" width="100%" height="100%">
          <line x1="3" y1="50%" x2="100%" y2="50%"/>
        </svg>
      </div>
    </div>
    <div class="P_photo-gallery__layout__over-ray">
      <div class="P_photo-gallery__img__over-ray-under">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_14_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_14_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_14_pc.jpg" alt="イベント15" class="C_image">
        <h3 class="P_photo-gallery__deco-text cooking">
          Cooking
          <div class="P_photo-gallery__deco text-shine3">
            <div class="C_deco__text-shine2"></div>
          </div>
        </h3>
        <div class="P_photo-gallery__deco dots2">
          <div class="C_deco__dots1"></div>
        </div>
        <div class="P_photo-gallery__img__over-ray-over-back"></div>
        <div class="P_photo-gallery__img__over-ray-over">
          <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_15_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_15_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_15_pc.jpg" alt="イベント16" class="C_image">
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco triangles2">
        <div class="C_deco__triangle1"></div>
      </div>
      <div class="P_photo-gallery__img__center-hor">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_16_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_16_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_16_pc.jpg" alt="イベント17" class="C_image">
      </div>
      <div class="P_photo-gallery__img__sub-frame frame1">
        <div class="P_photo-gallery__img__sub">
          <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_17_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_17_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_17_pc.jpg" alt="イベント18" class="C_image">
        </div>
      </div>
      <h3 class="P_photo-gallery__side-text show">KAITAI SHOW!!!!</h3>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco triangles3">
        <div class="C_deco__triangle1"></div>
      </div>
      <div class="P_photo-gallery__img__left">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_18_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_18_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_18_pc.jpg" alt="イベント19" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_19_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_19_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_19_pc.jpg" alt="イベント20" class="C_image">
        <div class="P_photo-gallery__deco babble2">
          <div class="C_deco__babble1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__double-main-right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_20_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_20_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_20_pc.jpg" alt="イベント21" class="C_image">
        <div class="P_photo-gallery__side-text camp">CAMP! CAMP! CAMP!</div>
      </div>
      <div class="P_photo-gallery__img__sub-frame frame2">
        <div class="P_photo-gallery__img__sub">
          <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_21_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_21_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_event_21_pc.jpg" alt="イベント22" class="C_image">
        </div>
      </div>
    </div>
  </div>
  <div class="P_photo-gallery__layout__section-line">
    <svg class="P_photo-gallery__deco-line" x="0px" y="0px" width="100%" height="100%">
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="90%" x2="100%" y2="90%"/>
      <line class="P_photo-gallery__deco-line-2" x1="1" y1="94%" x2="100%" y2="94%"/>
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="98%" x2="100%" y2="98%"/>
    </svg>
  </div>
</section>
<section class="P_photo-gallery__wrap" id="JS_smoothScroll_target-2">
  <div class="P_photo-gallery__title-en">PHOTO GALLERY</div>
  <div class="P_photo-gallery__icon-camera"></div>
  <div class="P_photo-gallery__title-ja">園内</div>
  <div class="P_photo-gallery__contents-wrap">
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco babble3">
        <div class="C_deco__babble1"></div>
      </div>
      <div class="P_photo-gallery__img__left">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_0_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_0_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_0_pc.jpg" alt="園内1" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco jagged3">
        <div class="C_deco__jagged1"></div>
      </div>
      <div class="P_photo-gallery__img__right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_1_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_1_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_1_pc.jpg" alt="園内2" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco-container">
        <div class="P_photo-gallery__deco-box left"></div>
        <div class="P_photo-gallery__deco-box-text left">PLAY</div>
        <div class="P_photo-gallery__deco-box right"></div>
        <div class="P_photo-gallery__deco-box-text right">LEARN</div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__quarter first">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_2_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_2_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_2_pc.jpg" alt="園内3" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_3_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_3_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_3_pc.jpg" alt="園内4" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter under">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_4_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_4_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_4_pc.jpg" alt="園内5" class="C_image">
      </div>
      <div class="P_photo-gallery__img__quarter right under">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_5_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_5_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_5_pc.jpg" alt="園内6" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco dots3">
        <div class="C_deco__dots1"></div>
      </div>
      <svg class="P_photo-gallery__deco-line2 line3" x="0px" y="0px" width="100%" height="100%">
        <line x1="3" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <svg class="P_photo-gallery__deco-line2 line4" x="0px" y="0px" width="100%" height="100%">
        <line x1="3" y1="50%" x2="100%" y2="50%"/>
      </svg>
      <h3 class="P_photo-gallery__deco-text study">Study!</h3>
      <div class="P_photo-gallery__img__center-ver">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_6_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_6_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_6_pc.jpg" alt="園内7" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__half left">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_7_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_7_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_7_pc.jpg" alt="園内8" class="C_image">
      </div>
      <div class="P_photo-gallery__img__half right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_8_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_8_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_8_pc.jpg" alt="園内9" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco triangles4">
        <div class="C_deco__triangle1"></div>
      </div>
      <div class="P_photo-gallery__deco triangles5">
        <div class="C_deco__triangle1"></div>
      </div>
      <div class="P_photo-gallery__img__center-hor">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_9_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_9_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_inside_9_pc.jpg" alt="園内10" class="C_image">
        <h3 class="P_photo-gallery__side-text contact">contact<br>with<br>nature</h3>
      </div>
    </div>
  </div>
  <div class="P_photo-gallery__layout__section-line">
    <svg class="P_photo-gallery__deco-line" x="0px" y="0px" width="100%" height="100%">
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="90%" x2="100%" y2="90%"/>
      <line class="P_photo-gallery__deco-line-2" x1="1" y1="94%" x2="100%" y2="94%"/>
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="98%" x2="100%" y2="98%"/>
    </svg>
  </div>
</section>
<section class="P_photo-gallery__wrap" id="JS_smoothScroll_target-3">
  <div class="P_photo-gallery__title-en">PHOTO GALLERY</div>
  <div class="P_photo-gallery__icon-camera"></div>
  <div class="P_photo-gallery__title-ja">食育</div>
  <div class="P_photo-gallery__contents-wrap">
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco triangles6">
        <div class="C_deco__triangle1"></div>
      </div>
      <h3 class="P_photo-gallery__deco-text eat">
        Mogu mogu
        <div class="P_photo-gallery__deco text-shine4">
          <div class="C_deco__text-shine2"></div>
        </div>
      </h3>
      <div class="P_photo-gallery__img__center-hor">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_0_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_0_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_0_pc.jpg" alt="食育1" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__deco babble4">
        <div class="C_deco__babble1"></div>
      </div>
      <div class="P_photo-gallery__img__left">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_1_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_1_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_1_pc.jpg" alt="食育2" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_2_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_2_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_2_pc.jpg" alt="食育3" class="C_image">
      </div>
    </div>
    <div class="P_photo-gallery__layout__twin">
      <div class="P_photo-gallery__img__twin">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_3_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_3_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_3_pc.jpg" alt="食育4" class="C_image">
      <div class="P_photo-gallery__side-text best-smile">
        BEST<br>
        SMILE!
        <div class="P_photo-gallery__deco wave-line1">
          <div class="C_deco__wave-line1"></div>
        </div>
        <div class="P_photo-gallery__deco wave-line2">
          <div class="C_deco__wave-line2"></div>
        </div>
      </div>
      <div class="P_photo-gallery__deco jagged4">
        <div class="C_deco__jagged1"></div>
      </div>
      </div>
      <div class="P_photo-gallery__img__twin right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_4_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_4_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_eat-education_4_pc.jpg" alt="食育5" class="C_image">
        <div class="P_photo-gallery__deco triangles7">
          <div class="C_deco__triangle1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="P_photo-gallery__layout__section-line">
    <svg class="P_photo-gallery__deco-line" x="0px" y="0px" width="100%" height="100%">
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="90%" x2="100%" y2="90%"/>
      <line class="P_photo-gallery__deco-line-2" x1="1" y1="94%" x2="100%" y2="94%"/>
      <line class="P_photo-gallery__deco-line-1" x1="1" y1="98%" x2="100%" y2="98%"/>
    </svg>
  </div>
</section>
<section class="P_photo-gallery__wrap last" id="JS_smoothScroll_target-4">
  <div class="P_photo-gallery__title-en">PHOTO GALLERY</div>
  <div class="P_photo-gallery__icon-camera"></div>
  <div class="P_photo-gallery__title-ja">作品展</div>
  <div class="P_photo-gallery__contents-wrap">
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__center-hor">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_0_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_0_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_0_pc.jpg" alt="作品展1" class="C_image">
        <div class="P_photo-gallery__deco dots4">
        <div class="C_deco__dots1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__right">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_1_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_1_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_1_pc.jpg" alt="作品展2" class="C_image">
        <h3 class="P_photo-gallery__deco-text great">
          Great
          <div class="P_photo-gallery__deco text-shine5">
            <div class="C_deco__text-shine2"></div>
          </div>
        </h3>
        <div class="P_photo-gallery__deco babble5">
          <div class="C_deco__babble1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout">
      <div class="P_photo-gallery__img__left">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_2_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_2_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_2_pc.jpg" alt="作品展3" class="C_image">
        <div class="P_photo-gallery__deco jagged5">
          <div class="C_deco__jagged1"></div>
        </div>
      </div>
    </div>
    <div class="P_photo-gallery__layout__panel">
      <div class="P_photo-gallery__img__panel left top">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_3_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_3_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_3_pc.jpg" alt="作品展4" class="C_image">
      </div>
      <div class="P_photo-gallery__img__panel top">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_4_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_4_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_4_pc.jpg" alt="作品展5" class="C_image">
      </div>
      <div class="P_photo-gallery__img__panel left">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_5_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_5_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_5_pc.jpg" alt="作品展6" class="C_image">
      </div>
      <div class="P_photo-gallery__img__panel">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_6_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_6_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_6_pc.jpg" alt="作品展7" class="C_image">
      </div>
      <div class="P_photo-gallery__img__panel left">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_7_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_7_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_7_pc.jpg" alt="作品展8" class="C_image">
      </div>
      <div class="P_photo-gallery__img__panel">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_8_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_8_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/photo-gallery/<%= name_items[:name_en]%>_art_8_pc.jpg" alt="作品展9" class="C_image">
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
