<%# ==================================== %>
<%# トップイメージ
<%# ==================================== %>
<section class="RecruitKeyVisual">
  <div id="JS_smoothScroll_target-0"></div>
  <div class="L_kv" id="JS_raindrops_target">
    <div class="L_kv__inner" id="JS_scroll-to-top_trigger-0">
      <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/kv_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/kv_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/kv_pc.jpg" alt="就職案内 トップ画像" class="C_image">
      <%#-- 採用タイトル --%>
      <div class="P_Recruit__kv__text-box">
        <h1 class="P_Recruit__kv__main-title">RECRUITING</h1>
        <h2 class="P_Recruit__kv__sub-title">ー Let's Work Together ー</h2>
      </div>
      <ul class="P_Recruit__kv__nav">
        <li><%= link_to 'コンセプト', '#', class: 'P_Recruit__kv__nav-list', id: 'JS_smoothScroll_trigger-1'%></li>
        <li><%= link_to '職員紹介', '#', class: 'P_Recruit__kv__nav-list', id: 'JS_smoothScroll_trigger-2'%></li>
        <li><%= link_to '求人情報', '#', class: 'P_Recruit__kv__nav-list', id: 'JS_smoothScroll_trigger-3'%></li>
        <li><%= link_to 'お問い合わせ', '#', class: 'P_Recruit__kv__nav-list', id: 'JS_smoothScroll_trigger-4'%></li>
      </ul>
      <div id="JS_shabon_target-0" style="width:100%;height:100%;position:absolute;top:0;left:0;"></div>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# コンセプト
<%# ==================================== %>
<section class="RecruitConcept">
  <div id="JS_smoothScroll_target-1"></div>
  <div class="P_Recruit__wrap title">
    <div class="L_title__headding">
      <p class="C_text__title-en">
        Concept
      </p>
      <h1 class="C_text__title-ja">
        就職をお考えの方へ
      </h1>
    </div>
  </div>
  <article class="P_Recruit__concept">
    <div class="P_Recruit__wrap">
      <div class="P_Recruit__concept__inner">
        <div class="P_Recruit__concept__inner-text">
          <h2 class="P_Recruit__sub-title">
            子どもたちの<br class="tab-sp-only">「好き」を見つけませんか？
          </h2>
          <p class="C_text__sentence">
            私たち保育教諭は、子どもの「はじめて」のいつもとなりにいます。その「はじめて」が「好き」になれば、子どもの可能性が無限に広がります。<br>
            子どもは「できた」「楽しい」を私たちに投げかけます。その時、笑顔でその楽しさを共有できれば、それが子どもの「好き」に繋がります。私たちは一つでも多くの「好き」を見つけてあげたいと考えます。<br>
            さぁ、わたしたちと一緒に、子どもたちの七彩(なないろ)の未来を育みませんか？
          </p>
        </div>
        <div class="P_Recruit__concept__inner-img">
          <div class="P_Recruit__concept__img-box">
            <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/sub_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/sub_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/sub_pc.jpg" alt="就職案内 サブ画像" class="C_image">
          </div>
          <div id="JS_shabon_target-1" style="width:100%;height:100%;position:absolute;top:0;left:0;"></div>
        </div>
      </div>
    </div>
  </article>
</section>
<%# ==================================== %>
<%# 職員紹介
<%# ==================================== %>
<section class="Staff">
  <div id="JS_smoothScroll_target-2"></div>
  <div class="P_Recruit__wrap title">
    <div class="L_title__headding">
      <p class="C_text__title-en">
        Staff
      </p>
      <h1 class="C_text__title-ja">
        職員紹介
      </h1>
    </div>
  </div>
  <%#-- イメージボックス --%>
  <div class="P_Recruit__staff">
    <%#-- バックイメージ --%>
    <div class="P_Recruit__staff__back">
      <%#-- バックイメージ0 --%>
      <div class="A_isInvisible" id="JS_staff-switch_target0-backImg">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_0[0] %>_staff_<%= staff_img_0[1] %>_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_0[0] %>_staff_<%= staff_img_0[1] %>_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_0[0] %>_staff_<%= staff_img_0[1] %>_pc.jpg" alt="職員紹介１" class="C_image">
        <div class="A_isNone" id="JS_staff-switch_target0-intro">
          <%#-- 紹介文 --%>
          <%=render partial:'shared/staff_intro',collection: staff_0,as:'staff' %>
        </div>
      </div>
      <%#-- バックイメージ1 --%>
      <div class="A_isInvisible" id="JS_staff-switch_target1-backImg">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_1[0] %>_staff_<%= staff_img_1[1] %>_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_1[0] %>_staff_<%= staff_img_1[1] %>_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_1[0] %>_staff_<%= staff_img_1[1] %>_pc.jpg" alt="職員紹介2" class="C_image">
        <div class="A_isNone" id="JS_staff-switch_target1-intro">
          <%#-- 紹介文 --%>
          <%=render partial:'shared/staff_intro',collection: staff_1,as:'staff' %>
        </div>
      </div>
      <%#-- バックイメージ2 --%>
      <div class="A_isInvisible" id="JS_staff-switch_target2-backImg">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_2[0] %>_staff_<%= staff_img_2[1] %>_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_2[0] %>_staff_<%= staff_img_2[1] %>_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_2[0] %>_staff_<%= staff_img_2[1] %>_pc.jpg" alt="職員紹介3" class="C_image">
        <div class="A_isNone" id="JS_staff-switch_target2-intro">
          <%#-- 紹介文 --%>
          <%=render partial:'shared/staff_intro',collection: staff_2,as:'staff' %>
        </div>
      </div>
      <%#-- バックイメージ3 --%>
      <div class="A_isInvisible" id="JS_staff-switch_target3-backImg">
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_3[0] %>_staff_<%= staff_img_3[1] %>_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_3[0] %>_staff_<%= staff_img_3[1] %>_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_3[0] %>_staff_<%= staff_img_3[1] %>_pc.jpg" alt="職員紹介4" class="C_image">
        <div class="A_isNone" id="JS_staff-switch_target3-intro">
          <%#-- 紹介文 --%>
          <%=render partial:'shared/staff_intro',collection: staff_3,as:'staff' %>
        </div>
      </div>
    </div>
    <%#-- 閉じるボタン --%>
    <div class="P_Recruit__staff__btn A_isNone JS_R JS_R JS_L JS_L" id="JS_staff-switch_target-btn">
      <div class="C_box--btn">
        <i class="far fa-times-circle"></i>
      </div>
    </div>
    <%#-- フロントイメージ --%>
    <div class="P_Recruit__staff__front">
      <%#-- フロントイメージ0 --%>
      <div class="P_Recruit__staff__inner">
        <div class="U_cover--shadow-white A_isInvisible" id="JS_staff-switch_target0-white"></div>
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_0[0] %>_staff_panel_<%= staff_img_0[1] %>_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_0[0] %>_staff_panel_<%= staff_img_0[1] %>_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_0[0] %>_staff_panel_<%= staff_img_0[1] %>_pc.jpg" alt="職員紹介1 パネル" class="C_image" id="JS_staff-switch_target0-frontImg">
        <h1 class="P_Recruit__staff__front-catch" id="JS_staff-switch_target0-catch">
          <%= staff_catch_0.html_safe %>
        </h1>
        <div class="P_Recruit__staff__trigger" id="JS_staff-switch_trigger0"></div>
      </div>
      <%#-- フロントイメージ1 --%>
      <div class="P_Recruit__staff__inner">
        <div class="U_cover--shadow-white A_isInvisible" id="JS_staff-switch_target1-white"></div>
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_1[0] %>_staff_panel_<%= staff_img_1[1] %>_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_1[0] %>_staff_panel_<%= staff_img_1[1] %>_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_1[0] %>_staff_panel_<%= staff_img_1[1] %>_pc.jpg" alt="職員紹介2 パネル" class="C_image" id="JS_staff-switch_target1-frontImg">
        <h1 class="P_Recruit__staff__front-catch" id="JS_staff-switch_target1-catch">
          <%= staff_catch_1.html_safe %>
        </h1>
        <div class="P_Recruit__staff__trigger" id="JS_staff-switch_trigger1"></div>
      </div>
      <%#-- フロントイメージ2 --%>
      <div class="P_Recruit__staff__inner">
        <div class="U_cover--shadow-white A_isInvisible" id="JS_staff-switch_target2-white"></div>
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_2[0] %>_staff_panel_<%= staff_img_2[1] %>_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_2[0] %>_staff_panel_<%= staff_img_2[1] %>_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_2[0] %>_staff_panel_<%= staff_img_2[1] %>_pc.jpg" alt="職員紹介3 パネル" class="C_image" id="JS_staff-switch_target2-frontImg">
        <h1 class="P_Recruit__staff__front-catch" id="JS_staff-switch_target2-catch">
          <%= staff_catch_2.html_safe %>
        </h1>
        <div class="P_Recruit__staff__trigger" id="JS_staff-switch_trigger2"></div>
      </div>
      <%#-- フロントイメージ3 --%>
      <div class="P_Recruit__staff__inner">
        <div class="U_cover--shadow-white A_isInvisible" id="JS_staff-switch_target3-white"></div>
        <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_3[0] %>_staff_panel_<%= staff_img_3[1] %>_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_3[0] %>_staff_panel_<%= staff_img_3[1] %>_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/recruit/<%= staff_img_3[0] %>_staff_panel_<%= staff_img_3[1] %>_pc.jpg" alt="職員紹介4 パネル" class="C_image" id="JS_staff-switch_target3-frontImg">
        <h1 class="P_Recruit__staff__front-catch" id="JS_staff-switch_target3-catch">
          <%= staff_catch_3.html_safe %>
        </h1>
        <div class="P_Recruit__staff__trigger" id="JS_staff-switch_trigger3"></div>
      </div>
    <div class="U_cover--shadow" id="JS_staff-switch_target-cover"></div>
  </div>
</section>
<%# ==================================== %>
<%# 採用情報
<%# ==================================== %>
<section class="P_Recruit__job-info" id="JS_raindrops_target-darken">
  <div id="JS_smoothScroll_target-3"></div>
  <div class="U_relative U_z-1">
    <div class="P_Recruit__wrap title">
      <div class="L_title__headding">
        <p class="C_text__title-en">
          Job Info
        </p>
        <h1 class="C_text__title-ja">
          求人情報
        </h1>
      </div>
    </div>
    <div class="P_Recruit__job-info__paper-wrap">
      <div class="P_Recruit__job-info__paper-box">
        <div class="P_Recruit__job-info__paper-text">
        令和２年度　求人票
        </div>
      </div>
    </div>
    <ul class="P_Recruit__job-info__container">
      <li class="P_Recruit__job-info__content first">
        <div class="C_Card__job-info">
          <div class="C_Card__job-info__title-box">
            <h1 class="C_Card__job-info__title">給料について</h1>
          </div>
          <h3 class="C_Card__job-info__title-en">About salary</h3>
          <h4  class="C_Card__job-info__content-title">●正職員</h4>
          <h5 class="C_Card__job-info__content-text">
            月給：193,000円<br>
            総賞与：626,500円(年２回)<br>
            通勤手当：25,000円(月上限)<br>
          </h5>
          <h4  class="C_Card__job-info__content-title">
            ●非常勤
          </h4>
          <h5 class="C_Card__job-info__content-text">
            時給：1015円より<br>
            総賞与：月平均の１月分(年２回)<br>
            通勤手当：25,000円(月上限)<br>
          </h5>
        </div>
      </li>
      <li class="P_Recruit__job-info__content second">
        <div class="C_Card__job-info">
          <div class="C_Card__job-info__title-box">
            <h1 class="C_Card__job-info__title">勤務時間について</h1>
          </div>
          <h3 class="C_Card__job-info__title-en">Working hour</h3>
          <h4  class="C_Card__job-info__content-title">●正職員</h4>
          <h5 class="C_Card__job-info__content-text">
            　午前8時30〜午後5時30<br>
            　（シフト）<br>
            　早出1：午前7時〜午後4時<br>
            　早出2：午前8時〜午後5時<br>
            　遅出：午前9時〜午後6時<br>
            　ラスト：午前10時〜午後7時<br>
          </h5>
          <h4  class="C_Card__job-info__content-title">
            ●非常勤
          </h4>
          <h5 class="C_Card__job-info__content-text">
            　午前8時30〜午後5時30<br>
            　※勤務時間については相談可
          </h5>
        </div>
      </li>
      <li class="P_Recruit__job-info__content third">
        <div class="C_Card__job-info">
          <div class="C_Card__job-info__title-box">
            <h1 class="C_Card__job-info__title">休日・福利厚生</h1>
          </div>
          <h3 class="C_Card__job-info__title-en">About holiday</h3>
          <h4  class="C_Card__job-info__content-title">●休日</h4>
          <h5 class="C_Card__job-info__content-text">
            週休2日制：土曜日の振替休日<br>
            休日：日曜祝日・土曜振替(年123日)<br>
            有給休暇：10日〜20日<br>
            　※入社日より付与<br>
            　※最大40日まで取得可能<br>
            特休：冠婚葬祭・産育休・警報休園<br>
          </h5>
          <h4  class="C_Card__job-info__content-title">
            ●福利厚生
          </h4>
          <h5 class="C_Card__job-info__content-text">
            設備：休憩室・駐車場<br>
            制度：退職金・共済会<br>
            祝金：結婚・出産・弔慰等<br>
            保険：雇用保険・健康保険・年金<br>
          </h5>
        </div>
      </li>
    </ul>
    <div class="P_Recruit__wrap text">
      <p class="P_Recruit__job-info__text1">
        お気軽にお問い合わせください。
      </p>
      <p class="P_Recruit__job-info__text2">
        ご質問やご相談を承ります。<br class="sp-only">どうぞ、お気軽にお問い合わせください。
      </p>
      <div class="P_Recruit__job-info__wrap">
        <div class="C_Btn--white" id="JS_smoothScroll_trigger-5">
          <span></span>
          <div class="C_Btn--white__arrow">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="P_Recruit__job-info__btn-text">
            WEBでのエントリーはこちら
            <div class="C_Btn--white__underline"></div>
          </div>
          <%= link_to '', '#', class: 'C_Btn--white__link'%>
        </div>
        <p class="P_Recruit__job-info__tel-text">
          TEL:072-427-8969
        </p>
      </div>
    </div>
    <div id="JS_shabon_target-2" style="width:100%;height:100%;position:absolute;top:0;left:0;pointer-events:none;"></div>
  </div>
</section>
<%# ==================================== %>
<%# お問い合わせフォーム
<%# ==================================== %>
<%
form_items = [
  title: 'ENTRY',
  url: recruit_create_nanairo_index_path,
  forms: @contact_recruit,
  items: [{
    title: 'お名前',
    mandatory: true,
    key: :name,
    id: 'name',
    maxlength: '30',
    placeholder: '例) 七彩　花子',
    error_message: @contact_recruit.errors.full_messages_for(:name)},
  { 
    title: 'ふりがな',
    mandatory: true,
    key: :name_kana,
    id: 'name_kana',
    maxlength: '30',
    placeholder: '例) なないろ　はなこ',
    error_message: @contact_recruit.errors.full_messages_for(:name_kana)},
  {
    title: '電話番号',
    mandatory: true,
    key: :tel,
    id: 'tel',
    maxlength: '12',
    placeholder: '例) 000-0000-000',
    error_message: @contact_recruit.errors.full_messages_for(:tel)},
  {
    title: 'メールアドレス',
    mandatory: true,
    key: :email,
    id: 'email',
    email_field: true,
    placeholder: '例) example@dokyoji.or.jp',
    error_message: @contact_recruit.errors.full_messages_for(:email)},
  {
    title: 'メールアドレス確認',
    mandatory: true,
    key: :email_confirmation,
    id: 'email_cofirmation',
    email_field: true,
    placeholder: '例) example@dokyoji.or.jp',
    error_message: @contact_recruit.errors.full_messages_for(:email_confirmation)},
  {
    title: '郵便番号',
    key: :postal_code,
    id: 'postal_code',
    maxlength: '8',
    placeholder: '例) 〒597-0033',
    error_message: @contact_recruit.errors.full_messages_for(:postal_code)},
  {
    title: 'ご住所',
    key: :address,
    id: 'address',
    placeholder: '例) 大阪府　貝塚市　半田1-3-6',
    error_message: @contact_recruit.errors.full_messages_for(:address)},
  {
    title: 'その他質問事項',
    key: :question,
    id: 'question',
    text_area: true,
    maxlength: '1000',
    rows: '4',
    error_message: @contact_recruit.errors.full_messages_for(:question)
  }]]
%>
<section class="RecruitContactForm", id="return">
  <div id="JS_smoothScroll_target-4"></div>
  <div class="P_Recruit__form__wrap" id="JS_smoothScroll_target-5">
    <%=render partial:'shared/form', collection: form_items ,as:'form_items' %>
  </div>
</section>
<%= render 'shared/side-bar',{color: ''}%>
