<div class="P_eat-education__recipe__img-slider">
  <ul class="P_eat-education__recipe__slide-group">
    <% recipe_items.each_with_index do |item, i| %>
      <li class="P_eat-education__recipe__content-box">
        <div class="P_eat-education__recipe__img-circle">
          <div class="C_image__eat-education__recipe_<%= i %>"></div>
          <%= link_to "", item[:link], class:"U_link"%>
        </div>
        <div class="P_eat-education__recipe__recipe-title">
          <%= item[:title]%>
        </div>
      </li>
    <% end %>
  </ul>
  <ul class="P_eat-education__recipe__slide-group">
    <% recipe_items.each_with_index do |item, i| %>
      <li class="P_eat-education__recipe__content-box">
        <div class="P_eat-education__recipe__img-circle">
          <div class="C_image__eat-education__recipe_<%= i %>"></div>
          <%= link_to "", item[:link], class:"U_link"%>
        </div>
        <div class="P_eat-education__recipe__recipe-title">
          <%= item[:title]%>
        </div>
      </li>
    <% end %>
  </ul>
</div>
