<div class="<%= cl %>__shabon U_abs-X<%= x %>-Y<%= y %>">
  <div class="C_shabon-<%= size %>">
    <div class="C_shabon-roll-<%= time %><%= ptn %> C_shabon_anime" id="<%= js %>">
      <div class="C_shabon-hori-<%= time %><%= ptn %> C_shabon_anime" id="<%= js %>">
        <div class="C_shabon-ver-<%= time %><%= ptn %> C_shabon_anime" id="<%= js %>">
          <div class="C_shabon-<%= dir %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
