<div id="JS_smoothScroll_target-0" style="top:0;position:absolute;"></div>
<section class="P_support">
  <div class="P_support__kv" id="JS_scroll-to-top_trigger-0">
    <picture>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/support/kv_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/support/kv_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/support/kv_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/support/kv_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/support/kv_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/support/kv_alt.jpg" alt="子育て支援 トップ画像" class="C_image lazyload"/>
    </picture>
    <div class="P_support__page-title-en">
      SUPPORT
      <div class="P_support__font-deco left">
        <div class="C_deco__text-shine3"></div>
      </div>
      <div class="P_support__font-deco right">
        <div class="C_deco__text-shine4"></div>
      </div>
    </div>
    <div class="P_support__page-title-ja">
      子育て支援
    </div>
    <div class="P_support__cloud-deco cloud1">
      <div class="C_deco__cloud1"></div>
    </div>
    <div class="P_support__cloud-deco cloud2">
      <div class="C_deco__cloud2"></div>
    </div>
    <div class="P_support__cloud-deco cloud3">
      <div class="C_deco__cloud3"></div>
    </div>
    <div class="P_support__symbols-deco symbols1">
      <div class="C_deco__symbols1"></div>
    </div>
    <div class="P_support__symbols-deco symbols2">
      <div class="C_deco__symbols1"></div>
    </div>
  </div>
</section>
<% items.each do |item| %>
  <section class="P_support__wrap">
    <h2 class="P_support__title-en"><%= item[:title_en] %>!</h2>
    <h1 class="P_support__title-ja">
      <span class="P_support__title-ja mini">子育て支援サークル</span><br>
      「<%= item[:title] %>」
      <div class="P_support__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_support__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_support__deco-line line1" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <p class="P_support__text">
      育児に悩むお母さんやお友だちがほしいお母さんたちの集まりの場所です。<br>
      みんなで歌を歌ったり、お絵かきなど<br>
      子どもたちとの遊びを通じて楽しくすごします。
    </p>
  </section>
  <section class="P_support__wrap color">
    <div class="P_support__cloud-deco cloud4">
      <div class="C_deco__cloud4"></div>
    </div>
    <div class="P_support__cloud-deco cloud5">
      <div class="C_deco__cloud5"></div>
    </div>
    <h1 class="P_support__title-banner">子育て支援　概要</h1>
    <h2 class="P_support__sub-title-ja">
      「<%= item[:title] %>」募集のお知らせ
      <p class="P_support__welcome">Welcome</p>
      <svg class="P_support__wave">
        <path fill="none" d="M 3,5 Q 13,10 23,5 t20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0 20,0" />
      </svg>
    </h2>
    <p class="P_support__text">
      親子でたくさんのお友だちと一緒に、<br class="sp-only">楽しいひとときを過ごしてみませんか？<br>
      子どもさんの友達づくり、またお母さん同士が、<br class="sp-only">子育てについておしゃべりをして、<br>
      楽しく集まれる場所です。<br class="sp-only">育児についてのご相談もお受けします。<br class="sp-only">お気軽にお越し下さい。
    </p>
    <table class="P_support__table">
      <tr class="P_support__row">
        <th class="P_support__head">募集対象年齢</th>
        <td class="P_support__data"><%= item[:age] %></td>
      </tr>
      <tr class="P_support__row">
        <th class="P_support__head">日時</th>
        <td class="P_support__data"><%= item[:date] %></td>
      </tr>
      <tr class="P_support__row">
        <th class="P_support__head">期間</th>
        <td class="P_support__data"><%= item[:span] %></td>
      </tr>
      <tr class="P_support__row">
        <th class="P_support__head">参加費</th>
        <td class="P_support__data"><%= item[:cost] %></td>
      </tr>
      <tr class="P_support__row">
        <th class="P_support__head">場所</th>
        <td class="P_support__data"><%= item[:local] %></td>
      </tr>
      <tr class="P_support__row">
        <th class="P_support__head">申し込み方法</th>
        <td class="P_support__data"><%= item[:request] %></td>
      </tr>
    </table>
  </section>
<% end %>
<div class="P_support__wrap">
  <div class="P_support__sub-title-ja top">
    YouTubeレシピ
  </div>
  <div class="P_support__arrow-down">
    <div class="C_deco__arrow-down"></div>
  </div>
  <div class="P_support__text no-margin">
    子どもの離乳食・食事、<br class="sp-only">お悩みはありませんか？<br>
    当園では、栄養士・保育教諭の知識の下、<br class="sp-only">地域の子育て家庭のお手伝いとして、<br>
    子どもの発達に応じた給食レシピ動画を<br class="sp-only">ホームページにて紹介しています。<br class="sp-only">ぜひ、ご覧ください。
  </div>
</div>
<section class="P_eat-education__recipe margin-bottom">
  <div id="JS_scroll-to-top_trigger-1" style="position:absolute;height:100%;"></div>
  <div id="JS_side-nav_hide-trigger-1" style="position:absolute;height:100%;"></div>
  <h1 class="P_eat-education__recipe__title-en">RECIPE</h1>
  <h2 class="P_eat-education__common__title-ja">給食レシピ</h2>
  <h3 class="P_eat-education__common__sub-title multiple">子どもの発達に応じた<br class="sp-only">給食レシピ動画を<br class="sp-only">Youtubeで紹介</h3>
  <%= render partial: 'shared/img-slider', locals:{slider_items: slider_items}%>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
