<%= render partial: 'shared/header' %>
<div class="L_back-para">
  <div class="C_box__side-bar-inner pc-tab-only"></div>
  <section class="P_H-about__page-title" id="JS_smoothScroll_target-0">
    <div class="L_pageTitle__headding">
      <div class="L_pageTitle__title">
        <p class="C_text__title-en">
          About
        </p>
        <h1 class="C_text__title-ja">
          七彩学舎について
        </h1>
      </div>
      <div class="L_pageTitle__second">
        <ul class="P_H-about__nav">
          <li><%= link_to 'ご挨拶', '#', class: 'P_H-about__nav-list', id: 'JS_smoothScroll_trigger-1'%></li>
          <li><%= link_to '法人概要', '#', class: 'P_H-about__nav-list', id: 'JS_smoothScroll_trigger-2'%></li>
          <li><%= link_to '施設概要', '#', class: 'P_H-about__nav-list', id: 'JS_smoothScroll_trigger-3'%></li>
          <li><%= link_to '公示情報', '#', class: 'P_H-about__nav-list', id: 'JS_smoothScroll_trigger-4'%></li>
          <li><%= link_to '所在地', '#', class: 'P_H-about__nav-list', id: 'JS_smoothScroll_trigger-5'%></li>
        </ul>
      </div>
    </div>
  </section>
</div>
<section class="PageKeyVisual" id = "JS_scroll-to-top_trigger-0">
  <div class="L_kv-half-para">
    <div class="C_image__H-about_kv"></div>
  </div>
</section>
<div class="L_back-para">
  <div class="C_box__side-bar-inner pc-tab-only"></div>
  <section class="P_H-about__greeting" id="JS_smoothScroll_target-1">
    <div class="L_wrap title">
      <div class="L_title__headding">
        <p class="C_text__title-en">
          Messeage
        </p>
        <h1 class="C_text__title-ja">
          ご挨拶
        </h1>
      </div>
    </div>
    <div class="L_wrap">
      <div class="P_H-about__inner-text space-right">
        <h1 class="C_text__sub-title">可能性を育む</h1>
        <p class="P_H-about__text">
        子どもは、「健康で元気いっぱい」が基本です。健康で元気いっぱい友達と遊んで、いっぱいおいしいものを食べて、時にはけんかをしたり泣いたりもして、心や精神が育っていきます。友達と遊ぶことで、自分を素直に表現できる情緒豊かな心と、元気に走り回れる体をしっかり育まれた子供たちは、友達を思い遣り、相手の痛みを理解する優しさや、みんなと一緒に一つのことに取り組み、あたりまえの事ができてルールを守れる協調性や社会性を身につけていきます。しっかり育った心と体、優しさと協調性を備えた自立した個性は、やがて知性や社会性のベースとなるでしょう。七彩学舎では、ご家庭との連携を緊密にし、子どもたちの心と体、個性を大切に育ててまいります。
        </p>
      </div>
      <div class="P_H-about__img-box noRight" id="JS_scroll-to-top_trigger-1">
        <div class="C_image__H-about_greeting"></div>
      </div>
    </div>
  </section>
  <section class="P_H-about__overview" id="JS_smoothScroll_target-2">
    <div class="L_wrap title noSpace">
      <div class="L_title__headding">
        <p class="C_text__title-en">
          Overview
        </p>
        <h1 class="C_text__title-ja">
          法人概要
        </h1>
      </div>
      <div class="L_sub-title__headding">
        <h1 class="C_text__sub-title">
          社会福祉法人　七彩学舎
        </h1>
      </div>
    </div>
    <div class="L_wrap">
      <div class="P_H-about__img-box noLeft">
        <div class="C_image__H-about_overview"></div>
      </div>
      <div class="P_H-about__inner-text space-left">
        <table class="P_H-about__table">
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">理事長</td>
            <td class="P_H-about__table-text">秦　純子</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">住所</td>
            <td class="P_H-about__table-text">大阪府貝塚市半田1-3-6</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">電話番号</td>
            <td class="P_H-about__table-text">072-427-8969</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">FAX</td>
            <td class="P_H-about__table-text">075-426-5432</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">設立年月日</td>
            <td class="P_H-about__table-text">昭和50年3月15日</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">運営施設</td>
            <td class="P_H-about__table-text">認定こども園　パルティ道教寺(本部)</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title"></td>
            <td class="P_H-about__table-text">認定こども園　ピアニィ道教寺</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <section class="P_H-about__facilities" id="JS_smoothScroll_target-3">
    <div class="L_wrap title">
      <div class="L_title__headding">
        <p class="C_text__title-en">
          Facilities
        </p>
        <h1 class="C_text__title-ja">
          施設概要
        </h1>
      </div>
      <div class="L_sub-title__headding">
        <h1 class="C_text__sub-title">
          認定こども園　パルティ道教寺
        </h1>
      </div>
    </div>
    <div class="L_wrap">
      <div class="P_H-about__inner-text space-right">
        <table class="P_H-about__table">
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">園長</td>
            <td class="P_H-about__table-text">堤　恵美子</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">住所</td>
            <td class="P_H-about__table-text">〒597-0033　大阪府貝塚市半田1-3-6</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">電話番号</td>
            <td class="P_H-about__table-text">072-427-8969</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">FAX</td>
            <td class="P_H-about__table-text">075-426-5432</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">設立年月日</td>
            <td class="P_H-about__table-text">昭和50年4月1日</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">定員</td>
            <td class="P_H-about__table-text">幼稚園部15名　保育園部180名</td>
          </tr>
        </table>
      </div>
      <div class="P_H-about__img-box noRight facility" id="JS_scroll-to-top_trigger-2">
        <div class="P_H-about__hover-action" id="JS_scroll-action-0_trigger">
          <div class="C_image__parti"></div>
          <div class="P_H-about__shadow" id="JS_scroll-action-0_target-0"></div>
          <p class="P_H-about__cover-text" id="JS_scroll-action-0_target-1">パルティ道教寺<br>ホームページへ</p>
          <%= link_to "", root_path, class:"U_link"%>
        </div>
      </div>
    </div>
    <div class="L_wrap title">
      <div class="L_sub-title__headding">
        <h1 class="C_text__sub-title">
          認定こども園　ピアニィ道教寺
        </h1>
      </div>
    </div>
    <div class="L_wrap last">
      <div class="P_H-about__img-box noLeft facility">
        <div class="P_H-about__hover-action" id="JS_scroll-action-1_trigger">
          <div class="C_image__piani"></div>
          <div class="P_H-about__shadow" id="JS_scroll-action-1_target-0"></div>
          <p class="P_H-about__cover-text" id="JS_scroll-action-1_target-1">ピアニィ道教寺<br>ホームページへ</p>
          <%= link_to "", root_path, class:"U_link"%>
        </div>
      </div>
      <div class="P_H-about__inner-text space-left">
        <table class="P_H-about__table">
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">園長</td>
            <td class="P_H-about__table-text">秦　純子</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">住所</td>
            <td class="P_H-about__table-text">〒597-0081　大阪府貝塚市麻生中626</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">電話番号</td>
            <td class="P_H-about__table-text">072-493-1330</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">FAX</td>
            <td class="P_H-about__table-text">072-493-1331</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">設立年月日</td>
            <td class="P_H-about__table-text">平成15年4月1日</td>
          </tr>
          <tr class="P_H-about__table-row">
            <td class="P_H-about__table-title">定員</td>
            <td class="P_H-about__table-text">幼稚園部15名　保育園部180名</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <section class="P_H-about__info" id="JS_smoothScroll_target-4">
    <div class="P_H-about__info-wrap">
      <div class="L_title__headding">
        <p class="C_text__title-en">
          Public Info
        </p>
        <h1 class="C_text__title-ja">
          公示情報
        </h1>
      </div>
      <ul class="P_H-about__info">
        <li class="P_H-about__info-list">
          七彩学舎定款
        </li>
        <li class="P_H-about__info-list">
          役員・評議員名簿
        </li>
        <li class="P_H-about__info-list">
          役員報酬基準
        </li>
        <li class="P_H-about__info-list">
          パルティ道教寺　自己評価票
        </li>
        <li class="P_H-about__info-list">
          ピアニィ道教寺　自己評価票
        </li>
        <li class="P_H-about__info-list">
          第三者苦情解決者<br class="sp-only"><span class="pc-only">　</span>連絡先　090-8169-1968
        </li>
      </ul>
    </div>
  </section>
  <section class="P_H-about__map" id="JS_smoothScroll_target-5">
    <div class="L_wrap">
      <div class="L_title__headding">
        <p class="C_text__title-en">
          Map
        </p>
        <h1 class="C_text__title-ja">
          法人本部所在地
        </h1>
      </div>
    </div>
    <div class="P_H-about__map-inner">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13162.036286214505!2d135.3731036!3d34.4392232!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd48c9cfe7b368468!2z56S-5Lya56aP56WJ5rOV5Lq6IOS4g-W9qeWtpuiIjg!5e0!3m2!1sja!2sjp!4v1614213618813!5m2!1sja!2sjp" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </section>
</div>
<%= render 'shared/side_bar',{color: ''}%>
<%= render partial: 'shared/footer' %>
