<%= render partial: 'shared/header' %>
<section class="PageTitle">
  <div id="JS_smoothScroll_target-0"></div>
  <div class="L_pageTitle__headding">
    <div class="L_pageTitle__title">
      <p class="C_text__title-en">
        Admission
      </p>
      <h1 class="C_text__title-ja">
        入園をお考えの方へ
      </h1>
    </div>
    <div class="L_pageTitle__second">
      <ul class="P_H-admission__nav">
        <li><%= link_to '初めての集団生活', '#', class: 'P_H-admission__nav-list', id: 'JS_smoothScroll_trigger-1'%></li>
        <li><%= link_to '認定こども園とは', '#', class: 'P_H-admission__nav-list', id: 'JS_smoothScroll_trigger-2'%></li>
        <li><%= link_to 'パルティ道教寺', '#', class: 'P_H-admission__nav-list', id: 'JS_smoothScroll_trigger-3'%></li>
        <li><%= link_to 'ピアニィ道教寺', '#', class: 'P_H-admission__nav-list', id: 'JS_smoothScroll_trigger-4'%></li>
        <li><%= link_to '募集概要', '#', class: 'P_H-admission__nav-list', id: 'JS_smoothScroll_trigger-5'%></li>
      </ul>
    </div>
  </div>
</section>
<section class="PageKeyVisual" id = "JS_scroll-to-top_trigger-0">
  <div class="L_kv-half">
    <div class="C_image__admission-para"></div>
  </div>
</section>
<section class="PageIntro">
  <div class="L_wrap title">
    <div id="JS_smoothScroll_target-1"></div>
    <div class="L_title__headding">
      <p class="C_text__title-en">
        First Group Life
      </p>
      <h1 class="C_text__title-ja">
        初めての集団生活
      </h1>
    </div>
  </div>
  <div class="L_wrap">
    <div class="P_H-admission__inner-text space-right">
      <h1 class="C_text__sub-title">子どもにふさわしい園を</h1>
      <p class="P_H-admission__text">
      保育園や幼稚園、認定こども園は、子どもにとって、人生で初めての集団生活の場になります。そこで出来た友達や仲間が、その後の人生を大きく変えるかもしれません。<br>
      新しく入園をお考えの方は、この時期に出来るだけ多くの施設をご自身の目で見学されることをお勧めします。子どもにあった保育環境や玩具、カリキュラム、保育者の質を、是非ともご自身の目や耳でお感じください。<br>
      また、今後の小学校への連携や、お仕事の通勤環境などもあるでしょう。当園にお越しの場合は、遠慮なく何でもご質問ください。これまで、さまざまなご家庭のお子さんを受け入れて参りました。当園にかかわらず、子どもにとって相応しい保育環境を選ぶお手伝いをさせて頂きます。
      </p>
    </div>
    <div class="P_H-admission__img-box noRight" id="JS_scroll-to-top_trigger-1">
      <div class="C_image__admission-group-life"></div>
    </div>
  </div>
</section>
<section class="AboutChildFacility">
  <div class="L_wrap title">
    <div id="JS_smoothScroll_target-2"></div>
    <div class="L_title__headding">
      <p class="C_text__title-en">
        Child Facility
      </p>
      <h1 class="C_text__title-ja">
        認定こども園とは
      </h1>
    </div>
  </div>
  <div class="L_wrap">
    <div class="P_H-admission__img-box noLeft" id="JS_scroll-to-top_trigger-1">
      <div class="C_image__admission-child-facility"></div>
    </div>
    <div class="P_H-admission__inner-text space-left">
      <h1 class="C_text__sub-title">すべての子どもに</h1>
      <p class="P_H-admission__text">
      認定こども園とは、保育園と幼稚園の機能を併せ持った施設です。<br>
      幼稚園と保育園の違いは今でこそ差がありませんが、本来幼稚園は小学校に入る前の教育機関であり、保育園は働いている保護者の就労支援から、子どもを預かるだけの施設でした。<br>
      当園でも、始まりは戦後の農繁期に、子どもを預かる寺子屋から保育園となり出発しています。しかしながら、当法人を含め多くの保育園は、生活の場と密接に関係した幼児教育を実践し、その長年の研鑽の結果、幼稚園と変わらないカリキュラムを築いてきました。また、幼稚園も預かり保育を実施するようになり、幼稚園と保育園の違いはほとんどなくなりました。<br>
      とはいえ、幼稚園と保育園では保護者の就労状況によって、入園や保育時間が異なる問題がありました。そこで、認定こども園という制度が新たにできました。<br>
      保護者の就労の有無に関わらず、子どもにとって等しく適切な保育環境を提供することができます。当法人も、さまざまな就労状況であっても、柔軟に子どもを受け入れることができる認定こども園に移行しました。<br>
      幼稚園、保育園の隔たりなく、すべての子どもに、新たな可能性と発見を見出す園であり続けたいと願っています。
      </p>
    </div>
  </div>
</section>
<section class="Facilities">
  <div class="L_wrap title">
    <div id="JS_smoothScroll_target-3"></div>
    <div class="L_title__headding">
      <p class="C_text__title-en">
        Parti
      </p>
      <h1 class="C_text__title-ja">
        パルティ道教寺
      </h1>
    </div>
    <div class="L_sub-title__headding">
      <h1 class="C_text__sub-title">
        子どもの「はじめて」を大切に
      </h1>
    </div>
  </div>
  <div class="L_wrap">
    <div class="P_H-admission__inner-text space-right">
      <p class="P_H-admission__text">
        園名である「パルティ道教寺」のパルティは、フランス語のPartie（パルティール＝出発する・始まる・スタートするの意味）からParti（パルティ）と発音しやすくシンプルにしたものです。<br>
        こども園は、子どもにとって人生で初めての集団生活の場になります。そのスタートを踏み出す子どもたちの背中を、そっと押してあげられるような園であることを願っています。<br>
        JR東貝塚駅のすぐ隣にあり、いつも子どもの賑やかな声が響いています。地域のみなさんに昔から支えられ続けている園です。
      </p>
    </div>
    <div class="P_H-admission__img-box noRight" id="JS_scroll-to-top_trigger-2">
      <div class="P_H-admission__hover-action" id="JS_scroll-action-0_trigger">
        <div class="C_image__parti"></div>
        <div class="P_H-admission__shadow" id="JS_scroll-action-0_target-0"></div>
        <p class="P_H-admission__cover-text" id="JS_scroll-action-0_target-1">パルティ道教寺<br>入園案内へ</p>
        <%= link_to "", root_path, class:"U_link"%>
      </div>
    </div>
  </div>
  <div class="L_wrap title">
    <div id="JS_smoothScroll_target-4"></div>
    <div class="L_title__headding">
      <p class="C_text__title-en">
        Piani
      </p>
      <h1 class="C_text__title-ja">
        ピアニィ道教寺
      </h1>
    </div>
    <div class="L_sub-title__headding">
      <h1 class="C_text__sub-title">
        子どもの「やさしさ」を大切に
      </h1>
    </div>
  </div>
  <div class="L_wrap">
    <div class="P_H-admission__img-box noLeft">
      <div class="P_H-admission__hover-action" id="JS_scroll-action-1_trigger">
        <div class="C_image__piani"></div>
        <div class="P_H-admission__shadow" id="JS_scroll-action-1_target-0"></div>
        <p class="P_H-admission__cover-text" id="JS_scroll-action-1_target-1">ピアニィ道教寺<br>入園案内へ</p>
        <%= link_to "", root_path, class:"U_link"%>
      </div>
    </div>
    <div class="P_H-admission__inner-text space-left">
      <p class="P_H-admission__text">
        ピアニィとは「小さい」「かわいい」を意味します。音楽の楽譜などで見るmp（メゾピアノ）やpp（ピアニシモ）という記号のpと同じです。<br>
        この名前には、ひとり一人の子ども達が音符のように大事な音を奏で、ひとり一人が無くてはならない存在であり、ちがう音符を互いに大切にすることで素晴らしいメロディ・ハーモニーになるとの思いが込められています。<br>
        JR東貝塚駅よりすこし山手の、静かな農園の中にあり、自然の豊かな環境で子どもたちは、いつも元気いっぱいに駆け回っている園です。
      </p>
    </div>
  </div>
</section>
<section class="Info">
  <div class="P_H-admission__info-wrap">
    <div id="JS_smoothScroll_target-5"></div>
    <div class="L_title__headding">
      <p class="C_text__title-en">
        Info
      </p>
      <h1 class="C_text__title-ja">
        募集概要
      </h1>
    </div>
    <h2 class="C_text__sub-title">
      パルティ道教寺　定員
    </h2>
    <table class="P_H-admission__table">
      <tr class="P_H-admission__table-row">
        <td class="P_H-admission__table-head">歳児</td>
        <td class="P_H-admission__table-head">0歳</td>
        <td class="P_H-admission__table-head">1歳</td>
        <td class="P_H-admission__table-head">2歳</td>
        <td class="P_H-admission__table-head">3歳</td>
        <td class="P_H-admission__table-head">4歳</td>
        <td class="P_H-admission__table-head">5歳</td>
      </tr>
      <tr class="P_H-admission__table-row">
        <td class="P_H-admission__table-title">保育園部</td>
        <td class="P_H-admission__table-text">12名</td>
        <td class="P_H-admission__table-text">24名</td>
        <td class="P_H-admission__table-text">27名</td>
        <td class="P_H-admission__table-text">39名</td>
        <td class="P_H-admission__table-text">39名</td>
        <td class="P_H-admission__table-text">39名</td>
      </tr>
      <tr class="P_H-admission__table-row">
        <td class="P_H-admission__table-title">幼稚園部</td>
        <td class="P_H-admission__table-text">-</td>
        <td class="P_H-admission__table-text">-</td>
        <td class="P_H-admission__table-text">-</td>
        <td class="P_H-admission__table-text">5名</td>
        <td class="P_H-admission__table-text">5名</td>
        <td class="P_H-admission__table-text">5名</td>
      </tr>
    </table>
    <p class="P_H-admission__annotation">※保育園部の0歳児については、生後6ヶ月から入園できます。</p>
    <p class="P_H-admission__annotation">※幼稚園部の２歳児については、3歳になった月の翌月初から入園できます。</p>
    <h2 class="C_text__sub-title">
      ピアニィ道教寺　定員
    </h2>
    <table class="P_H-admission__table">
      <tr class="P_H-admission__table-row">
        <td class="P_H-admission__table-head">歳児</td>
        <td class="P_H-admission__table-head">0歳</td>
        <td class="P_H-admission__table-head">1歳</td>
        <td class="P_H-admission__table-head">2歳</td>
        <td class="P_H-admission__table-head">3歳</td>
        <td class="P_H-admission__table-head">4歳</td>
        <td class="P_H-admission__table-head">5歳</td>
      </tr>
      <tr class="P_H-admission__table-row">
        <td class="P_H-admission__table-title">保育園部</td>
        <td class="P_H-admission__table-text">9名</td>
        <td class="P_H-admission__table-text">18名</td>
        <td class="P_H-admission__table-text">24名</td>
        <td class="P_H-admission__table-text">30名</td>
        <td class="P_H-admission__table-text">30名</td>
        <td class="P_H-admission__table-text">30名</td>
      </tr>
      <tr class="P_H-admission__table-row">
        <td class="P_H-admission__table-title">幼稚園部</td>
        <td class="P_H-admission__table-text">-</td>
        <td class="P_H-admission__table-text">-</td>
        <td class="P_H-admission__table-text">-</td>
        <td class="P_H-admission__table-text">8名</td>
        <td class="P_H-admission__table-text">8名</td>
        <td class="P_H-admission__table-text">9名</td>
      </tr>
    </table>
    <p class="P_H-admission__annotation">※保育園部の0歳児については、生後6ヶ月から入園できます。</p>
    <p class="P_H-admission__annotation">※幼稚園部の２歳児については、3歳になった月の翌月初から入園できます。</p>
    <h2 class="C_text__sub-title">
      保育料について
    </h2>
    <p class="P_H-admission__text">
      保育料はお住まいの各市町村が世帯毎に算定する『利用者負担額』に基づいて決定されます。各家庭によって異なりますので、お住まいの市町村の役場にてご確認ください。<br>
      <span><a class="P_H-admission__link" href="https://www.city.kaizuka.lg.jp/kakuka/kenkokodomo/hoikukodomoen/menu/houikusho/hoikuryo.html">貝塚市の保育料</a></span>についてはこちらより、ご確認ください。<br>
      『貝塚市利用者負担額（保育料）表』で確認できます。<br>
      保育園部は「貝塚市利用者負担額（保育料）表【2号・3号認定】」、<br>
      幼稚園部は「貝塚市利用者負担額（保育料）表【1号認定】」となります。<br>
      また、その他、教材費などは各園の入園案内のページをご参照ください。
    </p>
  </div>
</section>
<%= render 'shared/side_bar',{color: ''}%>
<%= render partial: 'shared/footer' %>
