<%= render partial: 'layouts/header' %>
<section class="top-section">
  <div class="top_image_box">
    <%# TODO 画面サイズによっての画像S,M,Lを配置 トップ画像%>
    <div class="top_image slide1 order1"></div>
    <div class="top_image slide2 order1"></div>
    <div class="top_image slide3 order1"></div>
    <div class="top_image slide4 order1"></div>
    <div class="top_image slide5 order1"></div>
    <div class="text">
      <p class="sub_title">Educational Principle</p>
      <p class="title">遊　学　優　和</p>
    </div>
    <div class="mouse js-hide">
        <span></span>
    </div>
    <div class="change-slide-container right js-hide">
      <button class="js-click-slide-right">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
    <div class="change-slide-container left js-hide">
      <button class="js-click-slide-left">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
  </div>
  <div class="catch-copy-container">
  </div>
</section>
<section class="main-section">
  <div class="preschool__wrapper">
    <div class="preschool__item">
      <div class="preschool__scale">
        <div class="preschool__image">
          <picture class="responsive-image">
          <%# TODO 画面サイズによっての画像S,M,Lを配置 パルティ%>
            <source srcset='/images/parti.png' data-width="710" data-height="425" media=<%= Settings[:media][:pc] %>>
            <source srcset='/images/parti.png' data-width="710" data-height="425" media=<%= Settings[:media][:tab] %>>
            <source srcset='/images/parti.png' data-width="325" data-height="195" media=<%= Settings[:media][:sp] %>>
            <%= image_tag '/images/parti.png', class: "responsive-image lazyloaded" %>
          </picture>
        </div>
        <div class="preschool__content">
          <h3>Parti</h3>
          <div class="preschool__link">
            <%= link_to "", root_path, class: "action" %>
          </div>
        </div>
      </div>
    </div>
    <div class="preschool__item">
      <div class="preschool__scale">
        <div class="preschool__image">
          <picture class="responsive-image">
          <%# TODO 画面サイズによっての画像S,M,Lを配置 ピアニィ%>
            <source srcset='/images/piani.png' data-width="710" data-height="425" media=<%= Settings[:media][:pc] %>>
            <source srcset='/images/piani.png' data-width="710" data-height="425" media=<%= Settings[:media][:tab] %>>
            <source srcset='/images/piani.png' data-width="325" data-height="195" media=<%= Settings[:media][:sp] %>>
            <%= image_tag '/images/piani.png', class: "responsive-image lazyloaded" %>
          </picture>
          <%# <div class="cover"></div> %>
        </div>
        <div class="preschool__content">
          <h3>Piani</h3>
          <div class="preschool__link">
            <%= link_to "", root_path, class: "action" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row content">

<p class="a1">aa  Parti</p>
<p class="a2">Parti</p>
<p class="a3">Parti</p>
<p class="a4">Parti</p>
<p class="a5">Parti</p>
<p class="a6">Parti</p>


<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » フィード" href="https://www.dokyoji.or.jp/feed/">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » コメントフィード" href="https://www.dokyoji.or.jp/comments/feed/">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
