<%= render partial: 'layouts/header' %>
<%#-- TODO:h1タグの見直し(seo) --%>
<%# ==================================== %>
<%# トップ画像
<%# ==================================== %>
<section class="Key-visual">
  <%#-- イメージコンテナー --%>
  <div class="L_key-visual JS_scroll_to-top_trigger C_image--parallax__houjin">
    <div class="L_key-visual__inner U_trim">
      <%#-- TODO:写真の置き換え --%>
      <%#-- シャドウブラックカバー --%>
      <div class="C_cover --shadow"></div>
      <%#-- マウスアイコン --%>
      <div class="C_icon-mouse U_z-icon">
          <span class="C_icon-mouse__material"></span>
      </div>
      <%#-- スクロールするキャッチコピー(フロント) --%>
      <div class="P_Houjin-kv__text-box  --front JS_scroll_move_target">
        <p class="P_Houjin-kv__text-en">
          <span>
            Find the Many Like
            <br class="sp-only">
            Nurture the future
          </span>
        </p>
        <h2 class="P_Houjin-kv__text-ja">
          <span>好きが見つかる</span><br>
          <span>未来を育む</span>
        </h2>
      </div>
    </div>
    <%#-- スクロールするキャッチコピー(バック) --%>
    <div class="P_Houjin-kv__text-box  --back JS_scroll_move_target">
      <p class="P_Houjin-kv__text-en">
        <span>
          Find the Many Like
          <br class="sp-only">
          Nurture the future
        </span>
      </p>
      <h2 class="P_Houjin-kv__text-ja">
        <span>好きが見つかる</span><br>
        <span>未来を育む</span>
      </h2>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# 理念
<%# ==================================== %>
<%#-- キャッチコピーセクション --%>
<section class="Philosophy">
  <div class="P_Houjin-philosophy__catch">
    <div class="C_wrap__600 JS_scroll_move_end_target">
      <div class="A_isInvisible">
        <p class="P_Houjin-kv__text-en">
          <span>
            Find the Many Like
            <br class="sp-only">
            Nurture the future
          </span>
        </p>
        <h2 class="P_Houjin-kv__text-ja">
          <span>好きが見つかる</span><br>
          <span>未来を育む</span>
        </h2>
      </div>
    </div>
  </div>
  <%#-- リード文 --%>
  <div class="P_Houjin-philosophy__lead">
    <div class="C_wrap__600">
      <p class="P_Houjin-philosophy__text">　私たち七彩(なないろ)学舎では、子どもたちの「好き」を大切にしています。子どもの体験は全て「はじめて」です。その「はじめて」が「好き」になれば、たとえその時苦手なことも継続し、子どもたちの将来の選択肢が広がります。<br>　私たちは、その考えのもと、子どもたちの未来を育んでいます。</p>
      <div class="P_Houjin-philosophy__link">
        <ul class="P_Houjin-philosophy__list L_flex --center-X --wrap">
          <li class="P_Houjin-philosophy__list-item">
            <%= link_to root_path, class: 'A_border-stretch' do %>
              <p class="P_Houjin-philosophy__link-text ja A_border-stretch__text">こどもへの願い</p>
              <p class="P_Houjin-philosophy__link-text en">VISION</p>
            <% end %>
          </li>
          <li class="P_Houjin-philosophy__list-item">
            <%= link_to root_path, class: 'A_border-stretch' do %>
              <p class="P_Houjin-philosophy__link-text ja A_border-stretch__text">私たちのあゆみ</p>
              <p class="P_Houjin-philosophy__link-text en">HISTORY</p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%# ==================================== %>
<%# 就職と入園希望の案内
<%# ==================================== %>
<section class="Info">
  <div class="P_Info">
    <div class="P_Info__container L_flex --wrap --center">
      <%#-- 入園希望 --%>
      <div class="P_Info__image C_image__admission JS_scroll_admission_trigger">
        <%#-- カバーシャドウ＋リンク --%>
        <%= link_to root_path, class: "P_Info__link A_pointer" do %>
          <div class="P_Info__deco">
            <h1 class="P_Info__text">Admission</h1>
            <h2 class="P_Info__sub-text">入園をご希望の方</h2>
          </div>
          <%#-- シャボン --%>
          <%=render'layouts/shabon',{x:4,  y:5,  cl:'P_Info',size:'S' ,time:'2',ptn:'B',dir:'left',jscl:'JS_anime_admission'}%>
          <%=render'layouts/shabon',{x:0,  y:90, cl:'P_Info',size:'M' ,time:'1',ptn:'A',dir:'left',jscl:'JS_anime_admission'}%>
          <%=render'layouts/shabon',{x:46, y:10, cl:'P_Info',size:'SS',time:'1',ptn:'A',dir:'left',jscl:'JS_anime_admission'}%>
          <%=render'layouts/shabon',{x:70, y:38, cl:'P_Info',size:'M' ,time:'2',ptn:'B',dir:'left',jscl:'JS_anime_admission'}%>
          <%=render'layouts/shabon',{x:100,y:100,cl:'P_Info',size:'L' ,time:'3',ptn:'B',dir:'left',jscl:'JS_anime_admission'}%>
        <% end %>
      </div>
      <%#-- 就職希望 --%>
      <div class="P_Info__image C_image__recruit JS_scroll_recruit_trigger">
      <%#-- カバーシャドウ＋リンク --%>
        <%= link_to root_path, class: "P_Info__link A_time-S A_pointer" do %>
          <div class="P_Info__deco">
            <h1 class="P_Info__text">Recruiting</h1>
            <h2 class="P_Info__sub-text">就職をご希望の方</h2>
          </div>
          <%=render'layouts/shabon',{x:4, y:5, cl:'P_Info',size:'SS' ,time:'1',ptn:'A',dir:'left',jscl:'JS_anime_recruit'}%>
          <%=render'layouts/shabon',{x:7, y:5, cl:'P_Info',size:'S'  ,time:'2',ptn:'B',dir:'left',jscl:'JS_anime_recruit'}%>
          <%=render'layouts/shabon',{x:1, y:55,cl:'P_Info',size:'LL' ,time:'1',ptn:'A',dir:'left',jscl:'JS_anime_recruit'}%>
          <%=render'layouts/shabon',{x:80,y:10,cl:'P_Info',size:'SS' ,time:'1',ptn:'A',dir:'left',jscl:'JS_anime_recruit'}%>
          <%=render'layouts/shabon',{x:55,y:42,cl:'P_Info',size:'M'  ,time:'2',ptn:'B',dir:'left',jscl:'JS_anime_recruit'}%>
          <%=render'layouts/shabon',{x:100,y:100,cl:'P_Info',size:'LLL',time:'3',ptn:'B',dir:'left',jscl:'JS_anime_recruit'}%>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%# ==================================== %>
<%# 施設の紹介
<%# ==================================== %>
<section class="Facilities">
  <div class="P_Facility JS_scroll_to-top_trigger">
    <div class="P_Facility__container L_flex --wrap --center">
      <%#-- パルティimage --%>
      <div class="P_Facility__image C_image__parti JS_scroll_scale_parti">
      <%#-- カバーシャドウ＋リンク --%>
        <%= link_to root_path, class: "C_cover --shadow A_time-S A_toOpacity A_pointer" do %>
          <h1 class="P_Facility__text">Parti</h3>
        <% end %>
      </div>
      <%#-- ピアニィ image--%>
      <div class="P_Facility__image C_image__piani JS_scroll_scale_piani">
        <%#-- カバーシャドウ＋リンク --%>
        <%= link_to root_path, class: "C_cover --shadow A_time-S A_toOpacity A_pointer" do %>
          <h1 class="P_Facility__text">Piani</h3>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%#-- サイドバー --%>
<div class="C_box__side-bar-back pc-only"></div>
<div class="C_icon__to-top JS_scroll_to-top_active_target A_isHide pc-only">
  <a class="C_icon__to-top__link" href="#">
    <div class="C_icon__to-top__border-box">
      <div class="C_icon__to-top__border"></div>
    </div>
    <p class="C_icon__to-top__text">PAGE TOP</p>
  </a>
</div>

<%= render partial: 'layouts/footer' %>

<%#-- フォントの確認用 --%>
<div class="L_full A_shabon-ver1A U_hy-30">
  <p class="C_text__font-awesome">あア亜aA「font-family-awesome」</p>
  <p class="C_text__font-code">あア亜aA「font-family-code」</p>
  <p class="C_text__font-base">あア亜aA「font-family-base」</p>
  <p class="C_text__font-hkgw3">あア亜aA「font-family-hkgw3」</p>
  <p class="C_text__font-hkgw6">あア亜aA「font-family-hkgw6」</p>
  <p class="C_text__font-minco">あア亜aA「font-family-minco」</p>
  <p class="C_text__font-gothic">あア亜aA「font-family-gothic」</p>
  <p class="C_text__font-shuei">あア亜aA「font-family-shuei」</p>
  <p class="C_text__font-sub-en">あア亜aA「'Blankid'」:Brankid[parti]</p>
  <p class="C_text__font-DINPro">あア亜aA「'DINPro-Medium';'KozGoPr6N-Regular'」</p>
  <p class="C_text__font-NewBask">あア亜aA「'NewBaskervilleStd-Roman'」</p>
  <p class="C_text__font-logo">あア亜aA「'CastroScript_PERSONAL_USE_ONLY'」：logo</p>
  <p class="C_text__font-Hannari">あア亜aA「'Hannari'」</p>
  <p class="C_text__font-Angelface">あア亜aA「'Angelface'」</p>
  <p class="C_text__font-Bask">あア亜aA「'Baskerville'」</p>
</div>

<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » フィード" href="https://www.dokyoji.or.jp/feed/">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » コメントフィード" href="https://www.dokyoji.or.jp/comments/feed/">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
