<%= render partial: 'layouts/header' %>

<section class="top-section js-scroll-trigger">
  <div class="top_image_box">
    <div class="cover"></div>
    <div class="trim-area">
      <%# TODO 仮の写真を正規画像へ%>
      <div class="top_image slide1 order1"></div>
      <div class="top_image slide2 order1"></div>
      <div class="top_image slide3 order1"></div>
      <div class="top_image_pc slide1 order1 isHide "></div>
      <div class="top_image_pc slide2 order1 isHide"></div>
      <div class="top_image_pc slide3 order1 isHide"></div>
      <div class="mouse js-scroll-mouse-hide-target">
          <span></span>
      </div>
      <div class="change-slide-container right js-scroll-slideButton-hide-target">
        <button class="js-click-slide-right">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      <div class="change-slide-container left js-hide">
        <button class="js-click-slide-left">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>
      <div id="message-white", class="scroll-move">
        <span>こどもの<br/>「好き」が見つかる<br/>可能性は無限大</span>
    </div>
    </div>
    <div id="message-black", class="scroll-move">
        <span>こどもの<br/>「好き」が見つかる<br/>可能性は無限大</span>
    </div>
  </div>
</section>
<section class="test">
  <div class="image-test"></div>
</section>
<section class="catch-copy-section">
  <div class="catch-copy__wrapper top"></div>
  <div class="catch-copy__wrapper middle" >
    <div class="catch-copy__box text">
      <h4>　わたしたちは、こどもの「好き」を一つでも多く見つけたい。わたしたちは、こどもの「好き」を一つでも多く見つけたい。わたしたちは、こどもの「好き」を一つでも多く見つけたい。わたしたちは、こどもの「好き」を一つでも多く見つけたい。わたしたちは、こどもの「好き」を一つでも多く見つけたい。</h4>
    </div>
  </div>
  <div class="catch-copy__wrapper bottom">
    <div class="catch-copy__box vision">
      <a href="" class="action">
        <h1>こどもへの願い</h1>
        <p>VISION</p>
      </a>
    </div>
    <div class="catch-copy__box history">
      <a href="" class="action">
        <h1>わたしたちの歩み</h1>
        <p>HISTORY</p>
      </a>
    </div>
  </div>
</section>

<section class="main-section">
  <div class="preschool__wrapper">
    <div class="preschool__item">
      <div class="preschool__scale">
        <div class="preschool__image">
          <picture class="responsive-image">
          <%# TODO 画面サイズによっての画像S,M,Lを配置 パルティ%>
            <source srcset='/images/parti.png' data-width="710" data-height="425" media=<%= Settings[:media][:pc] %>>
            <source srcset='/images/parti.png' data-width="710" data-height="425" media=<%= Settings[:media][:tab] %>>
            <source srcset='/images/parti.png' data-width="325" data-height="195" media=<%= Settings[:media][:sp] %>>
            <%= image_tag '/images/parti.png', class: "responsive-image lazyloaded" %>
          </picture>
        </div>
        <div class="preschool__content">
          <h3>Parti</h3>
          <div class="preschool__link">
            <%= link_to "", root_path, class: "action" %>
          </div>
        </div>
      </div>
    </div>
    <div class="preschool__item">
      <div class="preschool__scale">
        <div class="preschool__image">
          <picture class="responsive-image">
          <%# TODO 画面サイズによっての画像S,M,Lを配置 ピアニィ%>
            <source srcset='/images/piani.png' data-width="710" data-height="425" media=<%= Settings[:media][:pc] %>>
            <source srcset='/images/piani.png' data-width="710" data-height="425" media=<%= Settings[:media][:tab] %>>
            <source srcset='/images/piani.png' data-width="325" data-height="195" media=<%= Settings[:media][:sp] %>>
            <%= image_tag '/images/piani.png', class: "responsive-image lazyloaded" %>
          </picture>
          <%# <div class="cover"></div> %>
        </div>
        <div class="preschool__content">
          <h3>Piani</h3>
          <div class="preschool__link">
            <%= link_to "", root_path, class: "action" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row content">

<p class="a1">aa  Parti</p>
<p class="a2">Parti</p>
<p class="a3">Parti</p>
<p class="a4">Parti</p>
<p class="a5">Parti</p>
<p class="a6">Parti</p>


<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » フィード" href="https://www.dokyoji.or.jp/feed/">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » コメントフィード" href="https://www.dokyoji.or.jp/comments/feed/">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
