<%= render partial: 'shared/header' %>
<%# ==================================== %>
<%# トップ画像
<%# ==================================== %>
<section class="KeyVisual">
  <%#-- イメージコンテナー --%>
  <div class="P_Houjin-kv" id="JS_smoothScroll_target-0">
    <div class="L_kv" id="JS_scroll-to-top_trigger-0">
      <%#-- スクロールするキャッチコピー(バック黒) --%>
      <div class="P_Houjin-kv__text-container" id="JS_scroll-move_target-0">
        <div class="P_Houjin-kv__back-text">
          <p class="P_Houjin-kv__text-en">
            <span>
              Find the Many Like
              <br class="sp-only">
              Nurture the future
            </span>
          </p>
          <h2 class="P_Houjin-kv__text-ja">
            <span>好きが見つかる</span><br>
            <span>未来を育む</span>
          </h2>
        </div>
      </div>
      <div class="L_inner-trim">
        <div class="C_image__houjin-kv"></div>
        <div class="U_cover--shadow"></div>
        <%#-- マウスアイコン --%>
        <div class="C_icon-mouse" id="JS_scroll-change_target">
          <span class="C_icon-mouse__material"></span>
        </div>
        <%#-- スクロールするキャッチコピー(フロント白) --%>
        <div class="P_Houjin-kv__text-container" id="JS_scroll-move_target-1">
          <div class="P_Houjin-kv__front-text">
            <p class="P_Houjin-kv__text-en">
              <span>
                Find the Many Like
                <br class="sp-only">
                Nurture the future
              </span>
            </p>
            <h2 class="P_Houjin-kv__text-ja">
              <span>好きが見つかる</span><br>
              <span>未来を育む</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# 理念
<%# ==================================== %>
<%#-- キャッチコピーセクション --%>
<section class="Philosophy">
  <div class="P_Houjin-philosophy__catch">
    <div class="L_wrap__600">
      <div class="A_isInvisible" id="JS_scroll-move-end_target">
        <p class="P_Houjin-kv__text-en">
          <span>
            Find the Many Like
            <br class="sp-only">
            Nurture the future
          </span>
        </p>
        <h2 class="P_Houjin-kv__text-ja">
          <span>好きが見つかる</span><br>
          <span>未来を育む</span>
        </h2>
      </div>
    </div>
  </div>
  <%#-- リード文 --%>
  <div class="P_Houjin-philosophy__lead">
    <div class="L_wrap__600">
      <p class="P_Houjin-philosophy__text">
        　私たち七彩(なないろ)学舎では、子どもたちの「好き」を大切にしています。子どもの体験は全て「はじめて」です。その「はじめて」が「好き」になれば、たとえその時苦手なことも継続でき、子どもたちの将来の選択肢が広がります。<br>　私たちは、その考えのもと、子どもたちの未来を育んでいます。</p>
      <ul class="P_Houjin-philosophy__link-container">
        <li class="P_Houjin-philosophy__link-item">
          <div class="P_Houjin-philosophy__link-text">
            <div class="P_Houjin-philosophy__border-stretch">
              <p class="P_Houjin-philosophy__link-text-ja">こどもへの願い</p>
            </div>
            <p class="P_Houjin-philosophy__link-text-en">VISION</p>
            <%= link_to "", vision_home_index_path, class:"U_link"%>
          </div>
        </li>
        <li class="P_Houjin-philosophy__link-item">
          <div class="P_Houjin-philosophy__link-text">
            <div class="P_Houjin-philosophy__border-stretch">
              <p class="P_Houjin-philosophy__link-text-ja">私たちのあゆみ</p>
            </div>
            <p class="P_Houjin-philosophy__link-text-en">HISTORY</p>
            <%= link_to "", about_home_index_path, class:"U_link"%>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# 就職と入園希望の案内
<%# ==================================== %>
<section class="Info">
  <div class="P_Info">
    <div class="P_Info__container">
      <%#-- 入園希望 --%>
      <div class="P_Info__image-box" id="JS_scroll-action-0_target-0">
        <div class="P_Info__image" id="JS_scroll-action-0_trigger">
          <div class="C_image__admission"></div>
        </div>
        <div class="U_cover--shadow" id="JS_scroll-action-0_target-1"></div>
        <div class="P_Info__text-box">
          <h1 class="P_Info__text">Admission</h1>
          <h2 class="P_Info__sub-text">入園をお考えの方</h2>
        </div>
        <%#-- シャボン --%>
        <%=render'shared/shabon',{x:4,  y:5,  cl:'P_Info',size:'S' ,time:'2',ptn:'B',dir:'left',js:'JS_scroll-action-0_target-2'}%>
        <%=render'shared/shabon',{x:0,  y:90, cl:'P_Info',size:'M' ,time:'1',ptn:'A',dir:'left',js:'JS_scroll-action-0_target-3'}%>
        <%=render'shared/shabon',{x:46, y:10, cl:'P_Info',size:'SS',time:'1',ptn:'A',dir:'left',js:'JS_scroll-action-0_target-4'}%>
        <%=render'shared/shabon',{x:70, y:38, cl:'P_Info',size:'M' ,time:'2',ptn:'B',dir:'left',js:'JS_scroll-action-0_target-5'}%>
        <%=render'shared/shabon',{x:100,y:100,cl:'P_Info',size:'L' ,time:'3',ptn:'B',dir:'left',js:'JS_scroll-action-0_target-6'}%>
        <%= link_to "", admission_home_index_path, class:"U_link"%>
      </div>
      <%#-- 就職希望 --%>
      <div class="P_Info__image-box" id="JS_scroll-action-1_target-0">
        <div class="P_Info__image" id="JS_scroll-action-1_trigger">
          <div class="C_image__recruit"></div>
        </div>
        <div class="U_cover--shadow" id="JS_scroll-action-1_target-1"></div>
        <div class="P_Info__text-box">
          <h1 class="P_Info__text">Recruiting</h1>
          <h2 class="P_Info__sub-text">就職をご希望の方</h2>
        </div>
        <%#-- シャボン --%>
        <%=render'shared/shabon',{x:4, y:5, cl:'P_Info',size:'SS' ,time:'1',ptn:'A',dir:'left',js:'JS_scroll-action-1_target-2'}%>
        <%=render'shared/shabon',{x:7, y:5, cl:'P_Info',size:'S'  ,time:'2',ptn:'B',dir:'left',js:'JS_scroll-action-1_target-3'}%>
        <%=render'shared/shabon',{x:1, y:55,cl:'P_Info',size:'LL' ,time:'1',ptn:'A',dir:'left',js:'JS_scroll-action-1_target-4'}%>
        <%=render'shared/shabon',{x:80,y:10,cl:'P_Info',size:'SS' ,time:'1',ptn:'A',dir:'left',js:'JS_scroll-action-1_target-5'}%>
        <%=render'shared/shabon',{x:55,y:42,cl:'P_Info',size:'M'  ,time:'2',ptn:'B',dir:'left',js:'JS_scroll-action-1_target-6'}%>
        <%=render'shared/shabon',{x:100,y:100,cl:'P_Info',size:'LLL',time:'3',ptn:'B',dir:'left',js:'JS_scroll-action-1_target-7'}%>
        <%= link_to "", contact_recruits_path, class:"U_link"%>
      </div>
    </div>
  </div>
</section>
<%# ==================================== %>
<%# 施設の紹介
<%# ==================================== %>
<section class="Facilities">
  <div class="P_Facility">
    <div class="P_Facility__container" id="JS_scroll-to-top_trigger-add-0">
      <div class="P_Facility__image-box" id="JS_scroll-action-2_target-0">
        <div class="P_Facility__image" id="JS_scroll-action-2_trigger">
          <div class="C_image__parti"></div>
        </div>
        <div class="U_cover--shadow" id="JS_scroll-action-2_target-1"></div>
        <h1 class="P_Facility__text">Parti</h1>
        <%= link_to "", root_path, class:"U_link"%>
      </div>
      <div class="P_Facility__image-box" id="JS_scroll-action-3_target-0">
        <div class="P_Facility__image" id="JS_scroll-action-3_trigger">
          <div class="C_image__piani"></div>
        </div>
        <div class="U_cover--shadow" id="JS_scroll-action-3_target-1"></div>
        <h1 class="P_Facility__text">Piani</h1>
        <%= link_to "", piani_index_path, class:"U_link"%>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side_bar',{color: ''}%>
<%= render partial: 'shared/footer' %>

<%#-- フォントの確認用 --%>
<div class="L_full A_shabon-ver1A U_hy-30">
  <p class="C_text__font-awesome">あア亜aA「font-family-awesome」</p>
  <p class="C_text__font-code">あア亜aA「font-family-code」</p>
  <p class="C_text__font-base">あア亜aA「font-family-base」</p>
  <p class="C_text__font-hkgw3">あア亜aA「font-family-hkgw3」</p>
  <p class="C_text__font-hkgw6">あア亜aA「font-family-hkgw6」</p>
  <p class="C_text__font-minco">あア亜aA「font-family-minco」</p>
  <p class="C_text__font-gothic">あア亜aA「font-family-gothic」</p>
  <p class="C_text__font-shuei">あア亜aA「font-family-shuei」</p>
  <p class="C_text__font-sub-en">あア亜aA「'Blankid'」:Brankid[parti]</p>
  <p class="C_text__font-DINPro">あア亜aA「'DINPro-Medium';'KozGoPr6N-Regular'」</p>
  <p class="C_text__font-NewBask">あア亜aA「'NewBaskervilleStd-Roman'」</p>
  <p class="C_text__font-logo">あア亜aA「'CastroScript_PERSONAL_USE_ONLY'」：logo</p>
  <p class="C_text__font-Hannari">あア亜aA「'Hannari'」</p>
  <p class="C_text__font-Angelface">あア亜aA「'Angelface'」</p>
  <p class="C_text__font-Bask">あア亜aA「'Baskerville'」</p>
</div>

<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » フィード" href="https://www.dokyoji.or.jp/feed/">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » コメントフィード" href="https://www.dokyoji.or.jp/comments/feed/">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
