<%= render partial: 'layouts/header' %>
<section class="TopImage js_scroll_TopImage_trigger js_scroll_TopImage_height_get">
  <div class="c-image--parallax">
    <div class="l-inner--fullTrimming">
      <%# TODO 仮の写真を正規画像へ%>
      <div class="l-inner--fullTrimming__cover"></div>
      <div class="c-icon-mouse js_scroll_mouse_invisible_target">
          <span class="c-icon-mouse__material"></span>
      </div>
      <div class="c-scroll-change-color-message--white js_scroll_message_move_target js_scroll_message_height_get">
        <h1 class="c-text_L">こどもの<br/>「好き」が見つかる<br/>可能性は無限大</h1>
      </div>
    </div>
    <div class="c-scroll-change-color-message--black js_scroll_message_move_target js_scroll_message_height_get">
        <h1 class="c-text_L">こどもの<br/>「好き」が見つかる<br/>可能性は無限大</h1>
    </div>
  </div>
</section>
<section class="CatchCopy l-hy-90 u-px-15 u-pt-10_pc isClear">
  <div class="l-hy-30 js_scroll_CatchCopy__wrapper-top_height_get"></div>
  <div class="l-hy-25 u-px-25" >
    <h4 class="c-text_M">　わたしたちは、こどもの「好き」を一つでも多く見つけたい。わたしたちは、こどもの「好き」を一つでも多く見つけたい。わたしたちは、こどもの「好き」を一つでも多く見つけたい。わたしたちは、こどもの「好き」を一つでも多く見つけたい。わたしたちは、こどもの「好き」を一つでも多く見つけたい。</h4>
  </div>
  <div class="l-hy-35 l-hy-25_pc l-row--space-around_pc">
    <div class="u-px-10pct">
      <%= link_to root_path, class: 'c-card--border-stretch' do %>
        <h1 class="c-card--border-stretch__text-top">こどもへの願い</h1>
        <p class="c-card--border-stretch__text-bottom">VISION</p>
      <% end %>
    </div>
    <div class="u-px-10pct">
      <%= link_to root_path, class: 'c-card--border-stretch' do %>
        <h1 class="c-card--border-stretch__text-top">私たちのあゆみ</h1>
        <p class="c-card--border-stretch__text-bottom">HISTORY</p>
      <% end %>
    </div>
  </div>
</section>
<section class="PreSchool l-hy-80 u-py-30 u-px-15">
  <div class="l-inner--full l-row--wrap-center">
    <div class="l-inner--radius-double c-image__parti">
      <div class="c-image--thumbnail"></div>
      <%= link_to root_path, class: "c-link-cover" do %>
        <h3 class="c-title">Parti</h3>
      <% end %>
    </div>
    <div class="l-inner--radius-double c-image__piani">
      <div class="c-image--thumbnail"></div>
      <%= link_to root_path, class: "c-link-cover" do %>
        <h3 class="c-title">Parti</h3>
      <% end %>
    </div>
  </div>
</section>

<div class="c-box">
  <p class="c-box__title">Parti</p>
  <p class="c-box__title">aa  Parti</p>
  <p class="c-box__title">Parti</p>
  <p class="c-box__title">Parti</p>
  <p class="c-box__title">Parti</p>
  <p class="c-box__title">Parti</p>
</div>


<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » フィード" href="https://www.dokyoji.or.jp/feed/">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » コメントフィード" href="https://www.dokyoji.or.jp/comments/feed/">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
