<%= render partial: 'shared/header', locals:{header_items: @header_items, header_lists: @header_lists}%>
<section class="KeyVisual">
  <%#-- イメージコンテナー --%>
  <div id="JS_smoothScroll_target-0"></div>
  <div class="P_Pa__kv" id="JS_scroll-to-top_trigger-0">
    <picture>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/parti_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/parti_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/parti_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-kv/parti_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/parti_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/parti_alt.jpg" alt="認定こども園 パルティ道教寺 トップ画像" class="C_image lazyload"/>
    </picture>
    <div id="JS_shabon_target-0" style="width:100%;height:100%;position:absolute;top:0;left:0;"></div>
    <p class="P_Pa__kv__side-text">
      Grow kindness<span class="P_Pa__kv__space">.</span><br>
      and compassion.<br>
      Cherish compassion.
    </p>
    <h1 class="P_Pa__kv__title">Parti</h1>
    <h2 class="P_Pa__kv__sub-title">dokyoji</h2>
    <div class="P_Pa__kv__leaf1">
      <div class="C_deco__parti__leaf1"></div>
    </div>
    <div class="P_Pa__kv__leaf2">
      <div class="C_deco__parti__leaf2"></div>
    </div>
  </div>
</section>
<section class="Thought">
  <div class="P_Pa__thought__wrap">
    <div class="P_Pa__thought__inner-top">
      <div class="P_Pa__thought__inner-left">
        <div class="P_Pa__thought__title-box">
          <h1 class="P_Pa__thought__title-en">Thought</h1>
          <h1 class="P_Pa__thought__title-ja">当園について</h1>
        </div>
        <div class="P_Pa__thought__text-box">
          <p class="P_Pa__thought__text">
            園名である「パルティ道教寺」のパルティは、<br>
            フランス語のPartie（パルティール）<br>
            出発する・始まる・スタートを切るの意味から<br>
            Parti（パルティ）と発音しやすく<br>
            シンプルにしたものです。<br>
            これから始まる輝かしい、<br>
            未来ある子どもたちの<br>
            人生のスタート時点にふさわしい環境を整え、<br>
            集団生活での楽しさと協調性の楽しさを学ぶ<br>
            「人生出発の場」としたく、<br>
            またその責任の重さを日々忘れずに<br>
            子どもたちに接していこうという思いから<br>
            名づけられたものです。
          </p>
          <h2 class="P_Pa__thought__sub-title">
            園名「パルティ」に込められた願い
          </h2>
          <svg class="P_Pa__thought__deco-line pc-only" x="0px" y="0px" width="100%" height="100%">
            <line x1="0%" y1="50%" x2="100%" y2="50%"/>
          </svg>
          <svg class="P_Pa__thought__deco-line ver tab-sp-only" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="0%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pa__thought__deco-text-L tab-sp-only">Parti</div>
          <div class="P_Pa__thought__deco-text-S tab-sp-only">With a wish</div>
        </div>
      </div>
      <div class="P_Pa__thought__img-container" id="JS_scroll-to-top_trigger-add-0">
        <div class="P_Pa__thought__main-img-box">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_large_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_large_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_large_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_large_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_large_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_large_alt.jpg" alt="認定こども園 パルティ道教寺 サブ画像1" class="C_image lazyload"/>
          </picture>
        </div>
        <div class="P_Pa__thought__sp-sub-img-container sp-only">
          <div class="P_Pa__thought__sub-img-box">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_alt.jpg" alt="認定こども園 パルティ道教寺 サブ画像2" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_Pa__thought__sub-img-box">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_alt.jpg" alt="認定こども園 パルティ道教寺 サブ画像3" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_Pa__thought__sub-img-box">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_alt.jpg" alt="認定こども園 パルティ道教寺 サブ画像4" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
        <div id="JS_shabon_target-1" style="width:100%;height:100%;position:absolute;top:0;left:0;"></div>
      </div>
    </div>
    <div class="P_Pa__thought__sub-img-container pc-tab-only">
      <div class="P_Pa__thought__sub-img-box">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_0_alt.jpg" alt="認定こども園 パルティ道教寺 サブ画像2" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_Pa__thought__sub-img-box">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_1_alt.jpg" alt="認定こども園 パルティ道教寺 サブ画像3" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_Pa__thought__sub-img-box">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/parti_small_2_alt.jpg" alt="認定こども園 パルティ道教寺 サブ画像4" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_Pa__thought__deco-text-container pc-only">
        <div class="P_Pa__thought__deco-text-L_pc pc-only">Parti</div>
        <div class="P_Pa__thought__deco-text-S_pc pc-only">With a wish</div>
      </div>
    </div>
  </div>
</section>
<div class="P_Pa__section__wrap">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1500 50" preserveAspectRatio="none" class="P_Pa__section__wave">
    <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
  </svg>
</div>
<section class="myFeatures">
</div>
  <div class="P_Pa__features__wrap">
    <p class="P_Pa__features__title-en">My Features</p>
    <p class="P_Pa__features__title-ja">園の特徴</p>
    <div class="P_Pa__features__inner">
      <div class="P_Pa__features__img-box sp-top" id="JS_scroll-action-0_target-0">
        <div id="JS_scroll-action-0_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_play_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_play_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_play_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/parti_play_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_play_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_play_alt.jpg" alt="特色(遊び)バナー画像" class="C_image lazyload"/>
          </picture>
        <div class="P_Pa__features__sub-title-ja">遊び・学び</div>
        <div class="P_Pa__features__sub-title-en">PLAY・LEARN</div>
        <%= link_to "", features_parti_index_path(:anchor => "play"), class:"U_link"%>
      </div>
      <div class="P_Pa__features__img-box space-left space-top" id="JS_scroll-action-1_target-0">
        <div id="JS_scroll-action-1_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_courtesy_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_courtesy_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_courtesy_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/parti_courtesy_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_courtesy_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_courtesy_alt.jpg" alt="特色(礼儀)バナー画像" class="C_image lazyload"/>
          </picture>
        <div class="P_Pa__features__sub-title-ja">礼儀</div>
        <div class="P_Pa__features__sub-title-en">COURTESY</div>
        <%= link_to "", features_parti_index_path(:anchor => "courtesy"), class:"U_link"%>
      </div>
    </div>
    <div class="P_Pa__features__inner">
      <div class="P_Pa__features__img-box" id="JS_scroll-action-2_target-0">
        <div id="JS_scroll-action-2_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_environment_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_environment_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_environment_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/parti_environment_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_environment_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_environment_alt.jpg" alt="特色(環境)バナー画像" class="C_image lazyload"/>
          </picture>
        <div class="P_Pa__features__sub-title-ja">環境</div>
        <div class="P_Pa__features__sub-title-en">ENVIRONMENT</div>
        <%= link_to "", features_parti_index_path(:anchor => "environment"), class:"U_link"%>
      </div>
      <div class="P_Pa__features__img-box space-left space-top" id="JS_scroll-action-3_target-0">
        <div id="JS_scroll-action-3_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_expression_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_expression_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_expression_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/parti_expression_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_expression_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_expression_alt.jpg" alt="特色(表現)バナー画像" class="C_image lazyload"/>
          </picture>
        <div class="P_Pa__features__sub-title-ja">表現</div>
        <div class="P_Pa__features__sub-title-en">EXPRESSION</div>
        <%= link_to "", features_parti_index_path(:anchor => "expression"), class:"U_link"%>
      </div>
      <div class="P_Pa__features__img-box space-left space-top2 pc-only">
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_alt.jpg" alt="特色(一緒に)バナー画像" class="C_image lazyload"/>
          </picture>
        <div class="P_Pa__features__sub-title-ja">一緒に</div>
        <div class="P_Pa__features__sub-title-en">TOGETHER</div>
        <%= link_to "", features_parti_index_path(:anchor => "together"), class:"U_link"%>
      </div>
    </div>
    <div class="P_Pa__features__inner">
      <div class="P_Pa__features__img-box tab-sp-only" id="JS_scroll-action-4_target-0">
        <div id="JS_scroll-action-4_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/parti_together_alt.jpg" alt="特色(一緒に)バナー画像" class="C_image lazyload"/>
          </picture>
        <div class="P_Pa__features__sub-title-ja">一緒に</div>
        <div class="P_Pa__features__sub-title-en">TOGETHER</div>
        <%= link_to "", features_parti_index_path(:anchor => "together"), class:"U_link"%>
      </div>
    </div>
  </div>
</section>
<%= render partial: 'shared/index', locals:{links: @links, slider_items: @slider_items, name_items: @name_items}%>
<%= render partial: 'shared/footer', locals:{footer_item: @footer_item, footer_lists: @footer_lists, footer_texts: @footer_texts, side_bar: false }%>
