<%= render partial: 'shared/header', locals:{header_items: @header_items, header_lists: @header_lists}%>
<section class="KeyVisual">
  <%#-- イメージコンテナー --%>
  <div id="JS_smoothScroll_target-0"></div>
  <div class="P_Pa__kv" id="JS_scroll-to-top_trigger-0">
    <div class="C_image__top-kv__parti"></div>
    <div id="JS_shabon_target-0" style="width:100%;height:100%;position:absolute;top:0;left:0;"></div>
    <p class="P_Pa__kv__side-text">
      Grow kindness<span class="P_Pa__kv__space">.</span><br>
      and compassion.<br>
      Cherish compassion.
    </p>
    <h1 class="P_Pa__kv__title">Parti</h1>
    <h2 class="P_Pa__kv__sub-title">dokyoji</h2>
    <div class="P_Pa__kv__leaf1">
      <div class="C_deco__leaf1"></div>
    </div>
    <div class="P_Pa__kv__leaf2">
      <div class="C_deco__leaf2"></div>
    </div>
  </div>
</section>
<section class="Thought">
  <div class="P_Pa__thought__wrap">
    <div class="P_Pa__thought__inner-top">
      <div class="P_Pa__thought__inner-left">
        <div class="P_Pa__thought__title-box">
          <h1 class="P_Pa__thought__title-en">Thought</h1>
          <h1 class="P_Pa__thought__title-ja">当園について</h1>
        </div>
        <div class="P_Pa__thought__text-box">
          <p class="P_Pa__thought__text">
            園名である「パルティ道教寺」のパルティは、<br>
            フランス語のPartie（パルティール）<br>
            出発する・始まる・スタートを切るの意味から<br>
            Parti（パルティ）と発音しやすく<br>
            シンプルにしたものです。<br>
            これから始まる輝かしい、<br>
            未来ある子どもたちの<br>
            人生のスタート時点にふさわしい環境を整え、<br>
            集団生活での楽しさと協調性の楽しさを学ぶ<br>
            「人生出発の場」としたく、<br>
            またその責任の重さを日々忘れずに<br>
            子どもたちに接していこうという思いから<br>
            名づけられたものです。
          </p>
          <h2 class="P_Pa__thought__sub-title">
            園名「パルティ」に込められた願い
          </h2>
          <svg class="P_Pa__thought__deco-line pc-only" x="0px" y="0px" width="100%" height="100%">
            <line x1="0%" y1="50%" x2="100%" y2="50%"/>
          </svg>
          <svg class="P_Pa__thought__deco-line ver tab-sp-only" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="0%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pa__thought__deco-text-L tab-sp-only">Parti</div>
          <div class="P_Pa__thought__deco-text-S tab-sp-only">With a wish</div>
        </div>
      </div>
      <div class="P_Pa__thought__img-container" id="JS_scroll-to-top_trigger-add-0">
        <div class="P_Pa__thought__main-img-box">
          <div class="C_image__top-sub__parti__large"></div>
        </div>
        <div class="P_Pa__thought__sp-sub-img-container sp-only">
          <div class="P_Pa__thought__sub-img-box">
            <div class="C_image__top-sub__parti__small_0"></div>
          </div>
          <div class="P_Pa__thought__sub-img-box">
            <div class="C_image__top-sub__parti__small_1"></div>
          </div>
          <div class="P_Pa__thought__sub-img-box">
            <div class="C_image__top-sub__parti__small_2"></div>
          </div>
        </div>
        <div id="JS_shabon_target-1" style="width:100%;height:100%;position:absolute;top:0;left:0;"></div>
      </div>
    </div>
    <div class="P_Pa__thought__sub-img-container pc-tab-only">
      <div class="P_Pa__thought__sub-img-box">
        <div class="C_image__top-sub__parti__small_0"></div>
      </div>
      <div class="P_Pa__thought__sub-img-box">
        <div class="C_image__top-sub__parti__small_1"></div>
      </div>
      <div class="P_Pa__thought__sub-img-box">
        <div class="C_image__top-sub__parti__small_2"></div>
      </div>
      <div class="P_Pa__thought__deco-text-container pc-only">
        <div class="P_Pa__thought__deco-text-L_pc pc-only">Parti</div>
        <div class="P_Pa__thought__deco-text-S_pc pc-only">With a wish</div>
      </div>
    </div>
  </div>
</section>
<div class="P_Pa__section__wrap">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1500 50" preserveAspectRatio="none" class="P_Pa__section__wave">
    <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
  </svg>
</div>
<section class="myFeatures">
</div>
  <div class="P_Pa__features__wrap">
    <p class="P_Pa__features__title-en">My Features</p>
    <p class="P_Pa__features__title-ja">園の特徴</p>
    <div class="P_Pa__features__inner">
      <div class="P_Pa__features__img-box sp-top" id="JS_scroll-action-0_target-0">
        <div id="JS_scroll-action-0_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
        <div class="C_image__features__parti__play"></div>
        <div class="P_Pa__features__sub-title-ja">遊び・学び</div>
        <div class="P_Pa__features__sub-title-en">PLAY・LEARN</div>
        <%= link_to "", features_parti_index_path(:anchor => "play"), class:"U_link"%>
      </div>
      <div class="P_Pa__features__img-box space-left space-top" id="JS_scroll-action-1_target-0">
        <div id="JS_scroll-action-1_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
        <div class="C_image__features__parti__courtesy"></div>
        <div class="P_Pa__features__sub-title-ja">礼儀</div>
        <div class="P_Pa__features__sub-title-en">COURTESY</div>
        <%= link_to "", features_parti_index_path(:anchor => "courtesy"), class:"U_link"%>
      </div>
    </div>
    <div class="P_Pa__features__inner">
      <div class="P_Pa__features__img-box" id="JS_scroll-action-2_target-0">
        <div id="JS_scroll-action-2_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
        <div class="C_image__features__parti__environment"></div>
        <div class="P_Pa__features__sub-title-ja">環境</div>
        <div class="P_Pa__features__sub-title-en">ENVIRONMENT</div>
        <%= link_to "", features_parti_index_path(:anchor => "environment"), class:"U_link"%>
      </div>
      <div class="P_Pa__features__img-box space-left space-top" id="JS_scroll-action-3_target-0">
        <div id="JS_scroll-action-3_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
        <div class="C_image__features__parti__expression"></div>
        <div class="P_Pa__features__sub-title-ja">表現</div>
        <div class="P_Pa__features__sub-title-en">EXPRESSION</div>
        <%= link_to "", features_parti_index_path(:anchor => "expression"), class:"U_link"%>
      </div>
      <div class="P_Pa__features__img-box space-left space-top2 pc-only">
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
        <div class="C_image__features__parti__together"></div>
        <div class="P_Pa__features__sub-title-ja">一緒に</div>
        <div class="P_Pa__features__sub-title-en">TOGETHER</div>
        <%= link_to "", features_parti_index_path(:anchor => "together"), class:"U_link"%>
      </div>
    </div>
    <div class="P_Pa__features__inner">
      <div class="P_Pa__features__img-box tab-sp-only" id="JS_scroll-action-4_target-0">
        <div id="JS_scroll-action-4_trigger" class="P_Pa__features__triggers"></div>
        <div class="P_Pa__features__side-border-left"></div>
        <div class="P_Pa__features__side-border-right"></div>
        <div class="C_image__features__parti__together"></div>
        <div class="P_Pa__features__sub-title-ja">一緒に</div>
        <div class="P_Pa__features__sub-title-en">TOGETHER</div>
      </div>
    </div>
  </div>
</section>
<section class="Contents">
  <ul class="P_Pa__contents__wrap">
    <li class="P_Pa__contents__item-box">
      <div class="P_Pa__contents__number pc-tab-only">1.</div>
      <div id="JS_scroll-action-5_trigger">
        <div class="P_Pa__contents__img-box" id="JS_scroll-action-5_target-0">
          <div class="C_image__about__banner"></div>
          <h1 class="P_Pa__contents__title-en">ABOUT</h1>
          <svg class="P_Pa__contents__deco-line" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pa__contents__title-box">
            <h1 class="P_Pa__contents__title-ja">当園について</h1>
          </div>
          <%= link_to "", about_parti_index_path, class:"U_link"%>
        </div>
      </div>
      <div class="P_Pa__contents__text-box">
        <p class="P_Pa__contents__text">
          園名「パルティ」に込められた思い
        </p>
      </div>
    </li>
    <li class="P_Pa__contents__item-box">
      <div class="P_Pa__contents__number pc-tab-only">2.</div>
      <div id="JS_scroll-action-6_trigger">
        <div class="P_Pa__contents__img-box" id="JS_scroll-action-6_target-0">
          <div class="C_image__event__banner"></div>
          <h1 class="P_Pa__contents__title-en">EVENT</h1>
          <svg class="P_Pa__contents__deco-line" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pa__contents__title-box">
            <h1 class="P_Pa__contents__title-ja">年間行事</h1>
          </div>
          <%= link_to "", event_parti_index_path, class:"U_link"%>
        </div>
      </div>
      <div class="P_Pa__contents__text-box">
        <p class="P_Pa__contents__text">
          遠足や運動会のほかに、<br>
          日本文化を楽しむ行事が満載
        </p>
      </div>
    </li>
    <li class="P_Pa__contents__item-box">
      <div class="P_Pa__contents__number pc-tab-only">3.</div>
      <div id="JS_scroll-action-7_trigger">
        <div class="P_Pa__contents__img-box" id="JS_scroll-action-7_target-0">
          <div class="C_image__eat-education__banner"></div>
          <h1 class="P_Pa__contents__title-en">FOOD<br>EDUCATION</h1>
          <svg class="P_Pa__contents__deco-line" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pa__contents__title-box">
            <h1 class="P_Pa__contents__title-ja">食育</h1>
          </div>
          <%= link_to "", eat_education_parti_index_path, class:"U_link"%>
        </div>
      </div>
      <div class="P_Pa__contents__text-box">
        <p class="P_Pa__contents__text">
          毎日の「おいしいね」を大切に
        </p>
      </div>
    </li>
    <li class="P_Pa__contents__item-box">
      <div class="P_Pa__contents__number pc-tab-only">4.</div>
      <div id="JS_scroll-action-8_trigger">
        <div class="P_Pa__contents__img-box" id="JS_scroll-action-8_target-0">
          <div class="C_image__philosophy__banner"></div>
          <h1 class="P_Pa__contents__title-en">PHILOSOPHY</h1>
          <svg class="P_Pa__contents__deco-line" x="0px" y="0px" width="100%" height="100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pa__contents__title-box">
          <h1 class="P_Pa__contents__title-ja">理念</h1>
          </div>
          <%= link_to "", vision_parti_index_path, class:"U_link"%>
        </div>
      </div>
      <div class="P_Pa__contents__text-box">
        <p class="P_Pa__contents__text">
          「友・遊・優」大事にしたい3つの心
        </p>
      </div>
    </li>
  </ul>
</section>
<div class="P_Pa__section__wrap">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1500 50" preserveAspectRatio="none" class="P_Pa__section__wave-reverse">
    <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
  </svg>
</div>
<section class="photoGallery" id="JS_scroll-to-top_trigger-1">
  <div class="P_Pa__photo-gallery__wrap">
    <svg class="pc-only" width="100%" height="100%" viewBox="0 0 1500 700" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
            <path d="M-123.273,482.486C-78.046,413.042 -27.143,342.926 37.823,290.466C145.174,203.78 287.13,163.849 423.524,161.249C438.355,160.966 453.197,161.235 468.02,161.769C522.456,163.733 580.32,172.459 628.892,198.515C671.824,221.544 705.664,258.748 714.193,307.855C717.432,326.5 717.922,341.314 716.032,360.14C707.937,440.816 620.305,481.59 547.093,473.583C493.436,467.715 446.702,435.466 423.445,386.255C416.369,371.283 410.63,353.922 410.711,337.069C410.888,300.651 421.081,266.151 438.805,234.408C476.496,166.905 549.689,134.516 620.812,113.065C714.295,84.87 815.758,79.418 911.216,101.04C952.829,110.466 991.569,127.917 1030.3,145.431C1070.05,163.408 1107.8,186.253 1141.25,214.337" style="fill:none;stroke:white;stroke-width:117.52px;"/>
        </g>
    </svg>
    <svg class="tab-only" width="100%" height="100%" viewBox="0 0 1025 700" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
            <path d="M-119.37,528.882C56.257,160.08 331.977,240.111 398.927,335.437C457.469,418.791 391.121,515.514 313.845,507.65C238.963,500.03 218.419,424.708 227.202,373.182C240.471,295.332 294.331,148.283 557.382,153.787C642.535,155.569 732.229,177.378 800.138,240.287" style="fill:none;stroke:white;stroke-width:100px;"/>
        </g>
    </svg>
    <svg class="sp-only" width="100%" height="100%" viewBox="0 0 600 700" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
            <path d="M-118.589,437.664C-66.291,123.906 192.814,226.893 263.108,299.264C334.14,372.396 290.428,478.555 212.371,491.923C146.799,503.153 82.016,452.605 77.333,377.9C69.671,255.689 156.17,106.606 274.816,95.597C346.596,88.936 412.196,108.965 440.297,173.446" style="fill:none;stroke:white;stroke-width:100px;"/>
        </g>
    </svg>

    <h1 class="P_Pa__photo-gallery__title">Photo Gallery</h1>
    <div class="P_Pa__photo-gallery__deco-container pc-tab-only">
      <div class="P_Pa__photo-gallery__deco-box left"></div>
      <div class="P_Pa__photo-gallery__deco-box-text left">PLAY</div>
      <div class="P_Pa__photo-gallery__deco-box right"></div>
      <div class="P_Pa__photo-gallery__deco-box-text right">LEARN</div>
    </div>
    <div class="P_Pa__photo-gallery__img-slider">
      <ul class="P_Pa__photo-gallery__slide-group">
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_0"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_1"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_2"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_3"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_4"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_5"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
      </ul>
      <ul class="P_Pa__photo-gallery__slide-group">
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_0"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_1"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_2"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_3"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_4"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pa__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_5"></div>
          <%= link_to "", photo_gallery_parti_index_path, class:"U_link circle"%>
        </li>
      </ul>
    </div>
    <div class="P_Pa__photo-gallery__btn">
      <div class="P_Pa__photo-gallery__btn-text">VIEW MORE</div>
      <%= link_to "", photo_gallery_parti_index_path, class:"U_link"%>
    </div>
  </div>
</section>
<div class="P_Pa__section__wrap">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1500 50" preserveAspectRatio="none" class="P_Pa__section__wave">
    <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
  </svg>
</div>
<section class="Nav">
  <div class="P_Pa__nav__wrap">
    <div class="P_Pa__nav__top-wrap">
      <div class="P_Pa__nav__belong-box" id="JS_scroll-action-9_trigger">
        <div class="P_Pa__nav__rain">
          <div class="C_deco__rain"></div>
        </div>
        <div class="P_Pa__nav__title-box left">
          <div class="P_Pa__nav__title-ja">在園の方へ
            <svg class="P_Pa__nav__deco-under-line" width="110" height="12" id="JS_scroll-action-9_target-0">
              <polyline points="1,10 95,10 90,5" fill="transparent"/>
            </svg>
          </div>
          <div class="P_Pa__nav__read">READ MORE</div>
          <%= link_to "",  belong_parti_index_path, class:"U_link"%>
        </div>
        <div class="P_Pa__nav__img-box">
          <div class="P_Pa__nav__trim-img">
            <div class="C_image__belong__banner"></div>
          </div>
          <div class="P_Pa__nav__deco-top-left"></div>
          <div class="P_Pa__nav__deco-top-right"></div>
          <div class="P_Pa__nav__deco-bottom-left"></div>
          <div class="P_Pa__nav__deco-bottom-right"></div>
        </div>
      </div>
      <svg class="P_Pa__nav__deco-line-ver pc-tab-only" x="0px" y="0px" width="1px" height="120%">
        <line x1="0" y1="0.5" x2="1" y2="100%"/>
      </svg>
      <div class="P_Pa__nav__admission-box" id="JS_scroll-action-10_trigger">
        <div class="P_Pa__nav__birds">
          <div class="C_deco__birds"></div>
        </div>
        <div class="P_Pa__nav__title-box right">
          <div class="P_Pa__nav__title-ja">入園希望の方へ
            <svg class="P_Pa__nav__deco-under-line right" width="110" height="12" id="JS_scroll-action-10_target-0">
              <polyline points="1,10 95,10 90,5" fill="transparent"/>
            </svg>
          </div>
          <div class="P_Pa__nav__read">READ MORE</div>
          <%= link_to "",  admission_parti_index_path, class:"U_link"%>
        </div>
        <div class="P_Pa__nav__img-box admission">
          <div class="P_Pa__nav__trim-img">
            <div class="C_image__admission__banner"></div>
          </div>
          <div class="P_Pa__nav__deco-top-left"></div>
          <div class="P_Pa__nav__deco-top-right"></div>
          <div class="P_Pa__nav__deco-bottom-left"></div>
          <div class="P_Pa__nav__deco-bottom-right"></div>
        </div>
      </div>
    </div>
    <div class="P_Pa__nav__under-wrap">
      <div class="P_Pa__nav__access-title-box" id="JS_scroll-action-11_target-0">
        <div id="JS_scroll-action-11_trigger" style="height:100%;">
          <div class="P_Pa__nav__under-title-en">ACCESS</div>
          <div class="P_Pa__nav__under-title-ja">アクセス</div>
          <%= link_to "", about_parti_index_path(:anchor => "access"), class:"U_link"%>
        </div>
      </div>
      <div class="P_Pa__nav__map-title-box" id="JS_scroll-action-12_target-0">
        <div id="JS_scroll-action-12_trigger" style="height:100%;">
          <div class="P_Pa__nav__under-title-en">MAP</div>
          <div class="P_Pa__nav__under-title-ja">マップ</div>
          <%= link_to "", about_parti_index_path(:anchor => "map"), class:"U_link"%>
        </div>
      </div>
      <div class="P_Pa__nav__info-title-box" id="JS_scroll-action-13_target-0">
        <div id="JS_scroll-action-13_trigger" style="height:100%;">
          <div class="P_Pa__nav__under-title-en">INFOMATION</div>
          <div class="P_Pa__nav__under-title-ja">インフォメーション</div>
          <%= link_to "", about_parti_index_path(:anchor => "map"), class:"U_link"%>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Recruit"  id="JS_scroll-to-top_trigger-2">
  <div id="JS_scroll-action-14_trigger">
    <div class="P_Pa__recruit">
      <svg class="P_Pa__recruit__deco-line" x="0px" y="0px" width="100%" height="100%">
        <line class="P_Pa__recruit__deco-line-1" x1="0" y1="2%" x2="100%" y2="2%"/>
        <line class="P_Pa__recruit__deco-line-2" x1="0" y1="4%" x2="100%" y2="4%"/>
        <line class="P_Pa__recruit__deco-line-1" x1="0" y1="6%" x2="100%" y2="6%"/>
        <line class="P_Pa__recruit__deco-line-1" x1="0" y1="94%" x2="100%" y2="94%"/>
        <line class="P_Pa__recruit__deco-line-2" x1="0" y1="96%" x2="100%" y2="96%"/>
        <line class="P_Pa__recruit__deco-line-1" x1="0" y1="98%" x2="100%" y2="98%"/>
      </svg>
      <div class="P_Pa__recruit__back left"></div>
      <div class="P_Pa__recruit__back right"></div>
      <div class="P_Pa__recruit__title-ja">就職希望の方へ</div>
      <div class="P_Pa__recruit__title-en">RECRUITING</div>
      <div class="P_Pa__recruit__sub-title-en">Let's work together!</div>
      <div class="P_Pa__recruit__read">
        READ MORE
        <svg class="P_Pa__recruit__deco-line-read" x="0px" y="0px" width="250" height="110">
          <polyline class="P_Pa__recruit__deco-line-read-1" points="200,50 200,1 1,1 1,60" fill="transparent" id="JS_scroll-action-14_target-0"/>
          <polyline class="P_Pa__recruit__deco-line-read-2" points="1,60 220,60 220,55 230,60 220,65 220,60" fill="transparent" id="JS_scroll-action-14_target-1"/>
        </svg>
        <%= link_to "", recruit_parti_index_path, class:"U_link"%>
      </div>
      <div class="P_Pa__recruit__text pc-only">
        子ども達を中心として<br>
        子ども達の未来を考えてゆく<br>
        仲間を探しています。
        <svg class="P_Pa__recruit__deco-line-ver pc-tab-only" x="0px" y="0px" width="170%" height="120%">
          <path fill="none" d="M 10,3 Q 20,13 10, 23 t 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20" />
          <path fill="none" d="M 180,3 Q 190,13 180, 23 t 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20" />
        </svg>
      </div>
      <div class="P_Pa__recruit__img-frame-M pc-only">
        <div class="P_Pa__recruit__img-box-M">
          <div class="C_image__recruit__photo-main"></div>
        </div>
      </div>
      <div class="P_Pa__recruit__img-frame-S pc-only">
        <div class="P_Pa__recruit__img-box-S">
          <div class="C_image__recruit__photo-sub"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Others">
  <div class="P_Pa__others__wrap">
    <div class="P_Pa__others__inner left">
      <div class="P_Pa__others__title-en">SUPPORT</div>
      <div id="JS_scroll-action-15_trigger">
        <div class="P_Pa__others__img-frame">
          <div class="P_Pa__others__img-box" id="JS_scroll-action-15_target-0">
            <div class="C_image__support__banner"></div>
            <div class="P_Pa__others__title-ja">子育て支援</div>
            <%= link_to "", support_parti_index_path, class:"U_link"%>
          </div>
        </div>
      </div>
    </div>
    <div class="P_Pa__others__inner right">
      <div class="P_Pa__others__title-en">PREPARATION</div>
      <div id="JS_scroll-action-16_trigger">
        <div class="P_Pa__others__img-frame">
          <div class="P_Pa__others__img-box" id="JS_scroll-action-16_target-0">
            <div class="C_image__for-admission__banner"></div>
            <div class="P_Pa__others__title-ja">入園に向けて</div>
            <%= link_to "", for_admission_parti_index_path, class:"U_link"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
<%= render partial: 'shared/footer', locals:{footer_item: @footer_item, footer_lists: @footer_lists, footer_texts: @footer_texts, side_bar: false }%>
