<%= render partial: 'shared/header', locals:{header_items: @header_items, header_lists: @header_lists}%>
<section class="KeyVisual">
  <div class="P_Nanairo-kv" id="JS_smoothScroll_target-0">
    <div class="L_kv" id="JS_scroll-to-top_trigger-0">
      <div class="P_Nanairo-kv__text-container" id="JS_scroll-move_target-0">
        <div class="P_Nanairo-kv__back-text">
          <p class="P_Nanairo-kv__text-en">
            <span>
              Find the Many Like
              <br class="sp-only">
              Nurture the future
            </span>
          </p>
          <h2 class="P_Nanairo-kv__text-ja">
            <span>好きが見つかる</span><br>
            <span>未来を育む</span>
          </h2>
        </div>
      </div>
      <div class="L_inner-trim">
        <div class="C_image__top-kv__nanairo"></div>
        <div class="U_cover--shadow"></div>
        <div class="P_Nanairo-kv__mouse">
          <div class="C_icon-mouse" id="JS_scroll-change_target">
            <span class="C_icon-mouse__material"></span>
          </div>
        </div>
        <div class="P_Nanairo-kv__text-container" id="JS_scroll-move_target-1">
          <div class="P_Nanairo-kv__front-text">
            <p class="P_Nanairo-kv__text-en">
              <span>
                Find the Many Like
                <br class="sp-only">
                Nurture the future
              </span>
            </p>
            <h2 class="P_Nanairo-kv__text-ja">
              <span>好きが見つかる</span><br>
              <span>未来を育む</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="L_back-para">
  <div class="C_box__side-bar-inner pc-tab-only"></div>
  <section class="P_Nanairo-philosophy">
    <div class="P_Nanairo-philosophy__catch">
      <div id="JS_scroll-move-end_target">
        <p class="P_Nanairo-kv__text-en">
          <span>
            Find the Many Like
            <br class="sp-only">
            Nurture the future
          </span>
        </p>
        <h2 class="P_Nanairo-kv__text-ja">
          <span>好きが見つかる</span><br>
          <span>未来を育む</span>
        </h2>
      </div>
    </div>
    <div class="P_Nanairo-philosophy__lead">
      <p class="P_Nanairo-philosophy__text">
        私たち七彩(なないろ)学舎では、子どもたちの「好き」を大切にしています。子どもの体験は全て「はじめて」です。その「はじめて」が「好き」になれば、たとえその時苦手なことも継続でき、子どもたちの将来の選択肢が広がります。<br>私たちは、その考えのもと、子どもたちの未来を育んでいます。</p>
      <ul class="P_Nanairo-philosophy__link-container">
        <li class="P_Nanairo-philosophy__link-item">
          <div class="P_Nanairo-philosophy__link-text">
            <div class="P_Nanairo-philosophy__border-stretch">
              <p class="P_Nanairo-philosophy__link-text-ja">こどもへの願い</p>
            </div>
            <p class="P_Nanairo-philosophy__link-text-en">VISION</p>
            <%= link_to "", vision_nanairo_index_path, class:"U_link"%>
          </div>
        </li>
        <li class="P_Nanairo-philosophy__link-item">
          <div class="P_Nanairo-philosophy__link-text">
            <div class="P_Nanairo-philosophy__border-stretch">
              <p class="P_Nanairo-philosophy__link-text-ja">私たちのあゆみ</p>
            </div>
            <p class="P_Nanairo-philosophy__link-text-en">HISTORY</p>
            <%= link_to "", about_nanairo_index_path, class:"U_link"%>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="P_Info">
    <div class="P_Info__container">
      <div class="P_Info__image-box" id="JS_scroll-action-0_target-0">
        <div class="P_Info__image" id="JS_scroll-action-0_trigger">
          <div class="C_image__admission__nanairo__banner"></div>
        </div>
        <div class="U_cover--shadow" id="JS_scroll-action-0_target-1"></div>
        <div class="P_Info__text-box">
          <h1 class="P_Info__text">Admission</h1>
          <h2 class="P_Info__sub-text">入園をお考えの方</h2>
        </div>
        <div id="JS_shabon_target-0" style="width:100%;height:100%;position:absolute;top:0;left:0;"></div>
        <%= link_to "", admission_nanairo_index_path, class:"U_link"%>
      </div>
      <div class="P_Info__image-box last" id="JS_scroll-action-1_target-0">
        <div class="P_Info__image" id="JS_scroll-action-1_trigger">
          <div class="C_image__recruit__banner"></div>
        </div>
        <div class="U_cover--shadow" id="JS_scroll-action-1_target-1"></div>
        <div class="P_Info__text-box">
          <h1 class="P_Info__text">Recruiting</h1>
          <h2 class="P_Info__sub-text">就職をご希望の方</h2>
        </div>
        <div id="JS_shabon_target-1" style="width:100%;height:100%;position:absolute;top:0;left:0;"></div>
        <%= link_to "", recruit_nanairo_index_path, class:"U_link"%>
      </div>
    </div>
  </section>
  <section class="Facilities">
    <div class="P_Facility">
      <div class="P_Facility__container" id="JS_scroll-to-top_trigger-add-0">
        <div class="P_Facility__image-box" id="JS_scroll-action-2_target-0">
          <div class="P_Facility__image" id="JS_scroll-action-2_trigger">
            <div class="C_image__facility__parti"></div>
          </div>
          <div class="U_cover--shadow" id="JS_scroll-action-2_target-1"></div>
          <h1 class="P_Facility__text">Parti</h1>
          <%= link_to "", parti_index_path, class:"U_link"%>
        </div>
        <div class="P_Facility__image-box" id="JS_scroll-action-3_target-0">
          <div class="P_Facility__image" id="JS_scroll-action-3_trigger">
            <div class="C_image__facility__piani"></div>
          </div>
          <div class="U_cover--shadow" id="JS_scroll-action-3_target-1"></div>
          <h1 class="P_Facility__text">Piani</h1>
          <%= link_to "", piani_index_path, class:"U_link"%>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render partial: 'shared/side-bar',locals:{color: ''}%>
<%= render partial: 'shared/footer', locals:{footer_item: @footer_item, footer_lists: @footer_lists, footer_texts: @footer_texts, side_bar: true }%>
