<%= render partial: 'shared/header', locals:{header_items: @header_items, header_lists: @header_lists}%>
<section class="KeyVisual">
  <%#-- イメージコンテナー --%>
  <div id="JS_smoothScroll_target-0"></div>
  <div class="P_Pi__kv" id="JS_scroll-to-top_trigger-0">
    <picture>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/piani_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/piani_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
      <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/piani_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-kv/piani_sp2.webp 2x" type="image/webp" class="C_image"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/piani_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-kv/piani_alt.jpg" alt="認定こども園 ピアニィ道教寺 トップ画像" class="C_image lazyload"/>
    </picture>
    <div class="P_Pi__kv__cloud_0">
      <div class="C_deco__piani__cloud_0"></div>
    </div>
    <div class="P_Pi__kv__cloud_1">
      <div class="C_deco__piani__cloud_1"></div>
    </div>
    <div class="P_Pi__kv__cloud_2">
      <div class="C_deco__piani__cloud_2"></div>
    </div>
    <div class="P_Pi__kv__deco__bottom-right">
      <div class="C_deco__piani__deco__bottom-right"></div>
    </div>
    <div class="P_Pi__kv__deco__left">
      <div class="C_deco__piani__deco__left"></div>
    </div>
    <div class="P_Pi__kv__deco__top-right">
      <div class="C_deco__piani__deco__top-right"></div>
    </div>
    <p class="P_Pi__kv__side-text">
      Grow kindness<br>
      and compassion.<br>
      Cherish compassion.
    </p>
    <h1 class="P_Pi__kv__title">Piani</h1>
    <h2 class="P_Pi__kv__sub-title">dokyoji</h2>
  </div>
</section>
<section class="Thought">
  <div class="P_Pi__thought__wrap">
    <div class="P_Pi__thought__inner-left">
      <div class="P_Pi__thought__title-box">
        <h1 class="P_Pi__thought__title-en">THOUGHT</h1>
        <div class="P_Pi__thought__deco-line-ver"></div>
        <h1 class="P_Pi__thought__title-ja">当園について</h1>
      </div>
      <h2 class="P_Pi__thought__sub-title pc-tab-only">
        園名「ピアニィ」に込められた願い
      </h2>
      <h2 class="P_Pi__thought__sub-title sp-only">
        「ピアニィ」に込められた願い
      </h2>
      <p class="P_Pi__thought__text">
        ピアニィとは<br class="sp-only">
        「小さい」「かわいい」を意味します。<br>
        音楽の楽譜などで見るmp（メゾピアノ）やpp（ピアニシモ）という記号のpと同じです。<br>
        この名前には、ひとり一人の子ども達が音符のように大事な音を奏で、<br class="pc-tab-only">
        ひとり一人が無くてはならない存在であり、ちがう音符を互いに大切にすることで<br class="pc-tab-only">
        素晴らしいメロディ・ハーモニーになるとの思いが込められています。<br>
        子ども達ひとり一人が自分を音で表現し、その音を暖かく大切に見守り、<br class="pc-tab-only">
        そして子ども達が互いの音を認めあえる園でありたいという思いが込められています。
      </p>
      <div class="P_Pi__thought__sp-img-container tab-sp-only">
        <div class="P_Pi__thought__sp-main-img-box">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_alt.jpg" alt="認定こども園 ピアニィ道教寺 サブ画像1" class="C_image lazyload"/>
          </picture>
        </div>
        <div class="P_Pi__thought__sp-sub-img-container">
          <div class="P_Pi__thought__sp-sub-img-box">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_alt.jpg" alt="認定こども園 ピアニィ道教寺 サブ画像2" class="C_image lazyload"/>
            </picture>
          </div>
          <div class="P_Pi__thought__sp-sub-img-box">
            <picture>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
              <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_sp2.webp 2x" type="image/webp" class="C_image"/>
              <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_alt.jpg" alt="認定こども園 ピアニィ道教寺 サブ画像3" class="C_image lazyload"/>
            </picture>
          </div>
        </div>
      </div>
      <div class="P_Pi__thought__img-container pc-only">
        <div class="P_Pi__thought__sub-img-box">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_0_alt.jpg" alt="認定こども園 ピアニィ道教寺 サブ画像2" class="C_image lazyload"/>
          </picture>
        </div>
        <div class="P_Pi__thought__sub-img-box">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_small_1_alt.jpg" alt="認定こども園 ピアニィ道教寺 サブ画像2" class="C_image lazyload"/>
          </picture>
        </div>
      </div>
    </div>
    <div class="P_Pi__thought__main-img-box pc-only">
      <picture>
        <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
        <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
        <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_sp2.webp 2x" type="image/webp" class="C_image"/>
        <img src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/top-sub/piani_large_alt.jpg" alt="認定こども園 ピアニィ道教寺 サブ画像1" class="C_image lazyload"/>
      </picture>
    </div>
  </div>
</section>
<section class="myFeatures">
  <div class="P_Pi__features__wrap">
    <div class="P_Pi__features__title-section">
    </div>
    <p class="P_Pi__features__title-en">EDUCATIONAL PRINCIPLES</p>
    <p class="P_Pi__features__title-ja">園の特徴</p>
    <div class="P_Pi__features__inner pc-tab-only">
      <div class="P_Pi__features__left">
        <div class="P_Pi__features__img-box play">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_alt.jpg" alt="特色(遊び)バナー画像" class="C_image lazyload"/>
          </picture>
          <div class="P_Pi__features__number-box play">
            <p class="P_Pi__features__number">01</p>
            <div class="P_Pi__features__border play"></div>
            <div class="P_Pi__features__sub-title-box play">
              <div class="P_Pi__features__sub-title-ja">遊び・学び</div>
              <div class="P_Pi__features__section"></div>
              <div class="P_Pi__features__sub-title-en">PLAY・LEARN</div>
            </div>
          </div>
          <%= link_to "", features_piani_index_path(:anchor => "play"), class:"U_link"%>
        </div>
        <div class="P_Pi__features__img-box environment">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_alt.jpg" alt="特色(環境)バナー画像" class="C_image lazyload"/>
          </picture>
          <div class="P_Pi__features__number-box environment">
            <p class="P_Pi__features__number">03</p>
            <div class="P_Pi__features__border environment"></div>
            <div class="P_Pi__features__sub-title-box environment">
              <div class="P_Pi__features__sub-title-ja">環境</div>
              <div class="P_Pi__features__section"></div>
              <div class="P_Pi__features__sub-title-en">ENVIRONMENT</div>
            </div>
          </div>
          <%= link_to "", features_piani_index_path(:anchor => "environment"), class:"U_link"%>
        </div>
        <div class="P_Pi__features__img-box expression">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_alt.jpg" alt="特色(表現)バナー画像" class="C_image lazyload"/>
          </picture>
          <div class="P_Pi__features__number-box expression">
            <p class="P_Pi__features__number">04</p>
            <div class="P_Pi__features__border expression"></div>
            <div class="P_Pi__features__sub-title-box expression">
              <div class="P_Pi__features__sub-title-ja vertical">表現</div>
              <div class="P_Pi__features__section reverse"></div>
              <div class="P_Pi__features__sub-title-en vertical">EXPRESSION</div>
            </div>
          </div>
          <%= link_to "", features_piani_index_path(:anchor => "expression"), class:"U_link"%>
        </div>
      </div>
      <div class="P_Pi__features__right">
        <div class="P_Pi__features__img-box courtesy">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_alt.jpg" alt="特色(礼儀)バナー画像" class="C_image lazyload"/>
          </picture>
          <div class="P_Pi__features__number-box courtesy">
            <p class="P_Pi__features__number">02</p>
            <div class="P_Pi__features__border courtesy"></div>
            <div class="P_Pi__features__sub-title-box courtesy">
              <div class="P_Pi__features__sub-title-ja">礼儀</div>
              <div class="P_Pi__features__section"></div>
              <div class="P_Pi__features__sub-title-en">COURTESY</div>
            </div>
          </div>
          <%= link_to "", features_piani_index_path(:anchor => "courtesy"), class:"U_link"%>
        </div>
        <div class="P_Pi__features__img-box together">
          <picture>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
            <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_sp2.webp 2x" type="image/webp" class="C_image"/>
            <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_alt.jpg" alt="特色(一緒に)バナー画像" class="C_image lazyload"/>
          </picture>
          <div class="P_Pi__features__number-box together">
            <p class="P_Pi__features__number">05</p>
            <div class="P_Pi__features__border together"></div>
            <div class="P_Pi__features__sub-title-box together">
              <div class="P_Pi__features__sub-title-ja">一緒に</div>
              <div class="P_Pi__features__section"></div>
              <div class="P_Pi__features__sub-title-en">TOGETHER</div>
            </div>
          </div>
          <%= link_to "", features_piani_index_path(:anchor => "together"), class:"U_link"%>
        </div>
      </div>
    </div>
    <div class="P_Pi__features__inner sp-only">
    <div id="JS_scroll-action-0_trigger">
      <div class="P_Pi__features__img-box" id="JS_scroll-action-0_target-0">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_play_alt.jpg" alt="特色(遊び)バナー画像" class="C_image lazyload"/>
        </picture>
        <div class="P_Pi__features__number-box">
          <p class="P_Pi__features__number">01</p>
        </div>
        <div class="P_Pi__features__sub-title-ja">遊び・学び</div>
        <div class="P_Pi__features__sub-title-en">PLAY・LEARN</div>
        <%= link_to "", features_piani_index_path(:anchor => "play"), class:"U_link"%>
      </div>
    </div>
    <div class="P_Pi__features__img-box" id="JS_scroll-action-1_target-0">
      <div id="JS_scroll-action-1_trigger" style="height:100%;">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_courtesy_alt.jpg" alt="特色(礼儀)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_Pi__features__number-box">
        <p class="P_Pi__features__number">02</p>
      </div>
      <div class="P_Pi__features__sub-title-ja">礼儀</div>
      <div class="P_Pi__features__sub-title-en">COURTESY</div>
      <%= link_to "", features_piani_index_path(:anchor => "courtesy"), class:"U_link"%>
    </div>
    <div class="P_Pi__features__img-box" id="JS_scroll-action-2_target-0">
      <div id="JS_scroll-action-2_trigger" style="height:100%;">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_environment_alt.jpg" alt="特色(環境)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_Pi__features__number-box">
        <p class="P_Pi__features__number">03</p>
      </div>
      <div class="P_Pi__features__sub-title-ja">環境</div>
      <div class="P_Pi__features__sub-title-en">ENVIRONMENT</div>
      <%= link_to "", features_piani_index_path(:anchor => "environment"), class:"U_link"%>
    </div>
    <div class="P_Pi__features__img-box" id="JS_scroll-action-3_target-0">
      <div id="JS_scroll-action-3_trigger" style="height:100%;">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_expression_alt.jpg" alt="特色(表現)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_Pi__features__number-box">
        <p class="P_Pi__features__number">04</p>
      </div>
      <div class="P_Pi__features__sub-title-ja">表現</div>
      <div class="P_Pi__features__sub-title-en">EXPRESSION</div>
      <%= link_to "", features_piani_index_path(:anchor => "expression"), class:"U_link"%>
    </div>
    <div class="P_Pi__features__img-box" id="JS_scroll-action-4_target-0">
      <div id="JS_scroll-action-4_trigger" style="height:100%;">
        <picture>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_top_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_top_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image"/>
          <source data-srcset="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_sp2.webp 2x" type="image/webp" class="C_image"/>
          <img src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_dummy.webp" data-src="https://dazq5oer2h0ku.cloudfront.net/images/features/piani_together_alt.jpg" alt="特色(一緒に)バナー画像" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="P_Pi__features__number-box">
        <p class="P_Pi__features__number">05</p>
      </div>
      <div class="P_Pi__features__sub-title-ja">一緒に</div>
      <div class="P_Pi__features__sub-title-en">TOGETHER</div>
      <%= link_to "", features_piani_index_path(:anchor => "together"), class:"U_link"%>
    </div>
  </div>
</section>
<div class="C_index__section__wrap">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1500 50" preserveAspectRatio="none" class="C_index__section__wave">
    <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
  </svg>
</div>
<%= render partial: 'shared/index', locals:{links: @links, slider_items: @slider_items, name_items: @name_items}%>
<%= render partial: 'shared/footer', locals:{footer_item: @footer_item, footer_lists: @footer_lists, footer_texts: @footer_texts, side_bar: false }%>
