<%= render partial: 'shared/header', locals:{header_items: @header_items, header_lists: @header_lists}%>
<section class="KeyVisual">
  <%#-- イメージコンテナー --%>
  <div id="JS_smoothScroll_target-0"></div>
  <div class="P_Pi__kv" id="JS_scroll-to-top_trigger-0">
    <div class="C_image__top-kv__piani"></div>
    <div class="C_image__piani-kv"></div>
    <div class="P_Pi__kv__cloud1">
      <div class="C_image__logo-cloud1"></div>
    </div>
    <div class="P_Pi__kv__cloud2">
      <div class="C_image__logo-cloud2"></div>
    </div>
    <div class="P_Pi__kv__cloud3">
      <div class="C_image__logo-cloud3"></div>
    </div>
    <p class="P_Pi__kv__side-text">
      Grow kindness<br>
      and compassion.<br>
      Cherish compassion.
    </p>
    <h1 class="P_Pi__kv__title">Piani</h1>
    <h2 class="P_Pi__kv__sub-title">dokyoji</h2>
    <p class="P_Pi__kv__L-star">★</p>
    <p class="P_Pi__kv__L-triangle-1 pc-tab-only">▲</p>
    <p class="P_Pi__kv__L-triangle-2">▲</p>
    <p class="P_Pi__kv__L-square">■</p>
    <p class="P_Pi__kv__L-circle pc-tab-only">●</p>
    <p class="P_Pi__kv__RT-star-1">★</p>
    <p class="P_Pi__kv__RT-star-2">★</p>
    <p class="P_Pi__kv__RT-triangle">▲</p>
    <p class="P_Pi__kv__RT-square">■</p>
    <p class="P_Pi__kv__RT-circle">●</p>
    <p class="P_Pi__kv__RB-star">★</p>
    <p class="P_Pi__kv__RB-triangle">▲</p>
    <p class="P_Pi__kv__RB-circle">●</p>
  </div>
</section>
<section class="Thought">
  <div class="P_Pi__thought__wrap">
    <div class="P_Pi__thought__inner-left">
      <div class="P_Pi__thought__title-box">
        <h1 class="P_Pi__thought__title-en">THOUGHT</h1>
        <div class="P_Pi__thought__deco-line-ver"></div>
        <h1 class="P_Pi__thought__title-ja">当園について</h1>
      </div>
      <h2 class="P_Pi__thought__sub-title pc-tab-only">
        園名「ピアニィ」に込められた願い
      </h2>
      <h2 class="P_Pi__thought__sub-title sp-only">
        「ピアニィ」に込められた願い
      </h2>
      <p class="P_Pi__thought__text">
        ピアニィとは<br class="sp-only">
        「小さい」「かわいい」を意味します。<br>
        音楽の楽譜などで見るmp（メゾピアノ）やpp（ピアニシモ）という記号のpと同じです。<br>
        この名前には、ひとり一人の子ども達が音符のように大事な音を奏で、<br class="pc-tab-only">
        ひとり一人が無くてはならない存在であり、ちがう音符を互いに大切にすることで<br class="pc-tab-only">
        素晴らしいメロディ・ハーモニーになるとの思いが込められています。<br>
        子ども達ひとり一人が自分を音で表現し、その音を暖かく大切に見守り、<br class="pc-tab-only">
        そして子ども達が互いの音を認めあえる園でありたいという思いが込められています。
      </p>
      <div class="P_Pi__thought__sp-img-container tab-sp-only">
        <div class="P_Pi__thought__sp-main-img-box">
          <div class="C_image__top-sub__piani__large"></div>
        </div>
        <div class="P_Pi__thought__sp-sub-img-container">
          <div class="P_Pi__thought__sp-sub-img-box">
            <div class="C_image__top-sub__piani__small_0"></div>
          </div>
          <div class="P_Pi__thought__sp-sub-img-box">
            <div class="C_image__top-sub__piani__small_1"></div>
          </div>
        </div>
      </div>
      <div class="P_Pi__thought__img-container pc-only">
        <div class="P_Pi__thought__sub-img-box">
          <div class="C_image__top-sub__piani__small_0"></div>
        </div>
        <div class="P_Pi__thought__sub-img-box">
          <div class="C_image__top-sub__piani__small_1"></div>
        </div>
      </div>
    </div>
    <div class="P_Pi__thought__main-img-box pc-only">
      <div class="C_image__top-sub__piani__large"></div>
    </div>
  </div>
</section>
<section class="myFeatures">
  <div class="P_Pi__features__wrap">
    <div class="P_Pi__features__title-section">
    </div>
    <p class="P_Pi__features__title-en">EDUCATIONAL PRINCIPLES</p>
    <p class="P_Pi__features__title-ja">園の特徴</p>
    <div class="P_Pi__features__inner pc-tab-only">
      <div class="P_Pi__features__left">
        <div class="P_Pi__features__img-box play">
          <div class="C_image__features__piani__play"></div>
          <div class="P_Pi__features__number-box play">
            <p class="P_Pi__features__number">01</p>
            <div class="P_Pi__features__border play"></div>
            <div class="P_Pi__features__sub-title-box play">
              <div class="P_Pi__features__sub-title-ja">遊び・学び</div>
              <div class="P_Pi__features__section"></div>
              <div class="P_Pi__features__sub-title-en">PLAY・LEARN</div>
            </div>
          </div>
        </div>
        <div class="P_Pi__features__img-box environment">
          <div class="C_image__features__piani__environment"></div>
          <div class="P_Pi__features__number-box environment">
            <p class="P_Pi__features__number">03</p>
            <div class="P_Pi__features__border environment"></div>
            <div class="P_Pi__features__sub-title-box environment">
              <div class="P_Pi__features__sub-title-ja">環境</div>
              <div class="P_Pi__features__section"></div>
              <div class="P_Pi__features__sub-title-en">ENVIRONMENT</div>
            </div>
          </div>
        </div>
        <div class="P_Pi__features__img-box expression">
          <div class="C_image__features__piani__expression"></div>
          <div class="P_Pi__features__number-box expression">
            <p class="P_Pi__features__number">04</p>
            <div class="P_Pi__features__border expression"></div>
            <div class="P_Pi__features__sub-title-box expression">
              <div class="P_Pi__features__sub-title-ja vertical">表現</div>
              <div class="P_Pi__features__section reverse"></div>
              <div class="P_Pi__features__sub-title-en vertical">EXPRESSION</div>
            </div>
          </div>
        </div>
      </div>
      <div class="P_Pi__features__right">
        <div class="P_Pi__features__img-box courtesy">
          <div class="C_image__features__piani__courtesy"></div>
          <div class="P_Pi__features__number-box courtesy">
            <p class="P_Pi__features__number">02</p>
            <div class="P_Pi__features__border courtesy"></div>
            <div class="P_Pi__features__sub-title-box courtesy">
              <div class="P_Pi__features__sub-title-ja">礼儀</div>
              <div class="P_Pi__features__section"></div>
              <div class="P_Pi__features__sub-title-en">COURTESY</div>
            </div>
          </div>
        </div>
        <div class="P_Pi__features__img-box together">
          <div class="C_image__features__piani__together"></div>
          <div class="P_Pi__features__number-box together">
            <p class="P_Pi__features__number">05</p>
            <div class="P_Pi__features__border together"></div>
            <div class="P_Pi__features__sub-title-box together">
              <div class="P_Pi__features__sub-title-ja">一緒に</div>
              <div class="P_Pi__features__section"></div>
              <div class="P_Pi__features__sub-title-en">TOGETHER</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="P_Pi__features__inner sp-only">
    <div id="JS_scroll-action-0_trigger">
      <div class="P_Pi__features__img-box" id="JS_scroll-action-0_target-0">
        <div class="C_image__features__piani__play"></div>
        <div class="P_Pi__features__number-box">
          <p class="P_Pi__features__number">01</p>
        </div>
        <div class="P_Pi__features__sub-title-ja">遊び・学び</div>
        <div class="P_Pi__features__sub-title-en">PLAY・LEARN</div>
      </div>
    </div>
    <div class="P_Pi__features__img-box" id="JS_scroll-action-1_target-0">
      <div id="JS_scroll-action-1_trigger" style="height:100%;">
        <div class="C_image__features__piani__courtesy"></div>
      </div>
      <div class="P_Pi__features__number-box">
        <p class="P_Pi__features__number">02</p>
      </div>
      <div class="P_Pi__features__sub-title-ja">礼儀</div>
      <div class="P_Pi__features__sub-title-en">COURTESY</div>
    </div>
    <div class="P_Pi__features__img-box" id="JS_scroll-action-2_target-0">
      <div id="JS_scroll-action-2_trigger" style="height:100%;">
        <div class="C_image__features__piani__environment"></div>
      </div>
      <div class="P_Pi__features__number-box">
        <p class="P_Pi__features__number">03</p>
      </div>
      <div class="P_Pi__features__sub-title-ja">環境</div>
      <div class="P_Pi__features__sub-title-en">ENVIRONMENT</div>
    </div>
    <div class="P_Pi__features__img-box" id="JS_scroll-action-3_target-0">
      <div id="JS_scroll-action-3_trigger" style="height:100%;">
        <div class="C_image__features__piani__expression"></div>
      </div>
      <div class="P_Pi__features__number-box">
        <p class="P_Pi__features__number">04</p>
      </div>
      <div class="P_Pi__features__sub-title-ja">表現</div>
      <div class="P_Pi__features__sub-title-en">EXPRESSION</div>
    </div>
    <div class="P_Pi__features__img-box" id="JS_scroll-action-4_target-0">
      <div id="JS_scroll-action-4_trigger" style="height:100%;">
        <div class="C_image__features__piani__together"></div>
      </div>
      <div class="P_Pi__features__number-box">
        <p class="P_Pi__features__number">05</p>
      </div>
      <div class="P_Pi__features__sub-title-ja">一緒に</div>
      <div class="P_Pi__features__sub-title-en">TOGETHER</div>
    </div>
  </div>
</section>
<section class="Contents">
  <ul class="P_Pi__contents__wrap">
    <p class="P_Pi__contents__top-title-en">CONTENTS</p>
    <li class="P_Pi__contents__item-box">
      <div class="P_Pi__contents__number pc-tab-only">1.</div>
      <div id="JS_scroll-action-5_trigger">
        <div class="P_Pi__contents__img-box" id="JS_scroll-action-5_target-0">
          <div class="C_image__about__banner"></div>
          <h1 class="P_Pi__contents__title-en">ABOUT</h1>
          <svg class="P_Pi__contents__deco-line" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1 100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pi__contents__title-box">
            <h1 class="P_Pi__contents__title-ja">当園について</h1>
          </div>
        </div>
      </div>
      <div class="P_Pi__contents__text-box">
        <p class="P_Pi__contents__text">
          園名「ピアニィ」に込められた思い
        </p>
      </div>
    </li>
    <li class="P_Pi__contents__item-box">
      <div class="P_Pi__contents__number pc-tab-only">2.</div>
      <div id="JS_scroll-action-6_trigger">
        <div class="P_Pi__contents__img-box" id="JS_scroll-action-6_target-0">
          <div class="C_image__event__banner"></div>
          <h1 class="P_Pi__contents__title-en">EVENT</h1>
          <svg class="P_Pi__contents__deco-line" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1 100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pi__contents__title-box">
            <h1 class="P_Pi__contents__title-ja">年間行事</h1>
          </div>
        </div>
      </div>
      <div class="P_Pi__contents__text-box">
        <p class="P_Pi__contents__text">
          遠足や運動会のほかに、<br>
          日本文化を楽しむ行事が満載
        </p>
      </div>
    </li>
    <li class="P_Pi__contents__item-box">
      <div class="P_Pi__contents__number pc-tab-only">3.</div>
      <div id="JS_scroll-action-7_trigger">
        <div class="P_Pi__contents__img-box" id="JS_scroll-action-7_target-0">
          <div class="C_image__eat-education__banner"></div>
          <h1 class="P_Pi__contents__title-en">FOOD<br>EDUCATION</h1>
          <svg class="P_Pi__contents__deco-line" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1 100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pi__contents__title-box">
            <h1 class="P_Pi__contents__title-ja">食育</h1>
          </div>
        </div>
      </div>
      <div class="P_Pi__contents__text-box">
        <p class="P_Pi__contents__text">
          毎日の「おいしいね」を大切に
        </p>
      </div>
    </li>
    <li class="P_Pi__contents__item-box">
      <div class="P_Pi__contents__number pc-tab-only">4.</div>
      <div id="JS_scroll-action-8_trigger">
        <div class="P_Pi__contents__img-box" id="JS_scroll-action-8_target-0">
          <div class="C_image__philosophy__banner"></div>
          <h1 class="P_Pi__contents__title-en">PHILOSOPHY</h1>
          <svg class="P_Pi__contents__deco-line" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1 100%">
            <line x1="50%" y1="1%" x2="50%" y2="100%"/>
          </svg>
          <div class="P_Pi__contents__title-box">
          <h1 class="P_Pi__contents__title-ja">理念</h1>
          </div>
        </div>
      </div>
      <div class="P_Pi__contents__text-box">
        <p class="P_Pi__contents__text">
          「友・遊・優」大事にしたい3つの心
        </p>
      </div>
    </li>
  </ul>
</section>
<section class="photoGallery"  id="JS_scroll-to-top_trigger-1">
  <div class="P_Pi__photo-gallery__wrap">
    <svg class="pc-only" width="100%" height="100%" viewBox="0 0 1500 700" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
            <path  d="M-86.586,544.608C-77.094,524.116 -55.196,495.757 -41.911,479.906C-11.833,444.017 10.451,422.625 45.557,390.549C163.011,283.231 320.443,206.483 482.338,218.969C549.179,224.123 621.317,246.698 670.793,295.694C724.424,348.804 714.277,421.149 692.094,460.286C670.416,498.53 626.052,527.31 580.019,513.154C505.865,490.349 498.059,396.772 516.05,342.567C522.846,322.093 532.968,302.891 545.364,285.314C579.182,237.364 628.518,201.41 679.663,173.908C739.935,141.496 799.359,118.401 875.505,110.331C909.301,106.75 944.015,106.888 977.852,109.387C989.652,110.259 1001.44,111.428 1013.15,113.154C1057.78,119.734 1095.98,125.478 1140.47,156.146" style="fill:none;stroke:#fff;stroke-width:100px;"/>
        </g>
    </svg>
    <svg class="tab-only" width="100%" height="100%" viewBox="0 0 1025 700" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
            <path d="M-86.586,544.608C89.041,175.806 328.852,242.418 398.927,335.437C465.275,423.509 398.146,526.523 313.064,518.659C223.583,510.389 206.127,436.878 227.202,373.182C251.679,299.207 358.299,153.787 557.382,153.787C695.542,153.787 743.157,171.874 800.138,240.287" style="fill:none;stroke:#fff;stroke-width:100px;"/>
        </g>
    </svg>
    <svg class="sp-only" width="100%" height="100%" viewBox="0 0 600 700" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g transform="matrix(1.28112,0,0,1.27168,99.9272,-13.5684)">
            <path d="M-99.075,561.123C-55.363,240.289 168.34,240.778 245.155,331.505C313.064,411.714 279.202,515.291 210.029,518.659C129.63,522.574 89.822,467.546 89.822,380.259C89.822,257.804 171.872,185.066 278.719,177.378C322.431,174.232 391.121,182.096 433.272,248.937" style="fill:none;stroke:#fff;stroke-width:100px;"/>
        </g>
    </svg>
    <h1 class="P_Pi__photo-gallery__title">PHOTO GALLERY</h1>
    <div class="P_Pi__photo-gallery__deco-container">
      <div class="P_Pi__photo-gallery__deco-box left"></div>
      <div class="P_Pi__photo-gallery__deco-box-text left">PLAY</div>
      <div class="P_Pi__photo-gallery__deco-box right"></div>
      <div class="P_Pi__photo-gallery__deco-box-text right">LEARN</div>
    </div>
    <div class="P_Pi__photo-gallery__img-slider">
      <ul class="P_Pi__photo-gallery__slide-group">
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_1"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_2"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_3"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_4"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_5"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_6"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
      </ul>
      <ul class="P_Pi__photo-gallery__slide-group">
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_1"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_2"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_3"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_4"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_5"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
        <li class="P_Pi__photo-gallery__img-circle">
          <div class="C_image__photo-gallery__parti__slider_6"></div>
          <%= link_to "", photo_gallery_piani_index_path, class:"U_link circle"%>
        </li>
      </ul>
    </div>
    <div class="P_Pi__photo-gallery__btn">
      <div class="P_Pi__photo-gallery__btn-text">VIEW MORE</div>
    </div>
  </div>
</section>
<section class="Nav">
  <div class="P_Pi__nav__wrap">
    <div class="P_Pi__nav__top-wrap">
      <div class="P_Pi__nav__belong-box" id="JS_scroll-action-9_trigger">
        <div class="P_Pi__nav__title-box left">
          <div class="P_Pi__nav__title-ja">在園の方へ
            <svg class="P_Pi__nav__deco-under-line" width="110" height="12" viewBox="0 0 1 100%" id="JS_scroll-action-9_target-0">
              <polyline points="1,10 95,10 90,5" fill="transparent"/>
            </svg>
          </div>
          <div class="P_Pi__nav__read">READ MORE</div>
          <%= link_to "",  belong_piani_index_path, class:"U_link"%>
        </div>
        <div class="P_Pi__nav__img-box">
          <div class="P_Pi__nav__trim-img">
            <div class="C_image__belong__banner"></div>
          </div>
          <div class="P_Pi__nav__deco-top-left"></div>
          <div class="P_Pi__nav__deco-top-right"></div>
          <div class="P_Pi__nav__deco-bottom-left"></div>
          <div class="P_Pi__nav__deco-bottom-right"></div>
        </div>
      </div>
      <svg class="P_Pi__nav__deco-line-ver pc-tab-only" x="0px" y="0px" width="1px" height="120%" viewBox="0 0 1 100%">
        <line x1="0" y1="0.5" x2="1" y2="100%"/>
      </svg>
      <div class="P_Pi__nav__admission-box" id="JS_scroll-action-10_trigger">
        <div class="P_Pi__nav__birds">
          <div class="C_image__birds"></div>
        </div>
        <div class="P_Pi__nav__title-box right">
          <div class="P_Pi__nav__title-ja">入園希望の方へ
            <svg class="P_Pi__nav__deco-under-line right" width="110" height="12" viewBox="0 0 1 100%" id="JS_scroll-action-10_target-0">
              <polyline points="1,10 95,10 90,5" fill="transparent"/>
            </svg>
          </div>
          <div class="P_Pi__nav__read">READ MORE</div>
          <%= link_to "",  admission_piani_index_path, class:"U_link"%>
        </div>
        <div class="P_Pi__nav__img-box admission">
          <div class="P_Pi__nav__trim-img">
            <div class="C_image__admission__banner"></div>
          </div>
          <div class="P_Pi__nav__deco-top-left"></div>
          <div class="P_Pi__nav__deco-top-right"></div>
          <div class="P_Pi__nav__deco-bottom-left"></div>
          <div class="P_Pi__nav__deco-bottom-right"></div>
        </div>
      </div>
    </div>
    <div class="P_Pi__nav__under-wrap">
      <div class="P_Pi__nav__access-title-box" id="JS_scroll-action-11_target-0">
        <div id="JS_scroll-action-11_trigger" style="height:100%;">
          <div class="P_Pi__nav__under-title-en">ACCESS</div>
          <div class="P_Pi__nav__under-title-ja">アクセス</div>
          <%= link_to "", about_piani_index_path(:anchor => "access"), class:"U_link"%>
        </div>
      </div>
      <div class="P_Pi__nav__map-title-box" id="JS_scroll-action-12_target-0">
        <div id="JS_scroll-action-12_trigger" style="height:100%;">
          <div class="P_Pi__nav__under-title-en">MAP</div>
          <div class="P_Pi__nav__under-title-ja">マップ</div>
          <%= link_to "", about_piani_index_path(:anchor => "map"), class:"U_link"%>
        </div>
      </div>
      <div class="P_Pi__nav__info-title-box" id="JS_scroll-action-13_target-0">
        <div id="JS_scroll-action-13_trigger" style="height:100%;">
          <div class="P_Pi__nav__under-title-en">INFOMATION</div>
          <div class="P_Pi__nav__under-title-ja">インフォメーション</div>
          <%= link_to "", about_piani_index_path(:anchor => "map"), class:"U_link"%>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Recruit"  id="JS_scroll-to-top_trigger-2">
  <div id="JS_scroll-action-14_trigger">
    <div class="P_Pi__recruit">
      <svg class="P_Pi__recruit__deco-line" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1 100%">
        <line class="P_Pi__recruit__deco-line-1" x1="0" y1="2%" x2="100%" y2="2%"/>
        <line class="P_Pi__recruit__deco-line-2" x1="0" y1="4%" x2="100%" y2="4%"/>
        <line class="P_Pi__recruit__deco-line-1" x1="0" y1="6%" x2="100%" y2="6%"/>
        <line class="P_Pi__recruit__deco-line-1" x1="0" y1="94%" x2="100%" y2="94%"/>
        <line class="P_Pi__recruit__deco-line-2" x1="0" y1="96%" x2="100%" y2="96%"/>
        <line class="P_Pi__recruit__deco-line-1" x1="0" y1="98%" x2="100%" y2="98%"/>
      </svg>
      <div class="P_Pi__recruit__back left"></div>
      <div class="P_Pi__recruit__back right"></div>
      <div class="P_Pi__recruit__title-ja">就職希望の方へ</div>
      <div class="P_Pi__recruit__title-en">RECRUITING</div>
      <div class="P_Pi__recruit__sub-title-en">Let's work together!</div>
      <div class="P_Pi__recruit__read">READ MORE
        <svg class="P_Pi__recruit__deco-line-read" x="0px" y="0px" width="250" height="110" viewBox="0 0 1 100%">
          <polyline class="P_Pi__recruit__deco-line-read-1" points="200,50 200,1 1,1 1,60" fill="transparent" id="JS_scroll-action-14_target-0"/>
          <polyline class="P_Pi__recruit__deco-line-read-2" points="1,60 220,60 220,55 230,60 220,65 220,60" fill="transparent" id="JS_scroll-action-14_target-1"/>
        </svg>
        <%= link_to "", recruit_piani_index_path, class:"U_link"%>
      </div>
      <div class="P_Pi__recruit__text pc-only">
        子ども達を中心として<br>
        子ども達の未来を考えてゆく<br>
        仲間を探しています。
        <svg class="P_Pi__recruit__deco-line-ver pc-tab-only" x="0px" y="0px" width="170%" height="120%" viewBox="0 0 1 100%">
          <path fill="none" d="M 10,3 Q 20,13 10, 23 t 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20" />
          <path fill="none" d="M 180,3 Q 190,13 180, 23 t 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20 0,20" />
        </svg>
      </div>
      <div class="P_Pi__recruit__img-frame-M pc-only">
        <div class="P_Pi__recruit__img-box-M">
          <div class="C_image__recruit__photo-main"></div>
        </div>
      </div>
      <div class="P_Pi__recruit__img-frame-S pc-only">
        <div class="P_Pi__recruit__img-box-S">
          <div class="C_image__recruit__photo-sub"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Others">
  <div class="P_Pi__others__wrap">
    <div class="P_Pi__others__inner left">
      <div class="P_Pi__others__title-en">SUPPORT</div>
      <div id="JS_scroll-action-15_trigger">
        <div class="P_Pi__others__img-frame">
          <div class="P_Pi__others__img-box" id="JS_scroll-action-15_target-0">
            <div class="C_image__support__banner"></div>
            <div class="P_Pi__others__title-ja">子育て支援</div>
            <%= link_to "", support_piani_index_path, class:"U_link"%>
          </div>
        </div>
      </div>
    </div>
    <div class="P_Pi__others__inner right">
      <div class="P_Pi__others__title-en">PREPARATION</div>
      <div id="JS_scroll-action-16_trigger">
        <div class="P_Pi__others__img-frame">
          <div class="P_Pi__others__img-box" id="JS_scroll-action-16_target-0">
            <div class="C_image__for-admission__banner"></div>
            <div class="P_Pi__others__title-ja">入園に向けて</div>
            <%= link_to "", for_admission_piani_index_path, class:"U_link"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
<%= render partial: 'shared/footer', locals:{footer_item: @footer_item, footer_lists: @footer_lists, footer_texts: @footer_texts, side_bar: false }%>
