<header>
  <div class="L_header--fixed U_py-4 U_px-20 L_flex--between A_isClear JS_scroll_isShow_target isHide">
    <div class="C_box--logo">
      <%= link_to root_path, class: 'L_inner--full' do %>
        <%= image_tag '/images/logo/nanairo_logo.png', class: 'L_inner--full ' %>
      <% end %>
    </div>
    <button class="C_button--hamberger JS_menu-open_trigger JS_scroll_isPassive_target">
      <span class="C_button--hamberger__material"></span>
      <span class="C_button--hamberger__material"></span>
      <span class="C_button--hamberger__material"></span>
    </button>
  </div>
    <nav id="site-NavHeader-navigation">
      <ul class="C_list__nav-menu_sp JS_menu-open_target JS_scroll_isClose_target">
        <li class="C_list__nav-menu_sp__item">
          <%= link_to '七彩学舎について', root_path, class: 'C_list__nav-menu_sp__link-text' %>
        </li>
        <li class="C_list__nav-menu_sp__item">
          <%= link_to '入園をご希望の方へ', root_path, class: 'C_list__nav-menu_sp__link-text' %>
        </li>
        <li class="C_list__nav-menu_sp__item">
          <%= link_to '就職希望の方へ', root_path, class: 'C_list__nav-menu_sp__link-text' %>
        </li>
        <li class="C_list__nav-menu_sp__item">
          <%= link_to 'パルティ道教寺', root_path, class: 'C_list__nav-menu_sp__link-text' %>
        </li>
        <li class="C_list__nav-menu_sp__item">
          <%= link_to 'ピアニィ道教寺', root_path, class: 'C_list__nav-menu_sp__link-text' %>
        </li>
        <li class="C_list__nav-menu_sp__item">
          <%= link_to 'お問い合わせ', root_path, class: 'C_list__nav-menu_sp__link-text' %>
        </li>
      </ul>
    </nav>
</header>
