<div class="<%= cl %>__shabon U_abs-X<%= x %>-Y<%= y %>">
  <div class="C_box__shabon_<%= size %>">
    <div class="A_shabon-roll-<%= time %><%= ptn %> <%= jscl %>">
      <div class="A_shabon-hori-<%= time %><%= ptn %> <%= jscl %>">
        <div class="A_shabon-ver-<%= time %><%= ptn %> <%= jscl %>">
          <div class="C_image__shabon-<%= dir %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
