<div class="JS_click_flip_trigger"></div>
<div class="A_toFlip">
  <article class="P_Staff-intro">
    <%#-- カード表 --%>
    <div class="JS_click_flip_target_front">
      <div class="P_Staff-intro__front">
        <div class="P_Staff-intro__front-top">
          <div class="P_Staff-intro__front-name">
            <h1><%= name %></h1>
            <h2><%= name_en %></h2>
          </div>
          <ul class="P_Staff-intro__front-info">
            <li>・年齢　：　<%= age %>歳</li>
            <li>・配属　：　<%= post %></li>
            <li>・勤務形態　：　<%= work_style %></li>
            <li>・所持資格等　：　<%= license %></li>
          </ul>
        </div>
        <div class="P_Staff-intro__front-catch">
          <h1><%= catch_copy %></h1>
        </div>
        <div class="P_Staff-intro__front-catch-sentense">
          <h4>　<%= catch_sentense %></h4>
        </div>
        <div class="P_Staff-intro__front-bottom">
          <div class="P_Staff-intro__front-holiday">
            <h3>休日の過ごし方</h3>
            <h4>　<%= holiday %></h4>
          </div>
          <div class="P_Staff-intro__front-favorite">
            <h3>職場の気に入っているところ</h3>
            <h4><%= favarite %></h4>
          </div>
        </div>
      </div>
    <%#-- フリップカード裏 --%>
    <div class="JS_click_flip_target_back">
      <div class="P_Staff-intro__back">
        <h1>schedule</h1>
      </div>
    </div>
  </article>
</div>
