<!DOCTYPE html>
<html>
  <head>
	  <meta name="viewport" content="width=device-width,initial-scale=1.0">
	  <meta name="keywords" content="保育所,幼稚園,保育園,社会福祉法人,七彩学舎,なないろがくしゃ,大阪府,貝塚市,認定こども園,パルティ,parti,ピアニィ,piani,道教寺">
	  <title>社会福祉法人　七彩学舎</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta nam>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
